@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import "~select2/dist/css/select2.min.css";
@import "~bootstrap-tokenfield/dist/css/bootstrap-tokenfield.min.css";
@import "~bootstrap-tokenfield/dist/css/tokenfield-typeahead.min.css";
@import "~json-human/css/json.human.css";
@import "~spin.js/spin.css";
@import "~backgrid/lib/backgrid.min.css";
@import "~backgrid-paginator/backgrid-paginator.min.css";
@import "~backgrid-filter/backgrid-filter.min.css";
@import "~backgrid-grouped-columns/backgrid-grouped-columns.css";
@import "~backgrid-columnmanager/lib/Backgrid.ColumnManager.css";

$family-sans-serif: "Nunito", sans-serif;
$tooltip-background-opacity: 1;
$widescreen-enabled: false;
$fullhd-enabled: false;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

$turquoise: #40E0D0;
$nightrider: #333333;
$eclipse: #393939;
$dark: $eclipse;
$primary: $turquoise;
$link: $primary;
$link-hover: #3ACFBC;

$card-content-padding: 0.5rem;
$card-background-color: $dark;
$card-color: white;
$card-media-margin: 0.5rem;
$card-content-background-color: $dark;

$box-color: white;
$box-background-color: $dark;
$box-padding: 0.75em;

$navbar-background-color: $dark;
$navbar-item-color: $link;
$navbar-item-hover-background-color: $nightrider;
$navbar-dropdown-background-color: $dark;
$navbar-dropdown-item-hover-color: $nightrider;

@import "~bulma/bulma";
@import "~bulma-tooltip/src/sass/index";
@import "select2";

html { font-size: 14px; }
figure, .card-content { border-radius: $radius-large; }
figure { border: 4px solid white; }
