@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import "~select2/dist/css/select2.min.css";
@import "~json-human/css/json.human.css";
@import "~spin.js/spin.css";
@import "~backgrid/lib/backgrid.min.css";
@import "~backgrid-paginator/backgrid-paginator.min.css";
@import "~backgrid-filter/backgrid-filter.min.css";
@import "~backgrid-grouped-columns/backgrid-grouped-columns.css";
@import "~backgrid-columnmanager/lib/Backgrid.ColumnManager.css";

$family-sans-serif: "Nunito", sans-serif;
$tooltip-background-opacity: 1;
$widescreen-enabled: false;
$fullhd-enabled: false;
$widescreen-enabled: false;

$turquoise: #51bdb4; // primary
$grey-darker: #2d3f50; // background
$black-ter: #233140; // hover background
$grey-light: #3acfbc; // link hover
$input-border-color: #dbdbdb;

$link: $turquoise;
$link-hover: $grey-light;
$button-text-color: $grey-darker;

$card-content-padding: 0.5rem;
$card-background-color: $grey-darker;
$card-color: white;
$card-media-margin: 0.5rem;
$card-content-background-color: $grey-darker;
$card-shadow: none;

$box-color: white;
$box-background-color: $grey-darker;
$box-padding: 0.75em;

$navbar-background-color: $grey-darker;
$navbar-item-color: $link;
$navbar-item-hover-color: $grey-light;
$navbar-item-hover-background-color: $black-ter;

$tabs-link-color: $link;
$tabs-link-hover-color: $grey-light;
$tabs-toggle-link-hover-background-color: $black-ter;
$tabs-toggle-link-active-color: $grey-darker;
$border: $turquoise;

$footer-padding: 0.5rem;
$footer-background-color: $grey-darker;
$footer-color: white;

@import "~bulma/bulma";
@import "~bulma-tooltip/src/sass/index";
@import "~bulma-extensions/bulma-checkradio/src/sass/index";
@import "~bulma-extensions/bulma-tagsinput/src/sass/index";
@import '~@creativebulma/bulma-collapsible/src/sass/index';
@import "select2";
@import "css/highlight";

figure { border: 4px solid white; }

#main-help { display: block; }
.section { padding: 1.5em 1.5em; }

.highlight > pre { background-color: #2f1e2e; }
div.prompt { display: none; }
a.anchor-link { display: none; }
.cell .input { line-height: 1em; height: auto; display: block; border: 0; }

#czContainer { display: block; }
.recordset { padding-bottom: 0.5em; margin-right: 0.75rem; }
