@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import "~select2/dist/css/select2.min.css";
@import "~bootstrap-tokenfield/dist/css/bootstrap-tokenfield.min.css";
@import "~bootstrap-tokenfield/dist/css/tokenfield-typeahead.min.css";
@import "~json-human/css/json.human.css";
@import "~spin.js/spin.css";
@import "~backgrid/lib/backgrid.min.css";
@import "~backgrid-paginator/backgrid-paginator.min.css";
@import "~backgrid-filter/backgrid-filter.min.css";
@import "~backgrid-grouped-columns/backgrid-grouped-columns.css";
@import "~backgrid-columnmanager/lib/Backgrid.ColumnManager.css";

$family-sans-serif: "Nunito", sans-serif;

/*
#393939
#99e4c0
#7ab197

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
*/

@import "~bulma/bulma";
