{% extends "../../webtzite/templates/base/header_footer.html" %}
{% block content %}
{% if alert %}
<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  {{ alert }}
</div>
{% else %}
<div class="container">
  <div class="row">
      <h1>MPContribs Interfaces</h1>
      <ul>
          <li><a href="{% url 'mpcontribs_rest_index' %}">REST API</a></li>
          <li><a href="{% url 'mpcontribs_explorer_index' %}">Explorer</a></li>
          <li>Contributed Explorers:
              <ul>
                  {% for l in a_tags %}
                  {% if forloop.counter0 %}
                  <li>In Preparation:</li>
                  {% else %}
                  <li>Released:</li>
                  {% endif %}
                  <ul>
                      {% for a_tag in l %}
                      <li><a href="{% url a_tag.name %}">{{ a_tag.title }}</a></li>
                      {% endfor %}
                  </ul>
                  {% endfor %}
              </ul>
          </li>
      </ul>
  </div>
</div>
{% endif %}
{% endblock %}
