<div class="row">

  <div class="col-md-6">

      <div class="row" style="margin-bottom: 10px">
          <div class="input-group input-group-sm" style="width: 50%;">
              <button id="clear_all" type="button" class="btn btn-primary btn-sm">Clear</button>
              <span class="input-group-addon">
                  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              </span>
              <input type="text" class="form-control" placeholder="enter solute or host-solute"
              id="searchinput" style="float: none;">
              <span class="input-group-addon" id="searchclear">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              </span>
          </div>
      </div>

      <div class="row">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          {% for contrib in contribs %}
          <div class="col-md-6 col-sm-8 col-lg-4" name="panel{{contrib.formula}}"
              style="padding-left: 1px; padding-right: 1px; margin-bottom: 3px;">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="heading{{ forloop.counter0 }}"
                  style="padding-left: 5px; padding-right: 5px">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion"
                     href="#collapse{{ forloop.counter0 }}" aria-expanded="true"
                     aria-controls="collapse{{ forloop.counter0 }}">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span>{{ contrib.formula }}</span>
                  </a>
                  <a role="button" class="btn btn-default btn-xs pull-right" target="_blank"
                     style="position:relative;margin-left:5px;margin-top:-2px;"
                     href="{% url 'mpcontribs_explorer_collection' 'materials' %}/{{ contrib.cid }}">
                    #{{ contrib.short_cid }}
                  </a>
                  <a role="button" class="btn btn-default btn-xs pull-right" target="_blank"
                     style="position:relative;margin-top:-2px;"
                     href="https://materialsproject.org/materials/{{ contrib.mp_id }}">
                    {{ contrib.mp_id }}
                  </a>
                </h4>
              </div>
              <div id="collapse{{ forloop.counter0 }}" class="panel-collapse collapse" role="tabpanel"
                   name="host" aria-labelledby="heading{{ forloop.counter0 }}">
                  <div id="table{{ forloop.counter0 }}">{{contrib.table|safe}}</div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

  </div>

  <div class="col-md-6">
    <div class="col-md-12"><div id="graphDif"></div></div>
    <div class="col-md-6"><div id="graphD0"></div></div>
    <div class="col-md-6"><div id="graphQ"></div></div>
  </div>

</div>
