[run]
branch = True
source = mpcontribs, mpweb_core
[report]
exclude_lines =
# Ignore coverage of code that requires the module to be executed.
  if __name__ == .__main__.:
omit =
  */python?.?/*
  */lib-python/?.?/*.py
  */lib_pypy/_*.py
  */site-packages/*
  *tests/*
  */versioneer.py
  */_version.py
