.git*
*.pyc
*.egg-info
__pycache__
.ipynb_checkpoints
.local
.ipython
.jupyter
.DS_Store
.dependabot
.cache
.tox

./cloudformation
./src

docs
build
dist
static
node_modules

mpcontribs-api/flasgger
mpcontribs-api/flask-mongorest
mpcontribs-api/marshmallow-mongoengine
mpcontribs-api/mimerender
mpcontribs-api/mpcontribs/api/swagger

mpcontribs-portal/mpcontribs/users/qmcdb
mpcontribs-portal/mpcontribs/portal/templates/notebooks
mpcontribs-portal/notebooks/*/data/*
