db/*
docker/*
docs/*
notebooks/*
test_files/*
*.swp
*.pyc
mpcontribs.egg-info
.ipynb_checkpoints/
.coverage
build/*
dist/*
mpcontribs/rest/static/*
mpcontribs/rest/apidoc.json
access.log
error.log
static/*
test_site.log
node_modules/*
npm-debug.log
mpcontribs-webtzite/webtzite/node_modules/*
mpcontribs-webtzite/webtzite/npm-debug.log
