[submodule "mpcontribs/users"]
	path = mpcontribs/users
	url = https://github.com/materialsproject/MPContribsUsers.git
	branch = master
[submodule "webtzite"]
	path = webtzite
	url = https://github.com/materialsproject/webtzite.git
	branch = master
[submodule "docker/mp-jupyter-docker"]
	path = docker/mp-jupyter-docker
	url = https://github.com/materialsproject/mp-jupyter-docker.git
	branch = mpcontribs
[submodule "docker/jupyterhub"]
	path = docker/jupyterhub
	url = https://github.com/tschaume/jupyterhub.git
	branch = mpcontribs
