*.swp
*.pyc
lahman-csv_2014-02-14*
mpcontribs.egg-info
docs/build
.ipynb_checkpoints/
db.sqlite3
.coverage
build/*
dist/*
mpcontribs/rest/static/*
mpcontribs/rest/apidoc.json
db/*
notebooks/profile/migrated
notebooks/profile/custom/custom.js
access.log
error.log
static/*
