.tox
.mypy_cache
__pycache__
*.swp
*.pyc
*.egg-info
docs/build
.ipynb_checkpoints/
db.sqlite3
.coverage
build/*
dist/*
db/*
static/*
test_site.log
node_modules/*
webpack-stats.json
package-lock.json
src/*
cloudformation/kong/
*/.eggs
*/dist
mpcontribs-client/build/*
mpcontribs-io/build/*
mpcontribs-api/mpcontribs/api/swagger*/
.cache/
.ipython/
.jupyter/
.local/
mpcontribs-portal/mpcontribs/portal/templates/notebooks
coverage.xml
mpcontribs-api/supervisord.conf
mpcontribs-portal/supervisord.conf
**/.DS_Store
