exclude: |
  (?x)(
      ^mpcontribs-portal/mpcontribs/users/|
      ^binder/|
      ^mpcontribs-ingester/|
      ^mpcontribs-api/mpcontribs/api/redox_thermo_csp/
  )

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: fix-encoding-pragma
      - id: forbid-new-submodules
      - id: requirements-txt-fixer

  - repo: https://github.com/awslabs/cfn-python-lint
    rev: v1.40.3
    hooks:
      - id: cfn-python-lint
        files: cloudformation/.*\.(json|yml|yaml)$
        args: ["--ignore-checks=E3030,E3001,E3002,E3012"]

  #- repo: https://gitlab.com/pycqa/flake8
  #  rev: 3.7.9
  #  hooks:
  #      - id: flake8
  #        args: [--max-line-length=99]

  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black
