exclude: |
  (?x)(
      ^mpcontribs-portal/mpcontribs/users/|
      ^binder/|
      ^mpcontribs-api/|
      ^mpcontribs-ingester/|
      ^mpcontribs-io/|
      ^mpcontribs-kernel-gateway/|
      ^mpcontribs-portal/|
      ^mpcontribs-serverless/
  )

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: forbid-new-submodules
      - id: requirements-txt-fixer

  - repo: https://github.com/awslabs/cfn-python-lint
    rev: v1.40.3
    hooks:
      - id: cfn-python-lint
        files: cloudformation/.*\.(json|yml|yaml)$
        args: ["--ignore-checks=E3030,E3001,E3002,E3012"]

  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        args:
          - --drop-empty-cells
          - --strip-init-cells
          - --extra-keys=metadata.kernelspec
          
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.1
    hooks:
      - id: pyupgrade
