alabaster==0.7.11
amqp==2.3.2
archieml==0.3.4
ase==3.16.2
asn1crypto==0.24.0
atomate==0.8.1
attrs==18.1.0
Babel==2.6.0
backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.5.0.1
beautifulsoup4==4.6.1
billiard==3.5.0.4
bleach==2.1.3
bokeh==0.11.1
boltons==18.0.1
celery==4.2.1
certifi==2018.10.15
cffi==1.11.5
chardet==3.0.4
click==6.7
cloudpickle==0.1.1
configparser==3.5.0
cryptography==2.3.1
custodian==2018.6.11
cycler==0.10.0
Cython==0.23.5
dash==0.26.6
dash-core-components==0.29.0
dash-html-components==0.12.0
dash-renderer==0.13.2
dash-table-experiments==0.6.0
dask==0.19.0
databroker==0.11.1
decorator==4.3.0
dill==0.2.5
Django==1.8.5
django-browserid==2.0.2
django-cas-ng==3.5.9
django-extensions==2.1.0
django-nopassword==3.0.2
django-require==1.0.11
doct==1.0.5
docutils==0.14
entrypoints==0.2.3
enum34==1.1.6
et-xmlfile==1.0.1
fastcache==1.0.2
FireWorks==1.7.6
Flask==1.0.2
Flask-Caching==1.3.3
Flask-Compress==1.4.0
flask-paginate==0.5.1
frozendict==1.2
funcsigs==1.0.2
functools32==3.2.3.post2
future==0.17.1
futures==3.2.0
gunicorn==19.9.0
h5py==2.6.0
habanero==0.6.0
html5lib==1.0.1
humanize==0.5.1
idna==2.7
igor==0.3
imagesize==1.0.0
ipaddress==1.0.22
ipykernel==4.8.2
ipython==5.8.0
ipython-genutils==0.2.0
ipywidgets==5.2.2
itsdangerous==0.24
jdcal==1.4
Jinja2==2.10
jsonschema==2.6.0
jupyter-client==5.2.3
jupyter-core==4.4.0
kombu==4.2.1
latexcodec==1.0.5
llvmlite==0.8.0
lxml==4.2.4
MarkupSafe==1.0
matplotlib==1.5.3
mistune==0.8.3
mod-wsgi==4.6.4
mongoquery==1.3.3
monty==1.0.3
-e git+https://github.com/materialsproject/MPContribs.git@6e30030e7ffb56c9f0d7d0915e730855b613654b#egg=mpcontribs
mpmath==0.19
nbconvert==5.3.1
nbformat==4.4.0
ndg-httpsclient==0.5.1
networkx==2.1
nose==1.3.7
notebook==5.6.0
numba==0.23.1
numexpr==2.5.2
numpy==1.15.3
openpyxl==2.5.5
packaging==17.1
palettable==3.1.1
pandas==0.23.4
pandocfilters==1.4.2
pathlib==1.0.1
pathlib2==2.3.2
patsy==0.4.1
pexpect==4.6.0
pickleshare==0.7.4
Pillow==3.4.1
PIMS==0.4.1
Pint==0.8.1
plotly==1.12.6
prettytable==0.7.2
prometheus-client==0.3.1
prompt-toolkit==1.0.15
-e git+git@github.com:materialsintelligence/propnet.git@4f5a9ec7a356278f8ee90089709004f7825b30d1#egg=propnet
psutil==5.4.6
ptyprocess==0.6.0
py==1.7.0
pyasn1==0.4.4
pybtex==0.21
pycparser==2.19
pydash==4.5.0
PyDispatcher==2.0.5
Pygments==2.2.0
pylatexenc==1.2
pymatgen==2018.8.7
pymatgen-diffusion==2018.1.4
pymongo==3.7.1
Pympler==0.5
pyOpenSSL==18.0.0
pyparsing==2.1.10
pytest==3.2.3
python-cas==1.3.0
python-dateutil==2.7.3
pytz==2016.7
PyYAML==3.11
pyzmq==17.1.0
requests==2.20.0
ruamel.ordereddict==0.4.13
ruamel.yaml==0.15.50
scandir==1.8
scikit-image==0.11.3
scikit-learn==0.17.1
scipy==1.1.0
seaborn==0.7.1
selenium==3.14.0
Send2Trash==1.5.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
slicerator==0.9.8
snowballstemmer==1.2.1
-e git+git@github.com:josuav1/solar_perovskite.git@a63df1e098d0e36b523254583af548ec83d93f3f#egg=solar_perovskite
spglib==1.10.4.7
Sphinx==1.7.6
sphinxcontrib-websupport==1.1.0
SQLAlchemy==1.0.13
statsmodels==0.6.1
sympy==1.0
tabulate==0.8.2
terminado==0.8.1
testpath==0.3.1
tifffile==0.15.1
toolz==0.9.0
tornado==5.1
tqdm==4.24.0
traitlets==4.3.2
typing==3.6.4
tzlocal==1.5.1
uncertainties==3.0.2
Unidecode==1.0.22
urllib3==1.24
vine==1.1.4
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
whichcraft==0.4.1
widgetsnbextension==1.2.6
xarray==0.10.8
xlrd==1.1.0
xrayutilities==1.5.0
xrdtools==0.1.1
