{% extends "layout.html" %}
{% block body %}

<script>
  requirejs(['./static/js/common'], function(){
    requirejs(['app/contribute']);
  });
</script>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add a new site</h4>
      </div>
      <div class="modal-body">
        <form class="form-inline">
          <div class="form-group">
            <label class="sr-only" for="inputSiteName">Name</label>
            <input type="text" class="form-control" id="inputSiteName" placeholder="Name" style="width:251px;">
          </div>
          <div class="form-group">
            <label class="sr-only" for="inputSiteUrl">URL</label>
            <input type="text" class="form-control" id="inputSiteUrl" placeholder="URL" style="width:252px;">
          </div>
          <button type="button" class="btn btn-primary" onClick="saveSite()">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-default navbar-lower" role="navigation">
  <div class="container">
    <form action="/contribute" method=post enctype=multipart/form-data class="navbar-form navbar-left">
      <div class="form-group">
        <select id="siteselect" data-placeholder="Select Site ..." style="width:180px;">
          <option></option>
          <option value="http://localhost:5000/test_site">Local Test Site</option>
          <option value="http://localhost:8000">Local Materials Project</option>
          <option value="https://www.materialsproject.org" disabled>Materials Project</option>
        </select>
        <button type=button class="btn btn-primary btn-xs" onClick="$('#myModal').modal()">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
      </div>
      <div class="form-group" style="position:relative; margin-left:50px;">
        <select id="dbselect" data-placeholder="Select DB ..." style="width:150px;">
          <option></option>
          <option value="default">default</option>
          <option value="contribs">contribs</option>
        </select>
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </div>
      <div class="form-group" style="position:relative; margin-left:50px;">
        <input type="text" class="form-control" name=apikey id=inputapikey placeholder="Insert API Key ...">
        <a id=dlnk href="http://localhost:5000/test_site/webtzite/dashboard" target="_blank">
          <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
        </a>
      </div>
      <input type=hidden name=site id=inputsite value=''>
      <input type=hidden name=dbtype id=inputdbtype value=''>
      <div class="form-group" style="position:relative; margin-left:50px;">
        <input type=submit name="submit" class="btn btn-primary navbar-btn" value="Go!">
        <input type="button" value="Cancel" class="btn btn-warning navbar-btn" onclick="stopLoad()"/>
      </div>
      <div class="form-group" style="position:relative; margin-left:50px;">
        {% if missing %}<code>{{ missing }}</code>{% endif %}
      </div>
    </form>
  </div>
</nav>

<style>
.affix { top: 68px; width:100%; z-index: 1000; }
.navbar-form { padding-left: 0; }
</style>

<input type=hidden id=input_contrib value=''>

<script>
  function stopLoad() {
    if (navigator.appName == 'Microsoft Internet Explorer') {
      document.execCommand('Stop');
    } else { window.stop(); }
    alert('submission process aborted!');
  }
  function saveSite() {
    var list = document.getElementById('siteselect');
    var entry = document.createElement('option');
    entry.value = document.getElementById('inputSiteUrl').value;
    entry.innerHTML = document.getElementById('inputSiteName').value;
    list.appendChild(entry);
    document.getElementById('siteselect').trigger('chosen:updated');
    document.getElementById('myModal').modal('hide');
  }
  var contrib = {{ session.contribute|tojson|safe }}; // dict: site, db, apikey
  var contrib_data = document.getElementById('input_contrib');
  contrib_data.value = JSON.stringify(contrib);
</script>

{% if content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id='output' class="alert alert-warning alert-dismissible" role="alert"></div>
    </div>
  </div>
  {% for c in content: %}
  <script>
    requirejs(['./static/js/common'], function(){
      require(['jquery'], function($) {
        $("#output").append("{{ c|safe }}");
      });
    });
  </script>
  {% endfor %}
</div>
{% endif %}

{% endblock %}
