{% extends "layout.html" %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-warning" role="alert" style="position:relative; height:150px; overflow:hidden;">
        <div id='output' style="position:absolute; bottom:0; width:100%;"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="dropdown">
        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu1"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Go to contribution ... <span class="caret"></span>
        </button>
        <ul id="gotolist" class="dropdown-menu" aria-labelledby="dropdownMenu1"></ul>
      </div>
    </div>
  </div>
  {% for c in content: %}
  {% if c is string %}
  <script>$("#output").append("{{ c|safe }}");</script>
  {% else %}
    {% if 'plotly_urls' in c[3] %}
    <script>
      var list = document.getElementById('gotolist');
      var entry = document.createElement('li');
      var a = document.createElement('a');
      var entry_text = "{{ c[0] }} (#{{ c[2] }})";
      a.appendChild(document.createTextNode(entry_text));
      a.href = "#cid{{ c[2] }}";
      entry.appendChild(a);
      list.appendChild(entry);
    </script>
    <div class="row">
      <div class="col-md-12">
        <hr><a name="cid{{ c[2] }}"></a><strong>#{{ c[2] }}</strong>
        <a href="#top" class="btn btn-default btn-xs pull-right" role="button">back to top</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        {% for plotly_url in c[3]['plotly_urls'] %}
          {% if loop.index is divisibleby 3 %}<div class="row">{% endif %}
            <div class="col-md-4">
              <div id="{{ c[2] }}_{{ loop.index }}_graph" style="width:385px;height:385px;"></div>
            </div>
          {% if loop.index is divisibleby 3 %}</div>{% endif %}
          <script>
            var data = {{ plotly_url|tojson|safe }};
            var elem = document.getElementById("{{ c[2] }}_{{ loop.index }}_graph");
            Plotly.plot(elem, data[0], data[1]);
          </script>
        {% endfor %}
      </div>
    </div>
    {% endif %}
  {% endif %}
  {% endfor %}
</div>
{% endblock %}
