{% extends "layout.html" %}
{% block body %}
<link href="{{ url_for('static', filename='css/archieml.css') }}" media="screen, projection" rel="stylesheet" type="text/css" />
<script src="{{ url_for('static', filename='js/archieml.js') }}"></script>
<div class="sandbox">
  <div class="container"><br>
    <div class="row">
      <div class="col-md-6"><strong>edit MPFile contents:</strong></div>
      <div class="col-md-6"><strong>live-preview of JSON representation after ArchieML parsing:</strong></div>
    </div>
{% if "aml" in content %}
<aml>{{content.aml|safe}}</aml>
{% else %}
<aml>This is an example MPFile in the ArchieML format.

Experiment.Preparation: Sputter deposition

{Experiment.Sample}
Material: Vicalloy
Authors: Contact Alpha T. N'Diaye (atndiaye@lbl.gov) 

{Experiment.Measurement}
Detection: total electron yield
Temperature: RT
Orientation: 30° grazing incidence

{Experiment.Measurement.Beamline}
Beamline: ALS-6.3.1
Method: Soft x-ray XAS and XMCD
Monochromator.Exit_Slit: 20µm
Monochromator.Grating: 600l/mm

{Datasource}
directory: Vicalloy/rawdata
group_by: Z Y

{Fe_XMCD}
get_xmcd.energy_range: 690 740
scaling_preedge_to_1.preedge_range: 690 700
linear_background_removal_preedge_XAS.preedge_range: 690 700
xas_normalization_to_min_and_max.energy_range: 690 740
xas_xmcd_minmax:

[+AlNiCoCu.datatable]
Energy,XAS,XMCD
761,0.008445,-0.001452
762,0.007812,-0.000682

[+AlNiCoCu.table2]
Energy,XAS,XMCD
761,0.008445,-0.001452
762,0.007812,-0.000682

:ignore

[.processing]
* scaling background to 1
* constant background removal preedge
* normalization to L3

</aml>
{% endif %}
  </div>
</div>
<script type="text/javascript">
var qs = window.location.search.substring(1);
qs.split('&').forEach(function(term) {
  var temp = term.split('=');
  if (temp[0] == 'aml') {
    var source = decodeURIComponent(temp[1].replace(/\+/g, " "));
    var aml = document.getElementsByTagName('aml')[0];
    aml.innerHTML = source;
  }
});
</script>
<script src="{{ url_for('static', filename='js/sandbox.js') }}"></script>
{% endblock %}
