{% extends "layout.html" %}
{% block body %}

<link rel="stylesheet" type="text/css" media="all" href="{{ url_for('.static', filename='css/json.human.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/backgrid.min.css') }}"/>
<script>
  requirejs(['./static/js/common'], function(){
    requirejs(['app/index']);
  });
</script>

<nav class="navbar navbar-default navbar-lower" role="navigation">
  <div class="container" style="width: 800px !important;">
    <form class="navbar-form">
      <div class="form-group" style="position:relative; left:20px;">
        <div class="checkbox" style="padding:1px;">
          <label>
            <input id="toggle_trees" type="checkbox" checked hidden>
          </label>
        </div>
        <div class="checkbox" style="padding:1px; margin-left:15px;">
          <label>
            <input id="toggle_tables" type="checkbox" checked hidden>
          </label>
        </div>
        <div class="checkbox" style="padding:1px; margin-left:15px;">
          <label>
            <input id="toggle_graphs" type="checkbox" checked hidden>
          </label>
        </div>
        <div class="checkbox" style="padding:1px; margin-left:15px;">
          <label>
            <input id="toggle_inputs" type="checkbox" checked hidden>
          </label>
        </div>
      </div>
      <div class="form-group" style="position:relative; left:20px; margin-left:15px;">
        <select id="gotolist" data-placeholder="Go to Contribution ..." hidden>
          <option></option>
        </select>
      </div>
      <div class="form-group">
        <select id="axespicker" data-placeholder="Select x-y-z Axes for Overview Graph (in order!) ..." multiple hidden>
          <option></option>
        </select>
        <button id="plot_ovdata" type="button" class="btn btn-primary btn-sm hide">Plot</button>
      </div>
      <div class="form-group" style="position:relative; left:20px; margin-left:15px;">
        <a id="top_btn" class="btn btn-sm hide" href="#top" role=button>
          <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
          </br>top
        </a>
      </div>
    </form>
  </div>
</nav>

<style>
.affix { top: 68px; width:100%; z-index: 1000; }
.navbar-form { padding-left: 0; }
a.anchor { display: block; position: relative; top: -120px; visibility: hidden; }
.backgrid .string-cell { text-align: center; }
.jh-type-string { font-style: normal; }
</style>
<script>
requirejs(['./static/js/common'], function(){
  require(['jquery', 'jquery.spin', 'bootstrap'], function($) {
    $('.navbar-lower').affix({ offset: {top: -50} });
    $('.navbar-lower').spin('small');
  });
});
</script>

<input type=hidden id=input_gotolist value='['>

<div class="container" style="width: 800px !important;">
  <div class="alert alert-warning" role="alert" style="position:relative; height:150px; overflow:hidden;">
    <div id='output' style="position:absolute; bottom:0; width:100%;"></div>
  </div>
</div>

<a class="anchor" name="top"></a>
<div id="ovdata_graph"></div>

{% for c in content: %}

{% if c is string %}
<script>
requirejs(['./static/js/common'], function(){
  require(['jquery'], function($) {
    $("#output").append("{{ c|safe }}");
  });
});
</script>

{% elif c is mapping %}
<input type=hidden name=ovdata id=inputovdata value=''>
<script>
  var ovdata = document.getElementById('inputovdata');
  ovdata.value = JSON.stringify({{ c|tojson|safe }});
</script>

{% elif c is sequence %}
<script>
  var gotolist_data = document.getElementById('input_gotolist');
  var element = ["#cid{{ c[2] }}", "{{ c[0] }} (#{{ c[2] }})"];
  gotolist_data.value += JSON.stringify(element) + ',';
</script>

<a class="anchor" name="cid{{ c[2] }}"></a><hr>
{{ c[3]|safe }}

{% endif %}
{% endfor %}

{% endblock %}
