{% extends "layout.html" %}
{% block body %}

<nav class="navbar navbar-default navbar-lower" role="navigation">
  <div class="container">
    <form class="navbar-form navbar-left">
      <div class="form-group">
        <select id="gotolist" data-placeholder="Go to Contribution ..." style="width:200px;">
          <option></option>
        </select>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label class="checkbox-inline">
          <input id="toggle_trees" type="checkbox" checked data-toggle="toggle" data-on="h-Data" data-off="h-Data"  data-size="mini" data-width="80">
        </label>
        <label class="checkbox-inline">
          <input id="toggle_tables" type="checkbox" checked data-toggle="toggle" data-on="Tables" data-off="Tables"  data-size="mini" data-width="80">
        </label>
        <label class="checkbox-inline">
          <input id="toggle_graphs" type="checkbox" checked data-toggle="toggle" data-on="Graphs" data-off="Graphs" data-size="mini" data-width="80">
        </label>
      </div>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div class="form-group">
        <select id="axespicker" data-placeholder="Select x-y-z Axes for Overview Graph ..." style="width:500px;" multiple>
          <option></option>
        </select>
      </div>
    </form>
    <p class="navbar-text navbar-right"><a href="#top" class="navbar-link">Back to Top</a></p>
  </div>
</nav>

<style>
.affix { top: 68px; width:100%; z-index: 1000; }
.navbar-form { padding-left: 0; }
a.anchor { display: block; position: relative; top: -68px; visibility: hidden; }
.backgrid .string-cell { text-align: center; }
</style>

<script>
  $('#axespicker').chosen({ search_contains: true, max_selected_options: 3 });
  $('.navbar-lower').affix({ offset: {top: -5} });
  $('#gotolist').chosen({ search_contains: true });
  $(document).ready(function(){
    $('#gotolist').on('change', function() { location.href = this.value; });
  })
  window.options = {
    showArrayIndex: false,
    hyperlinks : { enable : true, keys: [], target : '_blank' },
    bool : {
      showText : true,
      text : { true : "true", false : "false" },
      showImage : false
    }
  };
</script>

<div class="container">
  <div class="alert alert-warning" role="alert" style="position:relative; height:150px; overflow:hidden;">
    <div id='output' style="position:absolute; bottom:0; width:100%;"></div>
  </div>
</div>

<a class="anchor" name="top"></a>

{% for c in content: %}

{% if c is string %}
<script>$("#output").append("{{ c|safe }}");</script>

{% elif c is mapping %}
<script>
  var list = document.getElementById('axespicker');
  var entries = {{ c.keys()|tojson|safe }};
  for (var i=0; i<entries.length; ++i) {
    var entry = document.createElement('option');
    entry.value = entries[i];
    entry.innerHTML = entries[i];
    list.appendChild(entry);
  }
  $('#axespicker').trigger('chosen:updated');
</script>

{% elif c is sequence %}
<script>
  var list = document.getElementById('gotolist');
  var entry = document.createElement('option');
  entry.value = "#cid{{ c[2] }}";
  entry.innerHTML = "{{ c[0] }} (#{{ c[2] }})";
  list.appendChild(entry);
  $('#gotolist').trigger('chosen:updated');
</script>

<a class="anchor" name="cid{{ c[2] }}"></a><hr>
<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h1>{{ c[0] }} &raquo; {{ c[1] }} &raquo; #{{ c[2] }}</h1>
    </div>
  </div>

  <div class="row" name="tree_row">
    <div class="col-md-12">
      <h2>Hierarchical Data</h2>
      {% if "tree_data" in c[3] %}
      <div id="{{ c[2] }}_tree"></div>
      <script type="text/javascript">
        (function (JsonHuman, crel, CodeMirror) {
          "use strict";
          var node = JsonHuman.format({{ c[3]['tree_data']|tojson|safe }}, window.options);
          document.getElementById('{{ c[2] }}_tree').appendChild(node);
        }(window.JsonHuman, window.crel, window.CodeMirror));
      </script>
      {% endif %}
    </div>
  </div>

  <div class="row" name="table_row">
    <div class="col-md-12">
      <h2>Tables</h2>
      {% if 'tables' in c[3] %}
      {% for table_name,table_data in c[3]['tables'].iteritems() %}
      <h3>{{ table_name }}</h3>
      <div id="{{ c[2] }}_{{ loop.index }}_table"></div>
      <script>
        var table = {{ table_data|tojson|safe }};
        var Row = Backbone.Model.extend({});
        var Rows = Backbone.PageableCollection.extend({
          model: Row,  state: { pageSize: 15 }, mode: "client"
        });
        var rows = new Rows(table['rows']);
        var grid = new Backgrid.Grid({ columns: [{
          name: "", cell: "select-row", headerCell: "select-all", renderable: false
        }].concat(table['columns']), collection: rows });
        $('#{{ c[2] }}_{{ loop.index }}_table').append(grid.render().el);
        var paginator = new Backgrid.Extension.Paginator({ collection: rows });
        $('#{{ c[2] }}_{{ loop.index }}_table').after(paginator.render().el);
      </script>
      {% endfor %}
      {% endif %}
    </div>
  </div>

  <div class="row" name="graph_row">
    <div class="col-md-12"><h2>Graphs</h2></div>
  </div>
  <div class="row" name="graph_row">
    {% if 'plotly_urls' in c[3] %}
    {% for url in c[3]['plotly_urls'] %}
    <div class="col-md-6">
      <div id="{{ c[2] }}_{{ loop.index }}_graph" style="width:580px;height:580px;"></div>
      <script>
          var data = {{ url|tojson|safe }};
          var elem = document.getElementById("{{ c[2] }}_{{ loop.index }}_graph");
          Plotly.plot(elem, data[0], data[1]);
      </script>
    </div>
    {% endfor %}
    {% endif %}
  </div>

</div>

{% endif %}
{% endfor %}

<script>
  function toggle_divs(div_names) {
    for (var i=0; i<div_names.length; i++) {
      var divs = document.getElementsByName(div_names[i]);
      for (var j=0; j<divs.length; j++) {
        if ($(divs[j]).is(":visible")) { $(divs[j]).hide(); }
        else { $(divs[j]).show(); }
      }
    }
  };
  $('#toggle_trees').change(function () { toggle_divs(["tree_row"]); });
  $('#toggle_tables').change(function () { toggle_divs(["table_row"]); });
  $('#toggle_graphs').change(function () { toggle_divs(["graph_row"]); });
</script>
{% endblock %}
