<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MPFile Viewer</title>
    <script src="{{ url_for('static', filename='js/react-0.11.0.js') }}"></script>
    <script src="{{ url_for('static', filename='js/JSXTransformer-0.11.0.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jsonViewer.min.js') }}"></script>
    <link href="{{ url_for('static', filename='css/screen.css') }}" media="screen, projection" rel="stylesheet" type="text/css" />
    <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/jquery.dataTables.js') }}"></script>
    <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
    <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/plotly-basic.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dataTables.bootstrap.css') }}" />
    <script src="{{ url_for('static', filename='js/dataTables.bootstrap.js') }}"></script>
    <link rel="icon" href="data:;base64,=">
    <script src="{{ url_for('static', filename='js/bootstrap-filestyle.min.js') }}"> </script>
    <script src="{{ url_for('static', filename='js/FileSaver.min.js') }}"> </script>
    <script src="{{ url_for('static', filename='js/bootstrap-select.min.js') }}"> </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-select.css') }}" />
    <div class="container">
      <a name="top"></a>
      {% if alert %}
      <div class="alert alert-warning alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {{ alert }}
      </div>
      {% endif %}
      <div class="row">
        <div class="col-md-1">
          <a class="btn btn-primary" role="button" href="/">Home</a>
        </div>
        <div class="col-md-1">
          <select class="selectpicker" id="selectpicker" style="display: none;" data-style="btn-info" data-width="150%">
            <option value="custom">Custom</option>
            <option value="archieml" disabled="disabled">ArchieML</option>
          </select>
        </div>
        <div class="col-md-8">
          <form action="/action" method=post enctype=multipart/form-data>
            <div class="col-md-6">
            <input type=file id=fileUpload name=file class="filestyle" data-iconName="glyphicon glyphicon-file"
                   data-input="false" data-badge="false" data-buttonName="btn-info" data-buttonText="Choose MPFile ...">
            <input type=hidden name=mpfile id=inputmpfile value=''>
            <input type=hidden name=fmt id=inputfmt value=custom>
            <script type="text/javascript">
                $(document.getElementById('fileUpload')).change(function () {
                  var filename=$(this).val().replace(/^.*[\\\/]/, ''); 
                  $(":file").filestyle('buttonText', filename);
                });
                var fmt_elem = document.getElementById('inputfmt');
                $(document.getElementById('selectpicker')).change(function () {
                  fmt_elem.value = this.options[this.selectedIndex].value;
                });
            </script>
            </div>
            <div class="col-md-6">
              <input type=submit name="submit" class="btn btn-info" value="Load MPFile">
              <input type=submit name="submit" class="btn btn-info" value="View MPFile">
              <input type=submit name="submit" class="btn btn-info" value="View Graphs">
            </div>
          </form>
        </div>
        <div class="col-md-1">
          <form role="form">
            <input id="btn-save" type="submit" class="btn btn-info" value="Save MPFile">
          </form>
        </div>
        <div class="col-md-1">
          <a class="btn btn-primary pull-right" role="button" href="/shutdown">Quit</a>
        </div>
      </div>
    </div>
    <p></p>
  </head>
  {% block body %}{% endblock %}
</html>
