<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MPContribs</title>
    <link rel="icon" href="data:;base64,=">
  </head>
  <body>
      <ul>
          <li><a href="{{ url_for('webui_ingester.home') }}">MPContribs Ingester</a></li>
          <li><a href="{{ url_for('.home') }}test_site/dashboard">Test Site Dashboard</a></li>
          <li><a href="{{ url_for('.home') }}test_site/mpcontribs/">Test Site MPContribs</a></li>
          <li><a href="http://alpha.materialsproject.org/dashboard">Alpha Site Dashboard</a></li>
          <li><a href="http://alpha.materialsproject.org/mpcontribs/">Alpha Site MPContribs</a></li>
      </ul>
  </body>
</html>

