{% load staticfiles %}
{% load require %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %} Materials Project {% endblock title %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href='{% static "images/favicon.png" %}' />
    {% require_module 'main' %}
    <script>window.tables = [];</script>
    <link rel="stylesheet" type="text/css" href='{% static "js/components/bootstrap/dist/css/bootstrap.css" charset="utf-8" %}'/>
    <link rel="stylesheet" type="text/css" href='{% static "nucleus.css" charset="utf-8" %}'/>
    <link rel="stylesheet" type="text/css" href='{% static "font-awesome-4.7.0/css/font-awesome.min.css" %}'/>
    <style>
    @font-face {
        font-family: 'Symbola';
        src:url('{% static "Symbola.ttf.woff" %}') format('woff'),
            url('{% static "Symbola.ttf.svg#Symbola" %}') format('svg'),
            url('{% static "Symbola.ttf.eot" %}'),
            url('{% static "Symbola.ttf.eot?#iefix" %}') format('embedded-opentype'); 
        font-weight: normal;
        font-style: normal;
    }
    </style>
    {% block extra_css %}
    {% endblock extra_css %}
  </head>
  <body>
    {% block header %}
    <header>
      {% include "base/navigation.html" %}
    </header>
    {% endblock header %}
    {% block content %}
    <!-- Page Content-->
    {% endblock content %}
    <footer>
      {% block footer %}
      {% endblock footer %}
      {% include "base/footer.html" %}
    </footer>
  </body>
</html>
