{% load staticfiles %}
{% load require %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %} Materials Project {% endblock title %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href='{% static "images/favicon.png" %}' />
    {% require_module 'main' %}
    <script>window.tables = [];</script>
    <link rel="stylesheet" type="text/css" href='{% static "js/components/bootstrap/dist/css/bootstrap.css" charset="utf-8" %}'/>
    <link rel="stylesheet" type="text/css" href='{% static "nucleus.css" charset="utf-8" %}'/>
    <link rel="stylesheet" type="text/css" href='{% static "font-awesome-4.7.0/css/font-awesome.min.css" %}'/>
    <style>
    @font-face {font-family: "Symbola";
        src: url("//db.onlinewebfonts.com/t/bd95c919d5566390c0565bea43f95495.eot");
        src: url("//db.onlinewebfonts.com/t/bd95c919d5566390c0565bea43f95495.eot?#iefix") format("embedded-opentype"),
        url("//db.onlinewebfonts.com/t/bd95c919d5566390c0565bea43f95495.woff2") format("woff2"),
        url("//db.onlinewebfonts.com/t/bd95c919d5566390c0565bea43f95495.woff") format("woff"),
        url("//db.onlinewebfonts.com/t/bd95c919d5566390c0565bea43f95495.ttf") format("truetype"),
        url("//db.onlinewebfonts.com/t/bd95c919d5566390c0565bea43f95495.svg#Symbola") format("svg");
    }
    </style>
    {% block extra_css %}
    {% endblock extra_css %}
  </head>
  <body>
    {% block header %}
    <header>
      {% include "base/navigation.html" %}
    </header>
    {% endblock header %}
    {% block content %}
    <!-- Page Content-->
    {% endblock content %}
    <footer>
      {% block footer %}
      {% endblock footer %}
      {% include "base/footer.html" %}
    </footer>
  </body>
</html>
