{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %} Materials Project {% endblock title %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% render_bundle 'styles' %}
    {% render_bundle 'main' %}
    {% block extra_css %}
    {% endblock extra_css %}
  </head>
  <body>
    {% block header %}
    <header>
      {% include "base/navigation.html" %}
    </header>
    {% endblock header %}
    {% if alert %}
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {{ alert|safe }}
    </div>
    {% else %}
    {% block content %}
    <!-- Page Content-->
    {% endblock content %}
    {% endif %}
    <footer>
      {% block footer %}
      {% endblock footer %}
      {% include "base/footer.html" %}
    </footer>
  </body>
</html>
