{% extends "header_footer.html" %}
{% load staticfiles %}
{% load render_bundle from webpack_loader %}
{% block extra_css %}{% render_bundle 'explorer' 'css' %}{% endblock %}
{% block footer %}{% render_bundle 'explorer' 'js' %}{% endblock %}
{% block title %}MPContribs Explorer{% endblock %}

{% block content %}
<div class="container">

    <div class="row myrow" style="margin-top:20px;" id="explorer_form" hidden>
        <div class="col-md-5">
            <label for="projects_list">Click to select project(s):</label>
            <select id="projects_list" style="width: 100%;" multiple="multiple">
                {% for project in projects %}
                <option value="{{ project }}">{{ project }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-5">
            <label for="identifiers_list">Click to select material(s) or composition(s):</label>
            <select id="identifiers_list" style="width: 100%;" multiple="multiple"></select>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary" type="submit" id="btnFind">Find</button>
            <div id="spinner"></div>
        </div>
    </div>

    <div class="row" style="margin-top:30px;" id=cards>
        <!-- cards dynamically added -->
    </div>

</div>
{% endblock %}
