{% extends "header_footer.html" %}
{% load staticfiles %}
{% load render_bundle from webpack_loader %}
{% block extra_css %}{% render_bundle 'explorer' 'css' %}{% endblock %}
{% block footer %}{% render_bundle 'explorer' 'js' %}{% endblock %}
{% block title %}MPContribs Explorer{% endblock %}

{% block content %}
<div class="container">

    <div class="row" style="margin-top:20px;" id="explorer_form" hidden>
        <div class="col-md-12">
            Select one or more:</br>
            <div class="row">
                <div class="col-md-4">
                    <select id="identifiers_list" data-placeholder="Select material/composition(s) ..." multiple>
                        {% for identifier in identifiers %}
                        <option value="{{ identifier }}">{{ identifier }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-4">
                    <select id="projects_list" data-placeholder="Select project(s) ..." multiple>
                        {% for project in projects %}
                        <option value="{{ project }}">{{ project }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-primary" type="submit" id="btnFind">Find</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" style="margin-top:30px;" id=cards>
                <!-- cards dynamically added -->
            </div>
        </div>
    </div>

</div>
{% endblock %}
