{% extends "header_footer.html" %}
{% load staticfiles %}
{% load render_bundle from webpack_loader %}
{% block extra_css %}{% render_bundle 'explorer_contribution' 'css' %}{% endblock %}
{% block footer %}
{% render_bundle 'explorer_contribution' 'js' %}
{% render_bundle 'render_json' 'js' %}
{% render_bundle 'render_table' 'js' %}
{% render_bundle 'plotly' %}
{% render_bundle 'render_plot' 'js' %}
<script>{{ js|safe }}</script>
{% endblock %}
{% block title %}MPContribs Contribution Details Page{% endblock %}

{% block content %}
<style>
.navbar .btn, .navbar .btn-group { margin-top: 0px; }
</style>

<nav class="navbar navbar-default navbar-lower" role="navigation">
  <div class="container" hidden>
    <form class="navbar-form" role="search">
      <ul class="nav nav-pills navbar-left" id="anchors" style="margin-right:10px;">
          <!-- anchors dynamically added -->
      </ul>
      <div class="form-group">
        <div class="checkbox" style="padding:1px; margin-left:10px;">
          <label>
            <input id="toggle_inputs" type="checkbox" checked>
          </label>
        </div>
        <div class="checkbox" style="padding:1px; margin-left:20px;">
          <label>
            <input id="toggle_trees" type="checkbox" checked>
          </label>
        </div>
        <div class="checkbox" style="padding:1px; margin-left:20px;">
          <label>
            <input id="toggle_tables" type="checkbox" checked>
          </label>
        </div>
        <div class="checkbox" style="padding:1px; margin-left:20px;">
          <label>
            <input id="toggle_graphs" type="checkbox" checked>
          </label>
        </div>
        <div class="checkbox" style="padding:1px; margin-left:20px;">
          <label>
            <input id="toggle_structures" type="checkbox" checked>
          </label>
        </div>
      </div>
      <div class="navbar-right" id="download" style="margin-right:10px;">
          <a class="btn btn-success" href="{{ request.path }}.json" role="button">Download</a>
      </div>
    </form>
  </div>
</nav>

<div class="container" hidden>
    <div class="row">
        <div class="col-md-12">
            {{ nb|safe }}
        </div>
    </div>
</div>
{% endblock content %}
