{% extends "header_footer.html" %}
{% load staticfiles %}
{% load render_bundle from webpack_loader %}
{% block extra_css %}{% render_bundle 'explorer_contribution' 'css' %}{% endblock %}
{% block footer %}
{% render_bundle 'explorer_contribution' 'js' %}
{{ js|safe }}
{% endblock %}
{% block title %}MPContribs Contribution Details Page{% endblock %}

{% block content %}
<style>
.navbar .btn, .navbar .btn-group { margin-top: 0px; }
</style>

<nav class="navbar navbar-default navbar-lower" role="navigation">
  <div class="container">
    <form class="navbar-form" role="search">
      <div class="form-group">
        <div class="checkbox" style="padding:1px;">
          <label>
            <input id="toggle_inputs" type="checkbox" checked hidden>
          </label>
        </div>
        <div class="checkbox" style="padding:1px; margin-left:20px;">
          <label>
            <input id="toggle_trees" type="checkbox" checked hidden>
          </label>
        </div>
        <div class="checkbox" style="padding:1px; margin-left:20px;">
          <label>
            <input id="toggle_tables" type="checkbox" checked hidden>
          </label>
        </div>
        <div class="checkbox" style="padding:1px; margin-left:20px;">
          <label>
            <input id="toggle_graphs" type="checkbox" checked hidden>
          </label>
        </div>
        <div class="checkbox" style="padding:1px; margin-left:20px;">
          <label>
            <input id="toggle_structures" type="checkbox" checked hidden>
          </label>
        </div>
      </div>
      <div class="navbar-right" id="download" style="margin-right:10px;" hidden>
          <a class="btn btn-sm btn-success" href="{{ request.path }}.json" role="button">Download</a>
      </div>
    </form>
  </div>
</nav>

<div>{{ nb|safe }}</div>
{% endblock content %}
