boltons==21.0.0
bravado[fido] @ git+https://github.com/tschaume/bravado@9ce06f2df7118e16af4a3d3fdc21ccfeedc5cd50#egg=bravado-11.0.3
cryptography==3.4.7
fido[tls]==4.2.2
filetype==1.0.7
flatten-dict==0.4.0
ipython==7.23.1
json2html==1.3.0
pandas==1.2.4
pint==0.17
plotly==4.14.3
pyIsEmail==1.3.2
pymatgen==2022.0.8
pyOpenSSL==20.0.1
ratelimit==2.2.1
requests-futures==1.0.0
service-identity==21.1.0
twisted==21.2.0
tqdm==4.60.0
