boltons==21.0.0
bravado[fido] @ git+https://github.com/tschaume/bravado@9ce06f2df7118e16af4a3d3fdc21ccfeedc5cd50#egg=bravado-11.0.3
cryptography==36.0.1
fido[tls]==4.2.2
filetype==1.0.10
flatten-dict==0.4.2
ipython==8.1.1
json2html==1.3.0
jsonschema<4.0
pandas==1.4.1
pint==0.18
plotly==5.6.0
pyIsEmail==1.4.0
pymatgen==2022.2.10
pymongo==4.0.1
pyOpenSSL==22.0.0
requests-futures==1.0.0
service-identity==21.1.0
swagger-spec-validator<2.7.4
twisted==22.2.0
tqdm==4.63.0
ujson==5.1.0
