{% extends "header_footer.html" %}
{% load staticfiles %}
{% load render_bundle from webpack_loader %}
{% block footer %}
{% render_bundle project 'js' %}
{% endblock %}

{% block title %} {{ title }} {% endblock title %}

{% block content %}
{% render_bundle 'render_json' 'js' %}
{% render_bundle 'render_table' 'js' %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>{{ title }}</h2>
            {{ provenance|safe }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Overview</h3>
            <div id="graph" style="width: 100%;"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Data</h3>
            {{ table|safe }}
        </div>
    </div>
</div>
{% endblock %}
