{% extends "header_footer.html" %}
{% load staticfiles %}
{% load render_entrypoint from webpack_loader %}
{% block footer %}
{% render_entrypoint project 'js' %}
{% endblock %}

{% block content %}
{% render_entrypoint 'render_json' 'js' %}
{% render_entrypoint 'render_table' 'js' %}

<div class="container" hidden>
    <div class="row">
        <div class="col-md-12">
            <h2>{{ title }}</h2>
            {{ provenance|safe }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="spinner_graph"></div>
            <div id="graph" style="width: 100%;"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="spinner_table"></div>
            {{ table|safe }}
        </div>
    </div>
</div>
{% endblock %}
