{% extends "header_footer.html" %}
{% load staticfiles %}
{% load render_entrypoint from webpack_loader %}
{% block footer %}
{% render_entrypoint project 'js' %}
{% endblock %}

{% block content %}
{% render_entrypoint 'render_json' 'js' %}
{% render_entrypoint 'render_table' 'js' %}

<div id="modal" class="modal fade"
     tabindex="-1" role="dialog" aria-labelledby="plan-info" aria-hidden="true">
    <div class="modal-dialog modal-full-screen">
        <div class="modal-content">
            <div class="modal-body">
                <div id="modal_render_json"></div>
            </div>
        </div>
    </div>
</div>

<div class="container" hidden>
    <div class="row">
        <div class="col-md-12">
            <h2>{{ title }}</h2>
            <div style="padding-top: 0px">
                <div class="well pull-right" style="padding: 5px 5px 5px 5px; margin-bottom: 2px; margin-left: 0px;">
                    <h5 style="margin: 5px;">
                        {{ authors.main }}
                        <sup>
                            {% for url in urls %}
                            <a href="{{ url }}" target="_blank">{{ forloop.counter }}</a>
                            {% endfor %}
                        </sup>
                        {% if authors.etal %}
                        <a name="read_more">et al.</a>
                        <span name="read_more" hidden>
                            {% for author in authors.etal %}{{ author }}<br/>{% endfor %}
                        </span>
                        {% endif %}
                    </h5>
                </div>
                <blockquote class="blockquote" style="font-size: 13px; padding: 0px 10px;">
                    {{ descriptions.0 }}.
                    {% if descriptions.1 %}
                    <a name="read_more">More &raquo;</a>
                    <span name="read_more" hidden>{{ descriptions.1 }}</span>
                    {% endif %}
                </blockquote>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="spinner_graph"></div>
            <div id="graph" style="width: 100%;"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="spinner_table"></div>
            {{ table|safe }}
        </div>
    </div>
</div>
{% endblock %}
