{% load render_entrypoint from webpack_loader %}
<!DOCTYPE html>
<html>
  <head>
    <title>MPContribs Portal</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <input id="api_key" type="hidden" value="{{ request.META.HTTP_X_CONSUMER_CUSTOM_ID }}">
    {% block extra_css %}
    {% endblock extra_css %}
    {% render_entrypoint 'main' %}
  </head>
  <body>
    {% block header %}
    <header hidden>
      {% if show_warning_banner %}
      <nav class="navbar navbar-warning">
        <center class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          We are currently experiencing issues with the web site and are working to fix the situation.
        </center>
      </nav>
      {% endif %}
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/" style="padding: 5px;">
              <img id="logo">
            </a>
          </div>
          <ul class="nav navbar-nav">
            <li>
              <a href="/" style="padding-top: 0px; padding-bottom: 0px;">
                <h1 style="color: white; margin: 5px;">
                  MPContribs Portal: Contributed Materials Data
                </h1>
              </a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://mpcontribs.org">Docs</a></li>
            <li><a href="https://gke.mybinder.org/v2/gh/materialsproject/MPContribs/1.6.3" target="_blank">BinderHub</a></li>
            {% block extra_items %}
            {% endblock extra_items %}
            <li><a href="{% url 'webtzite:dashboard' %}">Dashboard</a></li>
          </ul>
        </div>
      </nav>
    </header>
    {% endblock header %}
    {% if alert %}
    <div id=alert class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {{ alert|safe }}
    </div>
    {% else %}
    {% block content %}
    <!-- Page Content-->
    {% endblock content %}
    {% endif %}
    <footer hidden>
      <hr>
      <div class="pad-top row text-center">
        <small>
          Supported by NSF LSDI Data Infrastructure Building Blocks program and
          DOE BES <a href="https://materialsproject.org">Materials Project</a>.
        </small>
      </div>
      {% block footer %}
      {% endblock footer %}
    </footer>
  </body>
</html>
