{% extends "../../webtzite/templates/header_footer.html" %}
{% load staticfiles %}

{% block title %} {{ title }} {% endblock title %}

{% block content %}

<div class="container">  
    <div class="row">
        <div class="col-md-12">
            <h2>{{ title }}</h2>
            {{ provenance|safe }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h5>Python code to get the contributions from the DefectGenomePcfcMaterialsRester</h5>
            <code>
                from mpcontribs.users.defect_genome__pcfc_materials.rest.rester import DefectGenomePcfcMaterialsRester
                mpr = DefectGenomePcfcMaterialsRester()
                mpr.get_contributions()
            </code>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Data</h3>
            {{ table|safe }}
        </div>
    </div>
</div>

{% endblock %}
