{% extends "header_footer.html" %}
{% load staticfiles %}
{% load render_bundle from webpack_loader %}

{% block title %} {{ title }} {% endblock title %}

{% block content %}
{% render_bundle 'render_json' 'js' %}
{% render_bundle 'render_table' 'js' %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>{{ title }}</h2>
            {{ provenance|safe }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Overview</h3>
            <div id="graph" style="width: 100%;"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Data</h3>
            {{ table|safe }}
        </div>
    </div>
</div>

<!--
<script>
requirejs(['main'], function() {
    require(["plotly"], function(Plotly) {
        $(document).ready(function(){
            var xvals = []; var yvals = [];
            for (t = 0; t < window.tables.length; t++) {
                var table = window.tables[t];
                for (i = 0; i < table['rows'].length; i++) {
                    var row = table['rows'][i];
                    var mpid_split = row['mp-id'].split('/');
                    var mpid = mpid_split[mpid_split.length-1];
                    xvals.push(mpid);
                    var value = parseFloat(row['ΔH [eV/mol]'].split(' ')[0]);
                    yvals.push(value);
                }
            }
            var graph = document.getElementById('graph');
            var layout = {
                margin: {l: 40, t: 0, b: 25, r: 0},
                xaxis: {type: 'category', showticklabels: false, ticks: ''},
                yaxis: {title: 'Formation Enthalpy [eV/mol]'}
            };
            var data = [{x: xvals, y: yvals, type: 'bar'}];
            Plotly.plot(graph, data, layout);
            window.onresize = function() {
                Plotly.Plots.resize(graph);
            };
        });
    });
});
</script>
-->

{% endblock %}
