[supervisord]
nodaemon=true
user=root
logfile=/tmp/supervisord.log
pidfile=/tmp/supervisord.pid
environment=
    {% if not production %}
    AWS_ACCESS_KEY_ID="%(ENV_AWS_ACCESS_KEY_ID)s",
    AWS_SECRET_ACCESS_KEY="%(ENV_AWS_SECRET_ACCESS_KEY)s",
    {% endif %}
    METADATA_URI="%(ENV_ECS_CONTAINER_METADATA_URI_V4)s",
    AWS_REGION="us-east-1",
    AWS_DEFAULT_REGION="us-east-1",
    DD_PROFILING_ENABLED="true",
    DD_LOGS_INJECTION="true",
    PYTHONUNBUFFERED=1,
    MAX_REQUESTS=0,
    MAX_REQUESTS_JITTER=0,
    NWORKERS={{ nworkers }},
    RELOAD={{ reload }},
    NODE_ENV="{{ node_env }}",
    DD_AGENT_HOST="{{ dd_agent_host }}",
    DD_LOG_LEVEL="{{ log_level }}",
    DD_GEVENT_PATCH_ALL="true",
    DD_TRACE_SAMPLE_RATE="1",
    REDIS_ADDRESS="%(ENV_REDIS_ADDRESS)s",
    TINI_SUBREAPER="true",
    DJANGO_SETTINGS_FILE="settings.py"

[unix_http_server]
file=/var/run/supervisor.sock
chmod=777
chown=nobody:nogroup

[rpcinterface:supervisor]
supervisor.rpcinterface_factory=supervisor.rpcinterface:make_main_rpcinterface

[supervisorctl]
serverurl=unix:///var/run/supervisor.sock

{% set names = deployments.keys() %}

[group:portals]
programs={{ names|join('-portal,') }}-portal

{% for deployment, cfg in deployments.items() %}
[program:{{ deployment }}-portal]
command=./start.sh
priority={{ loop.index * 100 }}
directory=/app
autostart=true
autorestart=false
stopsignal=TERM
exitcodes=124
stdout_logfile=/dev/fd/1
stdout_logfile_maxbytes=0
stderr_logfile=/dev/fd/2
stderr_logfile_maxbytes=0
environment=
    DEPLOYMENT={{ loop.index0 }},
    PORTAL_PORT={{ cfg.portal_port }},
    MPCONTRIBS_API_HOST="{{ mpcontribs_api_host }}:{{ cfg.api_port }}",
    MPCONTRIBS_API_PORT="{{ cfg.api_port }}",
    TRADEMARK="{{ cfg.tm }}",
    S3_DOWNLOADS_BUCKET="mpcontribs-downloads-{{ cfg.s3 }}",
    ADMIN_GROUP="admin_{{ deployment }}.materialsproject.org"
{% endfor %}
