{% extends "../../webtzite/templates/base/header_footer.html" %}
{% load staticfiles %}
<script>window.table = null;</script>

{% block title %} DTU {% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href='{% static "js/components/backgrid/lib/backgrid.css" %}' charset="utf-8">
<link rel="stylesheet" href='{% static "js/components/json-human/css/json.human.css" %}' charset="utf-8">
{% endblock extra_css %}

{% block content %}

{% if alert %}
<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  {{ alert }}
</div>

{% else %}

<style>
.backgrid .string-cell { text-align: center; }
.backgrid tbody tr:hover { background-color: #f9f9f9; }
</style>

{{ provenance|safe }}

<h3>Data</h3>
{{ table|safe }}

<h3>Overview Graph</h3>
<div id="graph"></div>
<script>
requirejs(['main'], function() {
    require(["plotly"], function(Plotly) {
        $(document).ready(function(){
            var graph = document.getElementById('graph');
            var layout = {
                margin: {t: 0}, barmode: 'stack',
                xaxis: {title: 'mp-id', type: 'category'},
                yaxis: {title: 'Energy (eV)'}
            };
            var keys = [
                'derivative_discontinuity',
                'quasi-particle_bandgap(indirect)',
                'quasi-particle_bandgap(direct)'
            ];
            var xvals = []; var yvals = {};
            for (i = 0; i < window.table['rows'].length; i++) {
                var row = window.table['rows'][i];
                var mpid_split = row['mp-id'].split('/');
                var mpid = mpid_split[mpid_split.length-1];
                xvals.push(mpid);
                for (j = 0; j < keys.length; j++) {
                    var k = keys[j];
                    if (!(k in yvals)) {yvals[k] = [];}
                    yvals[k].push(row[k]);
                }
            }
            var data = [];
            for (j = 0; j < keys.length; j++) {
                var k = keys[j];
                var d = {x: xvals, y: yvals[k], type: 'bar', name: k};
                data.push(d);
            }
            Plotly.plot(graph, data, layout);
        });
    });
});
</script>

{% endif %}
{% endblock %}
