{% extends "../../webtzite/templates/base/header_footer.html" %}
{% load staticfiles %}

{% block title %} DTU {% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href='{% static "js/components/backgrid/lib/backgrid.css" %}' charset="utf-8">
<link rel="stylesheet" href='{% static "js/components/backgrid-paginator/backgrid-paginator.css" %}' charset="utf-8">
<link rel="stylesheet" href='{% static "js/components/backgrid-filter/backgrid-filter.css" %}' charset="utf-8">
<link rel="stylesheet" href='{% static "js/components/json-human/css/json.human.css" %}' charset="utf-8">
{% endblock extra_css %}

{% block content %}

{% if alert %}
<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  {{ alert }}
</div>

{% else %}

<style>
.backgrid { font-family: "symbola"; }
.backgrid tbody tr:hover { background-color: #f9f9f9; }
.backgrid .sortable { text-align: center; }
.backgrid thead th button { display: inline; }
.jh-root { font-family: "symbola"; }
.jh-type-string { font-style: normal; }
code { display: block; white-space: pre-wrap; }
</style>

<div class="container">
    <div class="row">
        <h2>{{ title }}</h2>
        {{ provenance|safe }}
    </div>
    <div class="row">
        <code>
            from mpcontribs.users.dtu.rest.rester import DtuRester
            mpr = DtuRester()
            mpr.get_contributions()
        </code>
    </div>
    <div class="row">
        <h3>Overview</h3>
        <div id="graph"></div>
    </div>
    <div class="row">
        <h3>Data</h3>
        {{ table|safe }}
    </div>
</div>


<script>
requirejs(['main'], function() {
    require(["plotly"], function(Plotly) {
        $(document).ready(function(){
            var table = window.tables[window.tables.length-1];
            var graph = document.getElementById('graph');
            var layout = {
                margin: {t: 0}, barmode: 'stack',
                xaxis: {type: 'category'},
                yaxis: {title: 'Energy (eV)'}
            };
            var keys = ['C', 'indirect ΔE-QP', 'direct ΔE-QP'];
            var xvals = []; var yvals = {};
            for (i = 0; i < table['rows'].length; i++) {
                var row = table['rows'][i];
                var mpid_split = row['mp-id'].split('/');
                var mpid = mpid_split[mpid_split.length-1];
                xvals.push(mpid);
                for (j = 0; j < keys.length; j++) {
                    var k = keys[j];
                    if (!(k in yvals)) {yvals[k] = [];}
                    yvals[k].push(row[k].split(' ')[0]);
                }
            }
            var data = [];
            for (j = 0; j < keys.length; j++) {
                var k = keys[j];
                var d = {x: xvals, y: yvals[k], type: 'bar', name: k};
                data.push(d);
            }
            Plotly.plot(graph, data, layout);
        });
    });
});
</script>

{% endif %}
{% endblock %}
