{% extends "../../webtzite/templates/base/header_footer.html" %}
{% load staticfiles %}

{% block title %} SLAC MoSe2 {% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href='{% static "js/components/backgrid/lib/backgrid.css" %}' charset="utf-8">
<link rel="stylesheet" href='{% static "js/components/json-human/css/json.human.css" %}' charset="utf-8">
{% endblock extra_css %}

{% block content %}

{% if alert %}
<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  {{ alert }}
</div>

{% else %}

<style>
.backgrid .string-cell { text-align: center; }
.backgrid tbody tr:hover { background-color: #f9f9f9; }
</style>

{{ provenance|safe }}

{% for name, graph in graphs.items %}
<h3>{{ name|safe }}</h3>
{{ graph|safe }}
{% endfor %}

{% endif %}
{% endblock %}
