{% extends "../../webtzite/templates/base/header_footer.html" %}
{% load staticfiles %}

{% block title %} {{ title }} {% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href='{% static "js/components/backgrid/lib/backgrid.css" %}' charset="utf-8">
<link rel="stylesheet" href='{% static "js/components/json-human/css/json.human.css" %}' charset="utf-8">
{% endblock extra_css %}

{% block content %}

{% if alert %}
<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  {{ alert }}
</div>

{% else %}

<style>
.backgrid { font-family: "symbola"; }
.backgrid tbody tr:hover { background-color: #f9f9f9; }
.backgrid .sortable { text-align: center; }
.backgrid thead th button { display: inline; }
.jh-root { font-family: "symbola"; }
.jh-type-string { font-style: normal; }
code { display: block; white-space: pre-wrap; }
</style>

<div class="container">
    <a href="{% url 'mpcontribs_portal_index' %}">&laquo; Portal</a>
    <div class="row">
        <div class="col-md-12">
            <h2>{{ title }}</h2>
            {{ provenance|safe }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" style="text-align: center">
            <strong>Pump-Probe Delay Time [ps]</strong>
            {% for position_label, values in lineprofiles.y_values.items %}
            <div id="{{ position_label|safe }}_graph"></div>
            {% endfor %}
        </div>
    </div>
</div>

<script>
    requirejs(['main'], function() {
        require(['plotly'], function(Plotly) {
            //$(document).ready(function(){
            
                var layout = {
                    width: 500,
                    height: 100,
                    margin: {
                        b: 20,
                        t: 1
                    },
                    xaxis: {
                        showline: true,
                        showgrid: false,
                        zeroline: false,
                        mirror: true,
                        ticks: 'inside'
                    },
                    yaxis: {
                        showline: true,
                        showgrid: false,
                        zeroline: false,
                        mirror: true,
                        ticks: 'inside',
                        showticklabels: false
                    }
                }
                
                var config = {
                    displayModeBar: false
                }
                
                // TODO move these into MPFile where they belong
                var colors = ['#EC3323', '#001DF5', '#E08244', '#70FBFD', '#4CAD5B', '#4BAEEA', '#EB3CF7']
                var annotations = [
                    '<b>5.1±0.8 ps</b>',
                    '<b>2.7±0.6 ps</b>',
                    '<b>1.9±0.5 ps</b>',
                    '<b>1.4±0.4 ps</b>',
                    '<b>1.3±0.3 ps</b>',
                    '<b>1.6±0.4 ps</b>',
                    '<b>3.4±0.6 ps</b>'
                    ]
            
                {% for position_label, values in lineprofiles.y_values.items %}
                
                var trace = {
                    x: {{ lineprofiles.global_x_values|safe }},
                    y: {{ values|safe }},
                    type: 'scatter',
                    name: '{{ position_label|safe }}',
                    mode: 'lines+markers',
                    line: {
                        color: colors[{{ forloop.counter0 }}],
                        width: 3
                    },
                    marker: {
                        symbol: 'circle',
                        size: 4,
                        color: '#fff',
                        line: {
                            color: '#444',
                            width: 1
                        }
                    }
                }
                
                layout.annotations = [
                    {
                        text: annotations[{{ forloop.counter0 }}],
                        xref: 'paper',
                        x: 0.9,
                        yref: 'paper',
                        y: 0.1,
                        showarrow: false,
                        font: {
                            size: 14,
                            color: colors[{{ forloop.counter0 }}]
                        }
                    }
                ]
                
                Plotly.newPlot('{{ position_label|safe }}_graph', [trace], layout, config);
                
                
                {% endfor %}

                
                //var main_graph = document.getElementById('main_graph');
                //var traces = [];
                //
                //{% for position_label, values in lineprofiles.y_values.items %}
                //var trace = {
                //    x: {{ lineprofiles.global_x_values|safe }},
                //    y: {{ values|safe }},
                //    type: 'scatter',
                //    name: '{{ position_label|safe }}'
                //}
                //traces.push(trace);
                //{% endfor %}
                //
                //var layout = {
                //  yaxis: {domain: [0, 0.266]},
                //  legend: {traceorder: 'reversed'},
                //  xaxis3: {anchor: 'y3'},
                //  xaxis2: {anchor: 'y2'},
                //  yaxis2: {domain: [0.366, 0.633]},
                //  yaxis3: {domain: [0.733, 1]}
                //};
                //
                //Plotly.newPlot('main_graph', traces);
            
             //});
        });        
    });
</script>

{% endif %}
{% endblock %}
