[supervisord]
nodaemon=true
user=root
logfile=/tmp/supervisord.log
pidfile=/tmp/supervisord.pid
environment=
    MPCONTRIBS_MONGO_HOST="%(ENV_MPCONTRIBS_MONGO_HOST)s",
    {% if not production %}
    AWS_ACCESS_KEY_ID="%(ENV_AWS_ACCESS_KEY_ID)s",
    AWS_SECRET_ACCESS_KEY="%(ENV_AWS_SECRET_ACCESS_KEY)s",
    {% endif %}
    METADATA_URI="%(ENV_ECS_CONTAINER_METADATA_URI_V4)s",
    REDIS_ADDRESS="%(ENV_REDIS_ADDRESS)s",
    AWS_REGION="us-east-1",
    AWS_DEFAULT_REGION="us-east-1",
    MAIL_DEFAULT_SENDER="contribs@materialsproject.org",
    DD_PROFILING_ENABLED="true",
    DD_LOGS_INJECTION="true",
    FLASK_APP="mpcontribs.api",
    PYTHONUNBUFFERED=1,
    MAX_REQUESTS=0,
    MAX_REQUESTS_JITTER=0,
    NWORKERS={{ nworkers }},
    RELOAD={{ reload }},
    NODE_ENV="{{ node_env }}",
    FLASK_DEBUG="{{ flask_debug }}",
    FLASK_LOG_LEVEL="{{ flask_log_level }}",
    DD_LOG_LEVEL="{{ flask_log_level }}",
    JUPYTER_GATEWAY_URL="{{ jupyter_gateway_url }}",
    JUPYTER_GATEWAY_HOST="{{ jupyter_gateway_host }}",
    DD_AGENT_HOST="{{ dd_agent_host }}",
    DD_GEVENT_PATCH_ALL="true",
    DD_TRACE_SAMPLE_RATE="1"

[program:main]
command=ddtrace-run ./main.py
directory=/app
stdout_logfile=/dev/fd/1
stdout_logfile_maxbytes=0
stderr_logfile=/dev/fd/2
stderr_logfile_maxbytes=0

[unix_http_server]
file=/var/run/supervisor.sock
chmod=777
chown=nobody:nogroup

[rpcinterface:supervisor]
supervisor.rpcinterface_factory=supervisor.rpcinterface:make_main_rpcinterface

[supervisorctl]
serverurl=unix:///var/run/supervisor.sock

{% set names = deployments.keys() %}

[group:apis]
programs={{ names|join('-api,') }}-api

[group:rq]
programs={{ names|join('-worker,') }}-worker

{% for deployment, cfg in deployments.items() %}
{% set defaults %}
priority={{ loop.index * 100 }}
directory=/app
autostart=false
autorestart=false
stopsignal=TERM
exitcodes=124
stdout_logfile=/dev/fd/1
stdout_logfile_maxbytes=0
stderr_logfile=/dev/fd/2
stderr_logfile_maxbytes=0
environment=
    DEPLOYMENT={{ loop.index0 }},
    API_PORT={{ cfg.api_port }},
    PORTAL_PORT={{ cfg.portal_port }},
    MPCONTRIBS_API_HOST="{{ mpcontribs_api_host }}:{{ cfg.api_port }}",
    MPCONTRIBS_DB_NAME="mpcontribs-{{ cfg.db }}",
    TRADEMARK="{{ cfg.tm }}",
    MAX_PROJECTS="{{ cfg.max_projects }}",
    S3_DOWNLOADS_BUCKET="mpcontribs-downloads-{{ cfg.s3 }}",
    S3_ATTACHMENTS_BUCKET="mpcontribs-attachments-{{ cfg.s3 }}",
    S3_IMAGES_BUCKET="mpcontribs-images-{{ cfg.s3 }}",
    ADMIN_GROUP="admin_{{ deployment }}.materialsproject.org"
{% endset %}

[program:{{ deployment }}-worker]
command=./scripts/start_rq.sh worker
numprocs=1
{{ defaults }}

[program:{{ deployment }}-api]
command=./scripts/start.sh
{{ defaults }}
{% endfor %}
