boltons==21.0.0
boto3==1.17.106
Django==3.2.5
django-extensions==3.1.3
django-settings-file==2.4.0
django-webpack4-loader==0.0.5
fastnumbers==3.1.0
gunicorn[gevent]==20.1.0
ipykernel==5.5.5
json2html==1.3.0
jupyter-client==6.2.0
monty==2021.6.10
mpcontribs-client==3.11.0
nbconvert==5.6.1
nbformat==5.1.3
pymongo==3.11.4
scipy==1.7.0
whitenoise==5.2.0
