{% extends "header_footer.html" %}
{% load render_bundle from webpack_loader %}

{% block content %}

<section class="section">
    <div class="content">Fill out and submit this form to apply for your own project on MPContribs. Upon submission of your
        information an email will be sent to an admin to approve your request. If approved, you can
        start <a href="https://pypi.org/project/mpcontribs-client/">uploading data to your project</a>
        which will appear on the project landing page.
        <a href="mailto:contribs@materialsproject.org">Email us</a>
        to add other MPContribs users who you'd like to be added to your
        project group as collaborators. Collaborators and owners have identical permissions but
        the number of projects an owner can create is limited. Your data will only be visible
        to you and your collaborators until you choose to make it public. Only public
        contributions will appear on the detail pages of
        <a href="https://materialsproject.org">Materials Project</a>.
    </div>

    {% if not request.META.HTTP_X_ANONYMOUS_CONSUMER %}
    <form id=apply-form>
        <input id=owner name="owner" type="hidden" value="{{request.META.HTTP_X_CONSUMER_USERNAME}}">
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">
                    <span class="dotted has-tooltip-multiline has-tooltip-right"
                          data-tooltip="Comma-separated list of authors.">
                        Authors
                    </span>
                </label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input" type="text" id=authors name=authors
                        placeholder="Enter authors" required maxlength=100
                        data-parsley-whitespace="squish">
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">
                    <span class="dotted is-tooltip-multiline has-tooltip-right"
                          data-tooltip="Short name used in project URL. Short and long title.">
                        Project
                    </span>
                </label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input" type="text" id=name name=name minlength=3 maxlength=30
                               placeholder="Enter URL-safe name" required data-parsley-type="alphanum">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input type="text" class="input" id="title" name=title minlength=5 maxlength=30
                        placeholder="Enter short title" required data-parsley-whitespace="squish">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input type="text" class="input" id="long_title" name=long_title
                             minlength=5 maxlength=55 placeholder="Enter long title" required
                             data-parsley-whitespace="squish">
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">
                    <span class="dotted is-tooltip-multiline has-tooltip-right"
                          data-tooltip="Brief paragraph to describe the project.">
                        Description
                    </span>
                </label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <textarea class="textarea" rows="3" id="description" name=description
                            minlength=5 maxlength=1500 data-parsley-whitespace="squish" required
                            placeholder='Add a description with max 1500 characters. The first sentence will always be shown. Additional sentences will be collapsed into a "More &raquo;" button.'></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">
                    <span class="dotted is-tooltip-multiline has-tooltip-right"
                          data-tooltip="A label/URL pair to point to an online reference.">
                        Reference
                    </span>
                </label>
            </div>
            <div class="field-body">
                <div class="field has-addons">
                    <div class="control">
                        <input type="text" class="input" id="ref_label" name=ref_label
                             minlength=3 maxlength=20 placeholder="Enter label" required
                             data-parsley-type="alphanum">
                    </div>
                    <div class="control is-expanded">
                        <input type="url" class="input is-fullwidth" id="ref_url" name=ref_url
                              placeholder="Enter URL, preferably DOI" required>
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label">
                <!-- Left empty for spacing -->
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <button type="submit" class="button is-link" id=apply-button>Apply</button>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <article class="message is-hidden" id=apply-response>
                            <div class="message-body"></div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </form>
    {% endif %}
</section>

{% endblock %}

{% block footer %}
{% render_bundle 'apply' %}
{% endblock %}
