{% extends "header_footer.html" %}
{% load render_bundle from webpack_loader %}

{% block content %}
<section class="section" id="browse">
    <article class="message is-dark">
        <div class="message-header">
            <p>Community Contributions to Materials Project</p>
        </div>
        <div class="message-body has-text-justified">
            <b>MPContribs</b> enables materials researchers to contribute experimental and theoretical
            materials data to <a href=https://materialsproject.org>Materials Project</a> (MP). Data on
            MPContribs is collectively maintained as annotations to existing MP materials and
            automatically exposed to over 190,000 MP users. MPContribs disseminates contributions as
            preview cards on MP's
            <a href=https://next-gen.materialsproject.org/materials/mp-22987>materials details pages</a>,
            in the form of domain-specific interactive landing pages on this portal, and
            programmatically through a <a href="https://pypi.org/project/mpcontribs-client/">python client</a>
            for its <a href="https://contribs-api.materialsproject.org">API</a>.
        </div>
    </article>

    <!--
    {% if not request.META.HTTP_X_ANONYMOUS_CONSUMER %}
    {% if lp.total %}
    <span class="tag">{{ lp.total }}</span>
    <a name=download id=download_{{lp.name}}_json
        class="button is-primary is-light is-small"
        data-format=json data-project={{lp.name}}>JSON</a>
    <a name=download id=download_{{lp.name}}_csv
        class="button is-primary is-light is-small"
        data-format=csv data-project={{lp.name}}>CSV</a>
    <span class="tag is-hidden" id=download_{{lp.name}}_progress></span>
    <a name=get_download id=get_download_{{lp.name}} data-project={{lp.name}}
        class="button is-danger is-light is-hidden is-small">Click to download</a>
    {% else %}
    <span class="notification is-warning p-1 is-light is-size-7">
        Data not available yet. Contact <a href="mailto:{{lp.owner}},contribs@materialsproject.org">us</a>.
    </span>
    {% endif %}
    </div>
    {% endif %}
    -->

    {% if simple_table %}{{ simple_table|safe }}{% endif %}
</section>
{% endblock %}

{% block footer %}
{% render_bundle 'browse' %}
{% endblock %}
