{% extends "header_footer.html" %}
{% load render_bundle from webpack_loader %}

{% block content %}
<section class="section" id="browse">
    <article class="message is-dark">
        <div class="message-header">
            <p>Community Contributions to Materials Project</p>
        </div>
        <div class="message-body has-text-justified">
            <b>MPContribs</b> enables materials researchers to contribute experimental and theoretical
            materials data to <a href=https://materialsproject.org>Materials Project</a> (MP). Data on
            MPContribs is collectively maintained as annotations to existing MP materials and
            automatically exposed to over 160,000 MP users. MPContribs disseminates contributions as
            preview cards on MP's
            <a href=https://materialsproject.org/materials/mp-22987/#user-contribs>materials details pages</a>,
            in the form of domain-specific interactive landing pages on its portal, and
            programmatically through its <a href="https://contribs-api.materialsproject.org">API</a>.
            MPContribs deployments dedicated to datasets for
            <a href="https://ml.materialsproject.org">Machine Learning</a> and from
            <a href="https://lightsources.materialsproject.org">DOE Light Sources</a>
            are currently being built up.
        </div>
    </article>

    {% if landing_pages %}
    {% for lp in landing_pages %}
    <div class="modal" id=thumbnail_{{lp.name}}_modal>
        <div class="modal-background" name=thumbnail_close></div>
        <div class="modal-content">
            <p class="image" name=thumbnail_{{lp.name}}_img></p>
        </div>
        <button class="modal-close is-large"
                aria-label="close"
                name=thumbnail_close>
        </button>
    </div>
    {% endfor %}

    <div class="columns is-multiline">
        {% for lp in landing_pages %}
        <div class="column is-half" id="{{ lp.name }}" name=cards>
        <article class="media box">
            <a name=thumbnail id=thumbnail_{{lp.name}}>
                <figure name=thumbnail_{{lp.name}}_img
                        class="media-left image is-hidden-touch is-128x128 is-clipped">
                </figure>
            </a>
            <div class="media-content">
                {% if lp.references %}
                <nav class="breadcrumb has-bullet-separator is-size-7 is-marginless">
                    <ul>
                        {% for ref in lp.references %}
                        <li><a href="{{ref.url}}">{{ref.label}}</a></li>
                        {% endfor %}
                    </ul>
                </nav>
                {% endif %}
                <div class="content is-size-6 is-marginless">
                    {{ lp.authors.0 }}
                    {% if lp.authors.1 %}
                    <a class="has-tooltip-top has-tooltip-multiline"
                          data-tooltip="{{ lp.authors.1 }}">et al.</a>
                    </a>
                    {% endif %}
                </div>
                <details class="content">
                    <summary>
                        <a class="is-size-4 has-text-weight-semibold" href="projects/{{ lp.name }}/">
                            {{ lp.title }}
                        </a>
                    </summary>
                    <p class="is-size-6">{{ lp.description }}</p>
                </details>
                {% if not request.META.HTTP_X_ANONYMOUS_CONSUMER %}
                <a name=download id=download_{{lp.name}}_json
                    class="button is-primary is-light is-small"
                    data-format=json data-project={{lp.name}}>JSON</a>
                <a name=download id=download_{{lp.name}}_csv
                    class="button is-primary is-light is-small"
                    data-format=csv data-project={{lp.name}}>CSV</a>
                <span class="tag is-hidden" id=download_{{lp.name}}_progress></span>
                <a name=get_download id=get_download_{{lp.name}} data-project={{lp.name}}
                    class="button is-danger is-light is-hidden is-small">Click to download</a>
                {% endif %}
                {% if not lp.is_public %}
                <span class="tag is-light is-danger is-pulled-right">private</span>
                {% endif %}
            </div>
        </article>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</section>
{% endblock %}

{% block footer %}
{% render_bundle 'browse' %}
{% endblock %}
