{% extends "header_footer.html" %}
{% load render_bundle from webpack_loader %}

{% block content %}
{% if identifier %}
<section class="section" id=contribution>
    <nav class="level">
        <div class="level-left" id=anchors>
        </div>
        <div class="level-item has-text-centered">
            <div class="title">
                {{ identifier }}<div class="is-size-7">{{ cid }}</div>
            </div>
        </div>
        {% if not request.META.HTTP_X_ANONYMOUS_CONSUMER %}
        <div class="level-right">
            <a class="button is-primary" href="{{ request.path }}.json.gz">Download</a>
        </div>
        {% endif %}
    </nav>

    <div id=notebook data-ncells="{{ ncells }}">
        {{ nb|safe }}
    </div>
</section>
{% endif %}
{% endblock content %}

{% block footer %}
{% render_bundle 'contribution' %}
{% endblock %}
