{% extends "header_footer.html" %}
{% block footer %}<script>{{ js|safe }}</script>{% endblock %}

{% block content %}
<section class="section" id=contribution>
    <nav class="level">
        <div class="level-left" id=anchors>
        </div>
        <div class="level-item has-text-centered">
            <h1 class="title">
                {{ identifier }}<div class="is-size-7">{{ cid }}</div>
            </h1>
        </div>
        <div class="level-right">
            <div class="level-item">
                <div class="field">
                    <input id="toggle_Code" type="checkbox" name="toggles" class="switch is-rounded is-outlined" checked="checked">
                    <label for="toggle_Code">Code</label>
                </div>
            </div>
            <div class="level-item">
                <div class="field">
                    <input id="toggle_HData" type="checkbox" name="toggles" class="switch is-rounded is-outlined" checked="checked">
                    <label for="toggle_HData">HData</label>
                </div>
            </div>
            <div class="level-item is-hidden" id=item_Tables>
                <div class="field">
                    <input id="toggle_Tables" type="checkbox" name="toggles" class="switch is-rounded is-outlined" checked="checked">
                    <label for="toggle_Tables">Tables</label>
                </div>
            </div>
            <div class="level-item is-hidden" id=item_Graphs>
                <div class="field">
                    <input id="toggle_Graphs" type="checkbox" name="toggles" class="switch is-rounded is-outlined" checked="checked">
                    <label for="toggle_Graphs">Graphs</label>
                </div>
            </div>
            <div class="level-item is-hidden" id=item_Structures>
                <div class="field">
                    <input id="toggle_Structures" type="checkbox" name="toggles" class="switch is-rounded is-outlined" checked="checked">
                    <label for="toggle_Structures">Structures</label>
                </div>
            </div>
            <div class="level-item">
                <a class="button is-primary" href="{{ request.path }}.json">Download</a>
            </div>
        </div>
    </nav>

    <div id=notebook data-ncells="{{ ncells }}">
        {{ nb|safe }}
    </div>
</section>
{% endblock content %}
