{% extends "header_footer.html" %}

{% block content %}
<section class="section" id=contribution>
    <nav class="level">
        <div class="level-left" id=anchors>
        </div>
        <div class="level-item has-text-centered">
            <div class="title">
                {{ identifier }}<div class="is-size-7">{{ cid }}</div>
            </div>
        </div>
        <div class="level-right">
            <a class="button is-primary" href="{{ request.path }}.json">Download</a>
        </div>
    </nav>

    <div id=notebook data-ncells="{{ ncells }}">
        {{ nb|safe }}
    </div>
</section>
{% endblock content %}
