{% extends "header_footer.html" %}

{% block content %}
<section class="section" id=landingpage>

    <h2 class="title">
        {{ title }}
        {% if urls %}
        <sup style="font-size: 50%; vertical-align: top;">
        {% for k, v in urls.items %}
        <a href="{{ v }}" target="_blank">[{{k}}]</a>
        {% endfor %}
        </sup>
        {% endif %}
        <span class="is-pulled-right" style="font-size: 14px;">
            {{ authors.main }}
            {% if authors.etal %}
            <a name="read_more">et al.</a>
            <span name="read_more" hidden>
                {% for author in authors.etal %}{{ author }}<br/>{% endfor %}
            </span>
            {% endif %}
        </span>
    </h2>
    <p>
    {{ descriptions.0 }}.
    {% if descriptions.1 %}
    <a name="read_more">More &raquo;</a>
    <span name="read_more" hidden>{{ descriptions.1 }}</span>
    {% endif %}
    </p>
    {% if other and other.strip != 'null' %}
    <a name="read_more">Other Info &raquo;</a>
    <div name="read_more" id=other style="width:100%;" data-renderjson='{{ other }}' hidden></div>
    {% endif %}

    <div class="columns">
        <div class="column is-fullwidth">
            <div id="spinner_graph_custom"></div>
            <div id="graph_custom" style="width: 100%;"></div>
        </div>
    </div>

    {% if columns and columns.strip != 'null' %}
    <div class="columns">
        <div class="column is-2">
            <select id="columns_list">
                <option value=""></option>
                {% for col in search_columns %}
                <option value="{{ col }}">{{ col }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="column is-6" id=table_filter></div>
        <div class="column is-2" id=total_count></div>
        <div class="column is-pulled-right" id=table_columns></div>
    </div>
    <div class="columns">
        <div class="column is-fullwidth">
            <div id="spinner_table"></div>
            <div id=table style="width:100%;" data-columns='{{ columns|join:"," }}' data-project='{{ project }}'></div>
            <div id=table_pagination></div>
        </div>
    </div>
    <div class="columns">
        <div class="column is-fullwidth">
            <div id="spinner_graph"></div>
            <div id="graph" style="width: 100%;" data-ranges='{{ ranges }}'></div>
        </div>
    </div>
    {% endif %}
</section>
{% endblock %}
