{% load render_entrypoint from webpack_loader %}
<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: 'unsafe-inline' fonts.googleapis.com fonts.gstatic.com {{ API_CNAME }}">
    <title>MPContribs</title>
    <input id="api_key" type="hidden" value="{{ request.META.HTTP_X_CONSUMER_CUSTOM_ID }}">
    <input id="api_cname" type="hidden" value="{{ API_CNAME }}">
    {% block extra_css %}
    {% endblock extra_css %}
    {% render_entrypoint 'main' %}
  </head>
  <body>
      <nav class="navbar is-fixed-top has-background-dark" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
              <a class="navbar-item has-text-centered" href="/">
                  <img id="logo">
                  <p class="has-text-weight-bold is-family-code is-size-4">
                      <sup>{{ TRADEMARK }}</sup>
                  </p>
              </a>
              <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
              </a>
          </div>
          <div id="navbarBasicExample" class="navbar-menu">
              <a class="navbar-item" id="browse-toggle" href="/">Browse</a>
              <a class="navbar-item" id="search-toggle" href="/search">Search</a>
              <div class="navbar-end">
                  <div class="navbar-item">
                      <div class="buttons">
                          <a class="button is-primary" href="/contribute">
                              <strong>Contribute</strong>
                          </a>
                          {% if request.META.HTTP_X_ANONYMOUS_CONSUMER %}
                          <a class="button is-primary is-light" href="{{ OAUTH_URL }}">
                              Log in
                          </a>
                          {% else %}
                          <div class="navbar-item has-dropdown">
                              <a class="navbar-link">
                                  <span class="icon"><i class="fas fa-user"></i></span>
                              </a>
                              <div class="navbar-dropdown is-right has-background-light">
                                  <p class="navbar-item has-text-dark">
                                  <span class="icon"><i class="far fa-user"></i></span>
                                  <span>{{ request.META.HTTP_X_CONSUMER_USERNAME }}</span>
                                  </p>
                                  <p class="navbar-item has-text-dark">
                                      <span class="icon"><i class="fas fa-key"></i></span>
                                      <code>{{ request.META.HTTP_X_CONSUMER_CUSTOM_ID }}</code>
                                  </p>
                                  {% if request.META.HTTP_X_AUTHENTICATED_GROUPS %}
                                  <p class="navbar-item has-text-dark">
                                      <span class="icon"><i class="fas fa-users"></i></span>
                                      <span class="is-family-code">{{ request.META.HTTP_X_AUTHENTICATED_GROUPS }}</span>
                                  </p>
                                  {% endif %}
                                  <!-- TODO link to local docs in dev -->
                                  <a class="navbar-item" id=docs_url href="https://docs.mpcontribs.org" target="_blank">
                                      <span class="icon"><i class="fas fa-book"></i></span>
                                      <span>Documentation</span>
                                  </a>
                                  <a class="navbar-item" name=api_url target="_blank">
                                      <span class="icon"><i class="fas fa-code"></i></span>
                                      <span>RESTful API</span>
                                  </a>
                                  <!-- TODO merge ingester webapp into portal -->
                                  <a class="navbar-item" href="{{ OAUTH_URL }}/logout">
                                      <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                                      <span>Logout</span>
                                  </a>
                              </div>
                          </div>
                          {% endif %}
                      </div>
                  </div>
              </div>
          </div>
      </nav>

      {% if alert %}
      <div id=alert class="notification is-warning is-marginless">
          {{ alert|safe }}
      </div>
      {% endif %}

      {% block content %}
      <!-- Page Content-->
      {% endblock content %}

      <footer class="footer">
          <div class="content has-text-centered is-size-7" style="margin-bottom: 0px">
              Supported by NSF LSDI Data Infrastructure Building Blocks program and
              DOE BES <a href="https://materialsproject.org">Materials Project</a>.
          </div>
          {% block footer %}
          {% endblock footer %}
      </footer>
  </body>
</html>
