{% load render_entrypoint from webpack_loader %}
<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MPContribs Portal</title>
    <input id="api_key" type="hidden" value="{{ request.META.HTTP_X_CONSUMER_CUSTOM_ID }}">
    <script src="https://kit.fontawesome.com/4f92cc8510.js" crossorigin="anonymous"></script>
    {% block extra_css %}
    {% endblock extra_css %}
    {% render_entrypoint 'main' %}
  </head>
  <body>
      <header hidden>
          <nav class="navbar is-fixed-top has-background-dark is-spaced" role="navigation" aria-label="main navigation">
              <div class="navbar-brand">
                  <a class="navbar-item" href="/">
                      <img id="logo">
                  </a>
                  <a role="button" class="navbar-burger burger" aria-label="menu"
                      aria-expanded="false" data-target="navbarBasicExample">
                      <span aria-hidden="true"></span>
                      <span aria-hidden="true"></span>
                      <span aria-hidden="true"></span>
                  </a>
              </div>
              <div id="navbarBasicExample" class="navbar-menu">
                  <div class="navbar-start">
                      <div class="navbar-item">
                          <select data-placeholder="Search or jump to projects ..." id="search">
                              <option></option>
                          </select>
                      </div>
                  </div>
                  <div class="navbar-end">
                      <!-- TODO merge ingester webapp into portal -->
                      <a class="navbar-item" href="/apply">Apply</a>
                      <a class="navbar-item" href="/use">Use</a>
                      {% block extra_items %}
                      {% endblock extra_items %}
                      <div class="navbar-item has-dropdown is-hoverable">
                          <a class="navbar-link is-arrowless">
                              <span class="icon"><i class="fas fa-ellipsis-v"></i></span>
                          </a>
                          <div class="navbar-dropdown is-right">
                              <div class="navbar-item has-text-weight-semibold">
                                  <div class="has-text-white">
                                      <span class="icon"><i class="fas fa-user fa-fw"></i></span>
                                      {{ request.META.HTTP_X_CONSUMER_USERNAME }}
                                  </div>
                              </div>
                              {% if request.META.HTTP_X_CONSUMER_CUSTOM_ID %}
                              <a class="navbar-item">
                                  <div class="button is-small" id=api_key_btn>
                                      <span class="icon"><i class="far fa-copy fa-fw"></i></span>
                                      Copy API Key
                                  </div>
                              </a>
                              {% endif %}
                              <a class="navbar-item" id=docs_url target="_blank">
                                  <div>
                                      <span class="icon"><i class="fas fa-info fa-fw"></i></span>
                                      Documentation
                                  </div>
                              </a>
                              <a class="navbar-item" name=api_url target="_blank">
                                  <div>
                                      <span class="icon"><i class="fas fa-code fa-fw"></i></span>
                                      RESTful API
                                  </div>
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
          </nav>

      </header>
      {% if alert %}
      <div id=alert class="notification is-danger">
          {{ alert|safe }}
      </div>
      {% endif %}
      {% block content %}
      <!-- Page Content-->
      {% endblock content %}
      <footer class="footer" hidden>
          <div class="content has-text-centered is-size-7">
              Supported by NSF LSDI Data Infrastructure Building Blocks program and
              DOE BES <a href="https://materialsproject.org">Materials Project</a>.
          </div>
          {% block footer %}
          {% endblock footer %}
      </footer>
  </body>
</html>
