{% load render_entrypoint from webpack_loader %}
<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MPContribs</title>
    <input id="api_key" type="hidden" value="{{ request.META.HTTP_X_CONSUMER_CUSTOM_ID }}">
    <input id="api_cname" type="hidden" value="{{ API_CNAME }}">
    <input id="api_port" type="hidden" value="{{ API_PORT }}">
    {% block extra_css %}
    {% endblock extra_css %}
    {% render_entrypoint 'main' %}
  </head>
  <body>
      <nav class="navbar is-fixed-top has-background-dark" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
              <a class="navbar-item has-text-centered" href="/">
                  <img id="logo">
                  <p class="has-text-weight-bold is-family-code is-size-4">
                      <sup>{{ TRADEMARK }}</sup>
                  </p>
              </a>
              <div class="navbar-burger" data-target="navbarBasicExample">
                  <span></span>
                  <span></span>
                  <span></span>
              </div>
          </div>
          <div id="navbarBasicExample" class="navbar-menu">
              <div class="navbar-start">
                  <div class="navbar-item has-text-centered">
                      <select data-placeholder="Search or jump to projects ..." id="jump">
                          <option></option>
                      </select>
                  </div>
                  <div class="navbar-item has-text-centered">
                      <div class="tabs is-centered is-toggle is-toggle-rounded has-text-weight-semibold">
                          <ul>
                              <li class="is-active"><a id="browse-toggle" href="/#browse">Browse</a></li>
                              <li><a id="search-toggle" href="/#search">Search</a></li>
                              <li><a id="apply-toggle" href="/#apply">Apply</a></li>
                              <li><a id="work-toggle" href="/#work">Work</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="navbar-end">
                  <!-- TODO merge ingester webapp into portal -->
                  <a class="navbar-item has-text-centered" id=docs_url target="_blank">Docs</a>
                  <a class="navbar-item has-text-centered" name=api_url target="_blank">API</a>
                  {% if request.META.HTTP_X_CONSUMER_CUSTOM_ID %}
                  <div class="navbar-item has-text-centered">
                      <button class="button is-small is-outlined is-rounded is-primary" id=api_key_btn>
                          <span class="icon is-small"><i class="far fa-copy"></i></span>
                          <span id=api_key_text>API Key</span>
                      </button>
                  </div>
                  {% endif %}
                  <a class="navbar-item has-text-weight-semibold has-tooltip-left has-text-centered"
                     data-tooltip="{{ request.META.HTTP_X_CONSUMER_USERNAME }}">
                      <span class="icon is-small"><i class="far fa-user"></i></span>
                      <span class="is-hidden-desktop">{{ request.META.HTTP_X_CONSUMER_USERNAME }}</span>
                  </a>
              </div>
          </div>
      </nav>

      <div class="columns">
          <div class="column is-fullwidth">
              <div class="dropdown is-hidden" id="main-help">
                  <div class="dropdown-trigger">
                      <button class="button is-primary is-light is-fullwidth" id=main-help-button
                          aria-haspopup="true" aria-controls="main-help-menu">
                          <span>Help</span>
                          <span class="icon"><i class="fas fa-angle-down" aria-hidden="true"></i></span>
                      </button>
                  </div>
                  <div class="dropdown-menu" role="menu" id=main-help-menu>
                      <div class="dropdown-content">
                          <div class="dropdown-item">
                              <p id=main-help-text></p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      {% if alert %}
      <div id=alert class="notification is-warning">
          {{ alert|safe }}
      </div>
      {% endif %}

      {% block content %}
      <!-- Page Content-->
      {% endblock content %}

      <footer class="footer">
          <div class="content has-text-centered is-size-7">
              Supported by NSF LSDI Data Infrastructure Building Blocks program and
              DOE BES <a href="https://materialsproject.org">Materials Project</a>.
          </div>
          {% block footer %}
          {% endblock footer %}
      </footer>
  </body>
</html>
