{% extends "header_footer.html" %}

{% block content %}

<section class="section is-hidden" id="browse">
    {% for lp in landing_pages %}
    <div class="modal" id=thumbnail_{{lp.name}}_modal>
        <div class="modal-background" name=thumbnail_close></div>
        <div class="modal-content">
            <p class="image" name=thumbnail_{{lp.name}}_img></p>
        </div>
        <button class="modal-close is-large"
                aria-label="close"
                name=thumbnail_close>
        </button>
    </div>
    <article class="media box" id="{{ lp.name }}" name=cards>
        <a name=thumbnail id=thumbnail_{{lp.name}}>
            <figure name=thumbnail_{{lp.name}}_img
                    class="media-left image is-hidden-touch is-128x128 is-clipped">
            </figure>
        </a>
        <div class="media-content">
            {% if lp.references %}
            <nav class="breadcrumb has-bullet-separator is-size-7 is-marginless">
                <ul>
                    {% for ref in lp.references %}
                    <li><a href="{{ref.url}}">{{ref.label}}</a></li>
                    {% endfor %}
                </ul>
            </nav>
            {% endif %}
            <div class="content is-size-6 is-marginless">
                {{ lp.authors.0 }}
                {% if lp.authors.1 %}
                <a class="has-tooltip-top has-tooltip-multiline"
                      data-tooltip="{{ lp.authors.1 }}">et al.</a>
                </a>
                {% endif %}
                {% if not lp.is_public %}
                <span class="icon is-pulled-right">
                    <i class="far fa-eye-slash"></i>
                </span>
            </div>
            {% endif %}
            <details>
                <summary>
                    <a class="is-size-4 has-text-weight-semibold" href="{{ lp.name }}/">
                        {{ lp.title }}
                    </a>
                </summary>
                <p class="is-size-6">{{ lp.description }}</p>
            </details>
        </div>
        <div class="media-right">
            <!-- TODO leaderboard numbers/table -->
            <!-- TODO download button -->
        </div>
    </article>
    {% endfor %}
</section>

<section class="section is-hidden" id="search">
    <article class="message is-dark">
        <div class="message-header">
            <p>Search Contributions</p>
        </div>
        <div class="message-body has-text-justified">
            Select project(s), formula(s), and/or identifier(s) to update the results table with
            basic information about the matching contributions. Click the contribution identifier
            (left-most column) to render its preview card as it appears on the materials details
            pages of <a href="https://materialsproject.org">Materials Project</a>.
        </div>
    </article>
    <div class="columns">
        <div class="column is-half">
            <div class="box">
                <div class="columns is-multiline">
                    <div class="column has-text-dark">
                        <div class="field">
                            <div class="control">
                                <select id="projects_list" multiple="multiple"></select>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <select id="formulas_list" multiple="multiple"></select>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <select id="identifiers_list" multiple="multiple"></select>
                            </div>
                        </div>
                    </div>
                    <div class="column is-narrow">
                        <div class="field">
                            <input class="is-checkradio" id="has_structures" type="checkbox">
                            <label for="has_structures">has structure(s)</label>
                        </div>
                        <div class="field">
                            <input class="is-checkradio" id="has_tables" type="checkbox">
                            <label for="has_tables">has table(s)</label>
                        </div>
                        <div class="field is-grouped is-grouped-multiline">
                            <div class="control">
                                <div class="tags has-addons">
                                    <span class="tag is-black">results</span>
                                    <span class="tag is-light" id=count></span>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <div id="spinner"></div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-full table-container">
                        <table class="table is-narrow has-background-dark has-text-white">
                            <tbody id=results></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-half">
            <div class="column is-full has-text-dark" id=card>
                <!-- card dynamically added -->
            </div>
        </div>
    </div>
</section>

<section class="section is-hidden" id="apply">
    <article class="message is-dark">
        <div class="message-header">
            <p>Project Application</p>
        </div>
        <div class="message-body has-text-justified">
            Fill out this form to apply for your own project on MPContribs. Upon submission of your
            information an email will be sent to an admin to approve your request. If approved, you can
            start uploading data to your project which will appear on the project landing page. You
            can choose to add e-mails of other MPContribs users who you'd like to be added to your
            project group as collaborators. Collaborators and owners have identical permissions but
            the number of projects an owner can create is limited. Your data will only be visible
            to you and your collaborators until you choose to make it public. Only public
            contributions will appear on the detail pages of
            <a href="https://materialsproject.org">Materials Project</a>.

            Guidance and validation:

            <ul>
                <li>
                    Add multiple authors by hitting enter. The preferred format is "FirstInitial.
                    LastName". Only the first author entered here will always be shown and the
                    remaining authors will be wrapped into an expandable "et al." link.
                </li>
                <li>
                    The first field in "Project" is a short (3-30 characters) URL-safe name. Please
                    only use lower-case and alpha-numeric characters separated by underscores. The
                    other two fields in "Project" are short title (5-30 characters) and long title
                    (5-55 characters).
                </li>
            </ul>
        </div>
    </article>
    <form id=apply-form>
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Authors</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input" type="tags" id=authors
                             name=authors value="P. Huck / J. Doe, K. Persson" placeholder="Enter authors" required>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input class="input is-static" type="text" id=owner name=owner
                             value="{{request.META.HTTP_X_CONSUMER_USERNAME}}"
                             placeholder="{{request.META.HTTP_X_CONSUMER_USERNAME}}"
                             required>
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Project</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input" type="text" id=name name=name minlength=3 maxlength=30 placeholder="my_project" required>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input type="text" class="input" id="title" name=title minlength=5 maxlength=30 placeholder="Short Title" required>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input type="text" class="input" id="long_title" name=long_title minlength=5 maxlength=55 placeholder="Long Title" required>
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Description</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <textarea class="textarea" rows="3" id="description" name=description minlength=5 maxlength=1500
                                placeholder='Add a description. The first sentence will always be shown. Additional sentences will be collapsed into a "More &raquo;" button.' required></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal" id=btnPlus>
                <label class="label">References</label>
                <a class="button btnPlus is-primary is-light is-small">
                    <span class="icon"><i class="fas fa-plus"></i></span>
                </a>
            </div>
            <div class="field-body" id="czContainer">
                <div id="first">
                    <div class="recordset field has-addons">
                        <div class="control">
                            <input type="text" class="input" id="ref_1_key" name=ref_1_key
                                 minlength=3 maxlength=8 placeholder="Label" required>
                        </div>
                        <div class="control is-expanded">
                            <input type="text" class="input is-fullwidth" id="ref_1_url" name=ref_1_url minlength=7 maxlength=100
                                 placeholder="https://doi.org/10.1007/978-3-319-42913-7_60-1" required>
                        </div>
                        <div class="control" id=btnMinus>
                            <a class="button btnMinus is-primary">
                                <span class="icon"><i class="fas fa-times"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label">
                <!-- Left empty for spacing -->
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <button type="submit" class="button is-link" id=apply-button>Apply</button>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <article class="message is-hidden" id=apply-response>
                            <div class="message-body"></div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

<section class="section is-hidden" id="work">
    <article class="message is-dark">
        <div class="message-header">
            <p>Notebook Examples</p>
        </div>
        <div class="message-body has-text-justified">
            The <a href="https://jupyter.org">Jupyter</a> notebooks shown below demonstrate how to
            use the <a href="https://pypi.org/project/mpcontribs-client/" target="_blank">mpcontribs-client</a>
            python library to programmatically contribute, update and retrieve data through the
            <a name=api_url target="_blank">MPContribs API</a>. A web app for interactive data
            ingestion is coming soon. Send pull requests against
            <a href="https://github.com/materialsproject/MPContribs/tree/master/mpcontribs-portal/notebooks/{{PORTAL_CNAME}}">this
            directory</a> to add/update notebooks here.
        </div>
    </article>

    <div class="dropdown is-hoverable">
        <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-notebooks">
                <span>Choose Example Notebook</span>
                <span class="icon is-small">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
            </button>
        </div>
        <div class="dropdown-menu" id="dropdown-notebooks" role="menu">
            <div class="dropdown-content">
                {% for nb in notebooks %}
                <a name=nb_show id={{nb}} class="dropdown-item">{{nb}}</a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div id=nb_content class="column is-fullwidth"></div>
</section>

{% endblock %}
