{% extends "header_footer.html" %}

{% block content %}
<section class="section is-hidden">

    <div class="tabs is-centered is-toggle is-toggle-rounded has-text-weight-semibold">
        <ul>
            <li class="is-active"><a id="browse-toggle">Browse</a></li>
            <li><a id="search-toggle">Search</a></li>
        </ul>
    </div>

    <div class="columns is-hidden" id="search-container">
        <div class="column is-half">
            <div class="box">
                <div class="columns is-multiline">
                    <div class="column has-text-dark">
                        <div class="field">
                            <div class="control">
                                <select id="projects_list" multiple="multiple"></select>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <select id="formulas_list" multiple="multiple"></select>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <select id="identifiers_list" multiple="multiple"></select>
                            </div>
                        </div>
                    </div>
                    <div class="column is-narrow">
                        <div class="field">
                            <div class="control">
                                <button class="button is-primary is-fullwidth has-text-weight-semibold" id="btnShow">
                                    Show
                                </button>
                            </div>
                        </div>
                        <div class="field is-grouped is-grouped-multiline">
                            <div class="control">
                                <div class="tags has-addons is-hidden">
                                    <span class="tag is-black">results</span>
                                    <span class="tag is-light" id=count></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-full">
                        <table class="table is-narrow has-background-dark has-text-white">
                            <tbody id=results></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-half">
            <div id="spinner"></div>
            <div class="column is-full has-text-dark" id=card>
                <!-- card dynamically added -->
            </div>
        </div>
    </div>

    <div class="columns is-multiline" id="browse-container">
        {% for lp in landing_pages %}
        <div class="column is-one-quarter" id="{{ lp.project }}">
            <div class="box">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-3by2" id={{lp.project}}_img></figure>
                    </div>
                    <div class="card-content">
                        {{ lp.authors.0 }}
                        {% if lp.authors.1 %}
                        <span class="has-tooltip-top has-tooltip-multiline has-text-primary"
                              data-tooltip="{{ lp.authors.1 }}">et al.</a>
                        </span>
                        {% endif %}
                        {% if not lp.is_public %}
                        <span class="icon is-pulled-right">
                            <i class="far fa-eye-slash"></i>
                        </span>
                        {% endif %}
                        <div class="title is-4 is-marginless">
                            <a href="{{ lp.project }}/">
                                {{ lp.title }}
                            </a>
                        </div>
                    </div>
                    <div class="card-content is-hidden is-overlay">
                        <div class="columns">
                            <div class="column full-width">
                                {{ lp.authors.0 }}
                                {% if lp.authors.1 %}
                                <span class="has-tooltip-top has-tooltip-multiline has-text-primary"
                                      data-tooltip="{{ lp.authors.1 }}">et al.</a>
                                </span>
                                {% endif %}
                                {% if not lp.is_public %}
                                <span class="icon is-pulled-right">
                                    <i class="far fa-eye-slash"></i>
                                </span>
                                {% endif %}
                                <div class="title is-4">
                                    <a href="{{ lp.project }}/">
                                        {{ lp.title }}
                                    </a>
                                </div>
                                {% if lp.description %}
                                <div class="container">{{ lp.description }}</div>
                                {% endif %}
                            </div>
                        </div>
                        {% if lp.urls %}
                        <div class="columns is-gapless">
                            {% for l, u in lp.urls.items %}
                            <div class="column">
                                <a href="{{u}}">{{l}}</a>
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</section>

{% endblock %}
