{% extends "header_footer.html" %}
{% load render_bundle from webpack_loader %}

{% block content %}
<section class="section" id=landingpage>
    <div id="component-modal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <!-- dynamically add component preview -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>

    <div class="columns">
        <div class="column is-narrow">
            {% if references %}
                <div class="breadcrumb has-bullet-separator is-marginless is-small" style="display: flex;">
                    <label style="padding-right: 9px;">Reference(s):</label>
                    <ul>
                        {% for ref in references %}
                        <li><a href="{{ref.url}}" target="_blank" rel="noopener noreferrer">{{ref.label}}</a></li>
                        {% endfor %}
                        {% if more_references %}
                        <li></li>
                        <a name="read_more">[+]</a>
                        {% for ref in more_references %}
                        <li name="read_more" class="is-hidden"><a href="{{ref.url}}">{{ref.label}}</a></li>
                        {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            {% endif %}

            {% if title %}
            <div class="title">
                {{ title }}
                {% if license %}
                <sup class="is-size-6 is-family-monospace has-text-grey">{{ license }}</sup>
                {% endif %}
            </div>
            {% endif %}
            {% if authors %}
            <div class="subtitle">
                <a class="tag is-link is-light"
                   href="mailto:{{owner}}?cc=contribs@materialsproject.org&subject=MPContribs Inquiry about {{name}}">
                    <span class="icon is-small">
                        <i class="fas fa-envelope"></i>
                    </span>
                </a>
                <span>{{ authors.main }}</span>
                {% if authors.etal %}
                <a name="read_more">et al.</a>
                <span name="read_more" hidden>, {{ authors.etal }}</span>
                {% endif %}
            </div>
            {% endif %}
        </div>
        {% if columns and columns.strip != 'null' %}
        <div class="column is-hidden">
            <div class="dropdown is-pulled-right">
                <div class="dropdown-trigger">
                    <button class="button is-primary" aria-haspopup="true" aria-controls="dropdown-menu2" disabled>
                        <span>Download</span>
                        <span class="icon is-small">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu2" role="menu">
                    <div class="dropdown-content">
                        {% for component in components %}
                        <div class="dropdown-item" style="white-space: nowrap;">
                            <input type="checkbox" name=include id="with_{{component}}" value="{{component}}">
                            <label for="with_{{component}}"><span>with {{component}}</span></label>
                        </div>
                        {% endfor %}
                        <div class="dropdown-item">
                            <div class="field is-grouped">
                                <p class="control">
                                <a class="button is-primary is-light is-small" name=download id=download_json data-format=json>JSON</a>
                                </p>
                                <p class="control">
                                <a class="button is-primary is-light is-small" name=download id=download_csv data-format=csv>CSV</a>
                                </p>
                            </div>
                            <progress class="progress is-small is-hidden" max="100" id=download_progress></progress>
                            <a class="button is-warning is-light is-small is-hidden" id=check_download>Check status</a>
                            <a class="button is-danger is-light is-small is-hidden" id=get_download>Click to download</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>

    {% if descriptions or other %}
    <article class="message is-dark">
        <div class="message-body">
            {% if descriptions %}
            <div class="content">
                {{ descriptions.0|safe }}.
                {% if descriptions.1 %}
                <a name="read_more">More &raquo;</a>
                <span name="read_more" hidden>{{ descriptions.1|safe }}</span>
                {% endif %}
            </div>
            {% endif %}
            {% if other and other.strip != 'null' %}
            <details>
                <summary>Other Info</summary>
                <div class="table-container" id=other style="width:100%;">
                    {{ other|safe }}
                </div>
            </details>
            {% endif %}
        </div>
    </article>
    {% endif %}

    {% if columns and columns.strip != 'null' %}
    <nav class="level">
        <div class="level-left">
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Count</p>
                    <p class="subtitle" id=total_count></p>
                </div>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Filter Contributions</p>
                <div class="field has-addons">
                    <p class="control">
                        <span class="select">
                            <select id=table_select>
                                {% for col in search_columns %}
                                <option>{{ col }}</option>
                                {% endfor %}
                            </select>
                        </span>
                    </p>
                    <p class="control">
                        <input id=table_keyword class="input" type="text" placeholder="Keyword">
                    </p>
                    <p class="control">
                        <a id=table_filter class="button is-primary">Filter</a>
                    </p>
                    <p class="control">
                        <a id=table_delete class="button is-light is-danger">Reset</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="level-item">
            <div>
                <p class="heading has-text-centered is-marginless">Select Columns</p>
                <p class="control">
                <div class="is-marginless has-text-centered">
                    <input type="checkbox" id=toggle_collapse>
                    <label for=toggle_collapse style="vertical-align: 3px;"><span class="is-size-7">collapse all</span></label>
                </div>
                </p>
                <p class="control">
                <div class="dropdown">
                    <div class="field has-addons is-centered is-marginless">
                        <div class="control">
                            <a class="button is-light">
                                <input class="is-checkradio" id="column_manager_select_all" type="checkbox" checked="checked">
                                <label for="column_manager_select_all"><span id="column_manager_count">{{ columns|length }}</span> Columns</label>
                            </a>
                        </div>
                        <div class="control">
                            <a class="button is-primary dropdown-trigger" aria-haspopup="true" aria-controls="dropdown-menu">
                                <span class="icon">
                                    <i class="fas fa-caret-down"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="dropdown-menu" role="menu">
                        <div class="dropdown-content">
                            {% for col in columns %}
                            <a class="dropdown-item">
                                {% if col in "id,identifier,formula" %}
                                <input class="is-checkradio" name="column_manager_item"
                                     id="column_manager_checkbox_{{col}}_{{forloop.counter0}}" type="checkbox" checked="checked" disabled="disabled">
                                {% else %}
                                <input class="is-checkradio" name="column_manager_item"
                                     id="column_manager_checkbox_{{col}}_{{forloop.counter0}}" type="checkbox" checked="checked">
                                {% endif %}
                                <label for="column_manager_checkbox_{{col}}_{{forloop.counter0}}">{{col}}</label>
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                </p>
            </div>
        </div>
        <div class="level-right is-hidden">
            <!-- TODO add "copy Query" to clipboard button -->
            <div class="level-item">
                <div>
                    <p class="heading has-text-centered">Download</p>
                    <a name=table_download id=table_download_json class="button is-primary is-light is-small" data-format=json disabled>JSON</a>
                    <a name=table_download id=table_download_csv class="button is-primary is-light is-small" data-format=csv disabled>CSV</a>
                    <span class="tag is-hidden" id=table_download_progress></span>
                    <a class="button is-danger is-light is-hidden is-small" id=table_get_download>Click to download</a>
                </div>
            </div>
        </div>
    </nav>
    <div name=table id=table_{{name}} class="is-invisible"
        data-columns='{{ columns|join:"," }}' data-project='{{ name }}'></div>
    {% elif name %}
    <article class="message is-primary">
        <div class="message-header">
            <p>Data not available yet</p>
        </div>
        <div class="message-body">
            <div class="content">
                <ul>
                    <li>
                        If you are the owner or a member of this project, use the
                        <a href="https://pypi.org/project/mpcontribs-client/">MPContribs python client</a>
                        and the code snippet below to add data to this project. See 
                        <a href="https://mpcontribs.org">our docs</a> for details.
                    </li>
                    <li>
                        If you don't have permissions to manage or view the data in this project, feel free
                        to reach out to the
                        <a href="mailto:{{owner}}?cc=contribs@materialsproject.org&subject=MPContribs Member Request for {{name}}">owner</a>
                        to become a member of the <code>{{name}}</code> group.
                    </li>
                </ul>
            </div>
<pre class="has-background-dark is-marginless"><code class="language-python">from mpcontribs.client import Client
client = Client(
    host="{{API_CNAME}}",
    apikey="{{ request.META.HTTP_X_CONSUMER_CUSTOM_ID }}",
    project="{{name}}"
)
client.init_columns({"a": "eV", "b.c": None, "b.d": ""})
contributions = [{
    "identifier": "mp-4",
    "data": {
        "a": "3 eV",
        "b": {"c": "hello", "d": 3}
    },
    "structures": [`pymatgen.core.Structure`, ...],
    "tables": [`pandas.DataFrame`, ...],
    "attachments": [`pathlib.Path`, `mpcontribs.client.Attachment`, ...]
}]
client.submit_contributions(contributions)</code></pre>
        </div>
    </article>
    {% endif %}

</section>
{% endblock %}

{% block footer %}
{% render_bundle 'landingpage' %}
{% endblock %}
