{% extends "header_footer.html" %}

{% block content %}
<style>
.panel:hover { box-shadow: 0 0 5px 5px rgba(0, 140, 186, 0.5); }
</style>
<div class="container" hidden>
    {% if landing_pages %}
    <div class="row myrow" style="margin: 0; padding: 15px; background-color: #e4e6e8;" id="explorer_form" hidden>
        <div class="col-md-5">
            <select id="projects_list" multiple="multiple">
                {% for lp in landing_pages %}
                <option value="{{ lp.project }}">{{ lp.project }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-5">
            <select id="identifiers_list" style="width: 100%;" multiple="multiple">
            </select>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary" type="submit" id="btnFind">Find</button>
            <div id="spinner"></div>
        </div>
    </div>

    <div class="row" style="margin: 0 0 20px 0; padding: 10px; background-color: #e4e6e8;" id=cards>
        <!-- cards dynamically added -->
    </div>

    <div class="row equal">
        {% for lp in landing_pages %}
        <div class="col-md-3" id="{{ lp.project }}">
            <div class="panel panel-default" style="border: 1px solid #000000; height: 95%;">
                <div class="panel-heading" style="padding-bottom: 5px; border-color: #000">
                    <h4 class="panel-title">
                        <a href="{{ lp.project }}/">{{ lp.title  }}</a>
                        {% if "provenance" in lp %}{{ lp.provenance|safe }}{% endif %}
                    </h4>
                </div>
                <div class="panel-body" style="padding: 0px">
                    <div class="col-md-12" style="padding: 5px;">
                        {% if lp.contribs %}
                        <div class="col-md-12" style="padding: 0px;">
                            {% for contrib in lp.contribs %}
                            <div class="col-md-6">
                                <a href="/{{ contrib.id }}">{{ contrib.identifier }}</a>
                            </div>
                            {% endfor %}
                        </div>
                        {% else %}
                        <a id="{{ lp.project }}_img" href="{{ lp.project }}/"></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}
