{% extends "header_footer.html" %}
{% block title %}MPContribs Project Application{% endblock %}

{% block content %}
<style>
#btnMinus { float: right; cursor: pointer; }
#btnPlus { cursor: pointer; }
.recordset { padding-bottom: 5px; }
</style>
<div class="container" id=apply>
    <div class="col-md-8">
    <form class="form-horizontal" id=apply-form>
        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">Owner</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="owner" name=owner
                value="{{request.META.HTTP_X_CONSUMER_USERNAME}}" placeholder="{{request.META.HTTP_X_CONSUMER_USERNAME}}" readonly required>
            </div>
        </div>
        <div class="form-group has-feedback">
            <label for="project" class="col-sm-2 control-label">Project</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="project" name=project minlength=3 maxlength=30 placeholder="my_project" required>
                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
            </div>
        </div>
        <div class="form-group has-feedback">
            <label for="title" class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="title" name=title minlength=5 maxlength=40 placeholder="My Title" required>
                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
            </div>
        </div>
        <div class="form-group has-feedback">
            <label for="authors" class="col-sm-2 control-label">Authors</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="authors" name=authors value="P. Huck / J. Doe, K. Persson" placeholder="Enter authors" required>
                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
            </div>
        </div>
        <div class="form-group has-feedback">
            <label for="description" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
                <textarea class="form-control" rows="3" id="description" name=description minlength=5 maxlength=1500
                 placeholder='This first sentence will always be shown. Additional sentences are collapsed into a "More &raquo;" button.' required></textarea>
                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
            </div>
        </div>
        <div class="form-group has-feedback">
            <label for="urls" class="col-sm-2 control-label">References</label>
            <div class="col-sm-10">
                <div id="czContainer" class="col-sm-12">
                    <div id="first">
                        <div class="recordset row">
                            <div class="col-sm-3" style="padding-left: 0px;">
                                <input type="text" class="form-control" id="ref_1_key" name=ref_1_key minlength=3 maxlength=8 placeholder="NPA" required>
                                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            </div>
                            <div class="col-sm-8" style="padding-left: 0px;">
                                <input type="text" class="form-control" id="ref_1_url" name=ref_1_url minlength=7 maxlength=100
                                placeholder="https://doi.org/10.1016/j.nuclphysa.2014.09.090" required>
                                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary col-sm-2">Apply</button>
                <div class="alert alert-success col-sm-offset-1 col-sm-9" role="alert" hidden></div>
                <div class="alert alert-danger col-sm-offset-1 col-sm-9" role="alert" hidden></div>
            </div>
        </div>
    </form>
    </div>
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Apply for a Project</h3>
            </div>
            <div class="panel-body text-justify">
                Fill out the form on the left to apply for a project on MPContribs. Upon submission of your info an
                email will be sent to an admin to approve your request. If approved, you can start uploading data to
                your project which will appear on the project landing page. You can choose to add e-mails of MPContribs
                users to your request who you like to be added to your project group as collaborators. Collaborators and
                owners have identical permissions but the number of projects an owner can create is limited. Your data
                will only be visible to you and your collaborators until you choose to make it public. Only public
                contributions will appear on the detail pages of <a href="https://materialsproject.org">Materials Project</a>.
            </div>
        </div>
    </div>
</div>
{% endblock content %}
