{% extends "header_footer.html" %}

{% block content %}
<style>
.list-unstyled { color: white; }
</style>
<div class="container" hidden>
    {% if landing_pages %}
    <div class="row" style="margin: 0; padding: 15px 15px 0px 15px; background-color: #393939; border-radius: 5px;" id="explorer_form" hidden>
        <div class="col-md-6">
            <div class="row" style="padding-bottom: 5px; margin-right: 0;">
                <select id="projects_list" style="width: 100%;" multiple="multiple"></select>
            </div>
            <div class="row" style="padding-bottom: 5px; margin-right: 0;">
                <select id="formulas_list" style="width: 100%;" multiple="multiple"></select>
            </div>
            <div class="row" style="padding-bottom: 5px; margin-right: 0;">
                <select id="identifiers_list" style="width: 100%;" multiple="multiple"></select>
            </div>
            <div class="row" style="padding-bottom: 5px; margin-right: 0;">
                <a class="btn btn-primary" role=button id="btnShow">Show</a>
                <span id=count class="pull-right" style="color: white;"></span>
            </div>
            <div class="row" style="padding-bottom: 5px; margin-right: 0;">
                <ul class="list-unstyled" id=results></ul>
            </div>
        </div>
        <div class="col-md-6" style="padding: 0;">
            <div id="spinner"></div>
            <div id=card>
                <!-- card dynamically added -->
            </div>
        </div>
    </div>

    <div class="row equal" style="padding-top: 10px;">
        {% for lp in landing_pages %}
        <div class="col-md-3" id="{{ lp.project }}" style="padding: 10px 15px;">
            <div class="card">
                <div id={{lp.project}}_img style="padding: 3px;"></div>
                {% if lp.is_public %}
                <div class="date" title="public">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </div>
                {% else %}
                <div class="date" title="private">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </div>
                {% endif %}
                <div class="data">
                    <div class="content">
                        <p class="author">
                            {{ lp.authors.0 }}
                            <button class="btn btn-sm btn-link"
                               data-html="true" data-toggle="tooltip" data-placement="bottom" data-container="body"
                               title="{{ lp.authors.1 }}" style="padding: 0px 0px 2px 5px;">
                                et al.
                            </button>
                            <label for="show-menu-{{lp.project}}" class="pull-right" style="cursor: pointer">
                                <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
                            </label>
                        </p>
                        <a role=button class="btn btn-link" style="padding: 0;" href="{{ lp.project }}/">
                            <h4 class="title" style="margin-top: 5px;">{{ lp.title }}</h4>
                        </a>
                        <p class="text">{{ lp.description }}</p>
                    </div>
                    <input type="checkbox" id="show-menu-{{lp.project}}" />
                    <ul class="menu-content list-inline">
                        {% for l, u in lp.urls.items %}
                        <li><a href="{{u}}" style="color: #393939; font-size: 12px; font-weight: bold">[{{l}}]</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}
