{% extends "header_footer.html" %}
{% load render_bundle from webpack_loader %}

{% block content %}
<section class="section">
    <div class="title">
        Search Contributions
        <span class="has-tooltip-multiline has-tooltip-left is-pulled-right"
               data-tooltip="Select project(s), formula(s), and/or identifier(s) to update the
                             results table with basic information about the matching contributions.
                             Click the contribution identifier (left-most column) to render a
                             preview card.">
            <span class="icon">
                <i class="far fa-question-circle"></i>
            </span>
        </span>
    </div>
    <div class="columns">
        <div class="column is-half">
            <div class="box">
                <div class="columns is-multiline">
                    <div class="column has-text-dark">
                        <div class="field">
                            <div class="control">
                                <select id="projects_list" multiple="multiple"></select>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <select id="formulas_list" multiple="multiple"></select>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <select id="identifiers_list" multiple="multiple"></select>
                            </div>
                        </div>
                    </div>
                    <div class="column is-narrow">
                        <div class="field">
                            <input class="is-checkradio" id="has_structures" type="checkbox">
                            <label for="has_structures">has structure(s)</label>
                        </div>
                        <div class="field">
                            <input class="is-checkradio" id="has_tables" type="checkbox">
                            <label for="has_tables">has table(s)</label>
                        </div>
                        <div class="field">
                            <input class="is-checkradio" id="has_attachments" type="checkbox">
                            <label for="has_attachments">has attachment(s)</label>
                        </div>
                        <div class="field is-grouped is-grouped-multiline">
                            <div class="control">
                                <div class="tags has-addons">
                                    <span class="tag is-black">results</span>
                                    <span class="tag is-light" id=count></span>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <div id="spinner"></div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-full table-container">
                        <table class="table is-narrow has-background-dark has-text-white">
                            <tbody id=results></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-half">
            <div class="column is-full has-text-dark is-paddingless" id=card>
                <!-- card dynamically added -->
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block footer %}
{% render_bundle 'search' %}
{% endblock %}
