{% extends "../../webtzite/templates/base/header_footer.html" %}
{% load staticfiles %}

{% block title %} Transport Properties {% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href='{% static "js/components/backgrid/lib/backgrid.css" %}' charset="utf-8">
<link rel="stylesheet" href='{% static "js/components/backgrid-paginator/backgrid-paginator.css" %}' charset="utf-8">
<link rel="stylesheet" href='{% static "js/components/backgrid-filter/backgrid-filter.css" %}' charset="utf-8">
<link rel="stylesheet" href='{% static "js/components/json-human/css/json.human.css" %}' charset="utf-8">
{% endblock extra_css %}

{% block content %}

{% if alert %}
<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  {{ alert }}
</div>

{% else %}

<style>
.backgrid { font-family: "symbola"; }
.backgrid tbody tr:hover { background-color: #f9f9f9; }
.backgrid .sortable { text-align: center; }
.backgrid thead th button { display: inline; }
.jh-root { font-family: "symbola"; }
.jh-type-string { font-style: normal; }
code { display: block; white-space: pre-wrap; }
</style>

<div class="container">
    <a href="{% url 'mpcontribs_portal_index' %}">&laquo; Portal</a>

    <div class="row">
        <h2>{{ title }}</h2>
        {{ provenance|safe }}
    </div>

    <div class="row">
        <h5>Python code to get the contributions from the BoltztrapRester</h5>
        <code>
            from mpcontribs.users.boltztrap.rest.rester import BoltztrapRester
            mpr = BoltztrapRester()
            for doping in ['n', 'p']:
                df = mpr.get_contributions(doping=doping)
        </code>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="graph" style="width: 100%;"></div>
            <div id="graph2" style="width: 100%;"></div>
        </div>
    </div>

    {% for doping, table in tables.items %}
    <div class="row">
        <h3>{{ doping|safe }}-type @ 300 K & 10¹⁸ cm⁻³</h3>
        {{ table|safe }}
    </div>
    {% endfor %}

</div>

<script>
requirejs(['main'], function() {
    require(["plotly"], function(Plotly) {
        $(document).ready(function(){
            var table = window.tables[window.tables.length-1];
            var graph = document.getElementById('graph');

            var xvals = []; var yvals = [];
            var zvals = []; var text = [];
            for (i = 0; i < table['rows'].length; i++) {
                var row = table['rows'][i];
                var mpid_split = row['mp-id'].split('/');
                var mpid = mpid_split[mpid_split.length-1];
                text.push(mpid);
                xvals.push(row['<σ> [(Ωms)⁻¹]']);
                yvals.push(row['<S> [μV/K]']);
                zvals.push(Math.log10(row['<S²σ> [μW/(cmK²s)]']));
            }

            var data = [{
                x: xvals, y: yvals, mode: 'markers', text: text,
                marker: {
                    color: zvals, colorscale: 'Viridis',
                    colorbar: {title: 'log(PF)'}
                }
            }];
            var layout = {
                xaxis: {title: '<σ> [(Ωms)⁻¹]', exponentformat: "power", type: 'log'},
                yaxis: {title: '<S> [μV/K]'},
                margin: {l: 50, b: 50, t: 20}
            };
            Plotly.newPlot(graph, data, layout);
            window.onresize = function() {
                Plotly.Plots.resize(graph);
            };

            Backbone.on('cellclicked', function(e) {
                var row = $(e.currentTarget).parent();
                var url = row.find("td:nth-child(2) > a").attr('href');
                var cid = url.split('/').pop();
                $.ajax({
                    type: 'GET',
                    url: 'rest/' + cid,
                    contentType: "application/json; charset=utf-8",
                    success: function(data, textStatus, jqXHR) {
                        var div = document.getElementById('graph2');
                        Plotly.newPlot(div, [data['response']], {
                            showLegend: false, margin: {l: 50, r: 15, b: 50, t: 20},
                            xaxis: {type: 'log', title: 'doping level [cm⁻³]', exponentformat: "power"},
                            yaxis: {title: 'temperature [K]'},
                        });
                        window.onresize = function() {
                            Plotly.Plots.resize(div);
                        };
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        console.log(errorThrown);
                    }
                });
            }); 
        });
    });
});
</script>

{% endif %}
{% endblock %}
