{% extends "../../webtzite/templates/base/header_footer.html" %}
{% load staticfiles %}

{% block title %} ALS Beamline {% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href='{% static "js/components/backgrid/lib/backgrid.css" %}' charset="utf-8">
<link rel="stylesheet" href='{% static "js/components/backgrid-paginator/backgrid-paginator.css" %}' charset="utf-8">
<link rel="stylesheet" href='{% static "js/components/backgrid-filter/backgrid-filter.css" %}' charset="utf-8">
<link rel="stylesheet" href='{% static "js/components/json-human/css/json.human.css" %}' charset="utf-8">
{% endblock extra_css %}

{% block content %}

{% if alert %}
<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  {{ alert }}
</div>

{% else %}

<style>
.backgrid { font-family: "symbola"; }
.backgrid tbody tr:hover { background-color: #f9f9f9; }
.backgrid .sortable { text-align: center; }
.backgrid thead th button { display: inline; }
.jh-root { font-family: "symbola"; }
.jh-type-string { font-style: normal; }
code { display: block; white-space: pre-wrap; }
</style>

<div class="container">
    <a href="{% url 'mpcontribs_portal_index' %}">&laquo; Portal</a>
    <div class="row">
        <h2>{{ title }}</h2>
        {{ provenance|safe }}
    </div>
    <div class="row">
        <code>
            from mpcontribs.users.als_beamline.rest.rester import AlsBeamlineRester
            mpr = AlsBeamlineRester()
            mpr.get_contributions()
        </code>
    </div>
    <div class="row" style="display: flex; align-items: center;">
        <div class="col-md-5">
            <div id="graph1" style="width: 100%;"></div>
            <script>
                requirejs(['main'], function() {
                    require(["plotly"], function(Plotly) {
                        $(document).ready(function(){
                            var table = window.tables[window.tables.length-1];
                            var graph1 = document.getElementById('graph1');
                            function makeAxis(title, tickangle) {
                                return {
                                title: title,
                                titlefont: { size: 20 },
                                tickangle: tickangle,
                                tickfont: { size: 15 },
                                tickcolor: 'rgba(0,0,0,0)',
                                ticklen: 5,
                                showline: true,
                                showgrid: true
                                }
                            };
                          
                            var layout = {
                                'ternary': {
                                'sum': 100,
                                'aaxis': makeAxis('Co', 0),
                                'baxis': makeAxis('<br>Cu', 45),
                                'caxis': makeAxis('<br>Ce', -45),
                                },
                                showlegend: false,
                            };

                            var avals = new Array(), bvals = new Array(), cvals = new Array(), cids = new Array()

                            for (i = 0; i < table['rows'].length; i++) {
                                row = table['rows'][i];
                                avals.push(row['composition##Co [%]'])
                                bvals.push(row['composition##Cu [%]'])
                                cvals.push(row['composition##Ce [%]'])
                                cids.push(row['cid'])  
                            };


                            var data1 = {
                                type: 'scatterternary',
                                mode: 'markers',
                                a: avals,
                                b: bvals,
                                c: cvals,
                                name: 'CoCuCe',
                                marker: {
                                symbol: 0
                                },
                            };
                            
                            var data2 = {
                                type: 'scatterternary',
                                mode: 'lines',
                                a: [100,0,66.667,0,0],
                                b: [0,83.333,0, 66.667,],
                                c: [0,16.667,33.333,33.333],
                                name: 'MP-points',
                                line: { color: 'black' }
                            };

                            var data = [data1, data2]

                            Plotly.plot('graph1', data, layout)


                            graph1.on('plotly_click', function(data){
                                var pn = data.points[0].pointNumber
                                var url = cids[pn]
                                window.open(url, '_blank')                                                           
                            });
                        });
                    });
                });
            </script>
        </div>
        <div class="col-md-7" style=" flex-direction: column;">
            <h5>{{ XAS.divid }}</h5>
            <div class="col-md-12" style="height: auto; max-width: 100%;">{{ XAS.html|safe }}</div>
            <h5>{{ XMCD.divid }}</h5>
            <div class="col-md-12" style="height: auto; max-width: 100%;">{{ XMCD.html|safe }}</div>
        </div>
    </div>
    </div>
    
    
    <div class="row">
        {{ table|safe }}
    </div>
</div>



{% endif %}
{% endblock %}
