.backgrid { font-family: Consolas; }
.backgrid tbody tr:hover { background-color: #f9f9f9; }
.backgrid .renderable { text-align: center; }
.backgrid thead th button { display: inline; }
.backgrid .string-cell { text-align: center; }
.backgrid tbody tr:hover { background-color: #f9f9f9; }
.backgrid tbody tr.selected { background-color: yellow; }
.backgrid tbody tr { cursor: pointer; }
.backgrid thead th button { display: inline; }
.backgrid thead th { font-weight: normal; }
.backgrid-filter.form-search { margin:0px; }
.jh-root { font-family: monospace; }
.jh-type-string { font-weight: normal; }
code { display: block; white-space: pre-wrap; }
.mytooltip {
  border-bottom: 1px dotted #000000;
  color: #000000; outline: none;
  cursor: help; text-decoration: none;
  position: relative;
}
.mytooltip span {
  margin-left: -999em;
  position: absolute;
}
.mytooltip:hover span {
  font-family: Calibri, Tahoma, Geneva, sans-serif;
  position: absolute;
  left: 1em;
  top: 2em;
  z-index: 99;
  margin-left: 0;
  width: 100px;
}
.mytooltip:hover img {
  border: 0;
  margin: -10px 0 0 -55px;
  float: left;
  position: absolute;
}
.mytooltip:hover em {
  font-family: Candara, Tahoma, Geneva, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  display: block;
  padding: 0.2em 0 0.6em 0;
}
.classic { padding: 0.8em 1em; }
.custom { padding: 0.5em 0.8em 0.8em 2em; }
* html a:hover { background: transparent; }
.classic { background: #000000; color: #FFFFFF; }
.equal { display: flex; display: -webkit-flex; flex-wrap: wrap; }
div.columnmanager-dropdown-container { max-height: unset; }
.navbar-inverse { background-color: #393939; border-color: #393939; }
.navbar { border-radius: 0 }
.btn.btn-primary {
    color: #393939; background-color: #99e4c0; border-color: #4f6c5e;
}
.btn.btn-primary.focus,
.btn.btn-primary:focus {
    color: #393939; background-color: #7ab197; border-color: #4f6c5e;
    outline: none; box-shadow: none;
}
.btn.btn-primary:hover {
    color: #393939; background-color: #7ab197; border-color: #4f6c5e;
    outline: none; box-shadow: none;
} .btn.btn-primary.active,
.btn.btn-primary:active {
    color: #393939; background-color: #7ab197; border-color: #4f6c5e;
    outline: none;
}
.btn.btn-primary.active.focus,
.btn.btn-primary.active:focus,
.btn.btn-primary.active:hover,
.btn.btn-primary:active.focus,
.btn.btn-primary:active:focus,
.btn.btn-primary:active:hover {
    color: #393939; background-color: #7ab197; border-color: #4f6c5e;
    outline: none; box-shadow: none;
}
.btn.btn-link { color: #99e4c0; }
.btn.btn-link.focus,
.btn.btn-link:focus {
    color: #7ab197; outline: none; box-shadow: none;
}
.btn.btn-link:hover {
    color: #7ab197; outline: none; box-shadow: none;
}
.btn.btn-link.active,
.btn.btn-link:active {
    color: #7ab197; outline: none;
}
.btn.btn-link.active.focus,
.btn.btn-link.active:focus,
.btn.btn-link.active:hover,
.btn.btn-link:active.focus,
.btn.btn-link:active:focus,
.btn.btn-link:active:hover {
    color: #7ab197; outline: none; box-shadow: none;
}

.card {
    float: left; width: 100%;
    height: 260px;
    display: block;
    background-color: white;
    position: relative; overflow: hidden;
    box-shadow: 0 19px 38px grey, 0 15px 12px grey;
}
.card .date {
    position: absolute; top: 0; left: 0;
    background-color: #99e4c0;
    color: white; padding: 0.8em;
    span { display: block; text-align: center; }
}
.card .data {
    position: absolute;
    bottom: 0; width: 100%;
    transform: translateY(calc(40px + 1em));
    transition: transform 0.3s;
}
.card .data:hover { transform: translateY(0); }
.card .data .content {
    padding: 1em; position: relative; z-index: 1;
    background-color: #393939;
    box-shadow: 0 5px 30px 10px grey;
}
.card .data .content .author { font-size: 12px; color: white; margin: 0;}
.card .data .content .text { height: 40px; font-size: 12px; margin: 0; color: white;}
.card .data .menu-content {
    text-align: center; position: absolute; top: 0; left: 0; width: 100%;
    z-index: -1; transition: transform 0.3s; transform: translateY(0);
    background-color: #99e4c0; margin-left: 0;
}
.card .data input[type='checkbox'] { display: none; }
.card .data input[type='checkbox']:checked + .menu-content { transform: translateY(-20px); }
