{% extends "../../webtzite/templates/header_footer.html" %}
{% load staticfiles %}

{% block title %} {{ title }} {% endblock title %}

{% block content %}

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h2>{{ title }}</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h3>Provenance
                <button type="button"
                    class="btn btn-info btn-xs" data-toggle="collapse"
                    data-target="#provenance">Show/Hide</button>
            </h3>
            <div id="provenance"; class= "collapse in">
                {{ provenance|safe }}
            </div>
        </div>
        <div class="col-md-6">
            <h3>Abbreviations
                <button type="button"
                    class="btn btn-info btn-xs" data-toggle="collapse"
                    data-target="#abbrevs">Show/Hide</button>
            </h3>
            <div id="abbrevs" class= "collapse in">
                <p>Click row to show/hide data in table below.</p>
                {{ abbreviations|safe }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>Graph
                <button type="button"
                        class="btn btn-info btn-xs" data-toggle="collapse"
                                                    data-target="#plot">Show/Hide</button>
            </h3>
            <div id="plot"; class="collapse in">
                <div id="navs" style="display: inline">
                    <select id="yChoose" style="width:20%">
                        <option value="" disabled="" selected="">Choose an Y-Axis</option>
                    </select>
                    <p style="display: inline">as a function of</p>
                    <select id="xChoose" style="width:20%">
                        <option value="" disabled="" selected="">Choose an X-Axis</option>
                    </select>
                </div>
                <div id="graph"></div>  
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>Data
                <button type="button"
                        class="btn btn-info btn-xs" data-toggle="collapse"
                                                    data-target="#table">Show/Hide</button>
            </h3>
            <div id="table" class= "collapse in">
                {{ table|safe }}
            </div>
        </div>
    </div>
</div>

{% endblock %}
