{% load staticfiles %}
{% load browserid %}
<html>
  <head>
    {% browserid_css %}
  </head>
  <body>
    {% browserid_info %}
    {% if user.is_authenticated %}
    <p>Current user: {{ user.email }}</p>
    <p>
    <button id="keygen">Generate API Key</button>
    <code id='key'>{{ user.api_key }}</code>
    </p>
    <p><ul>
      {% for app_url in apps %}
      <li><a href="{{ app_url }}">{{ app_url }}</a></li>
      {% endfor %}
    </ul></p>
    {% browserid_logout text='Logout' %}
    {% else %}
    {% browserid_login text='Login' color='dark' %}
    {% endif %}

    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://underscorejs.org/underscore-min.js"></script>
    <script src="{% static 'jquery_cookie.js' %}"></script>
    <script>
    var csrftoken = Cookies.get('csrftoken');
    function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
      }
    });
    $("#keygen").click(function(){
      chars = '0123456789ABCDEFGHIJKLMNOPQRSTUVWXTZabcdefghiklmnopqrstuvwxyz'.split('');
      key = _.sample(chars, 16).join("");
      var saveData = $.ajax({
        type: 'POST',
        url: "/",
        data: {'apikey': key},
        dataType: "text",
        success: function(data, textStatus, jqXHR) { $("#key").text(key); },
        error: function(jqXHR, textStatus, errorThrown) { $("#key").text('ERROR'); }
      });
    });
    </script>
    {% browserid_js %}
  </body>
</html>
