<table class="table table-striped">
	<tbody>
		<tr>
			<td>Space Group</td>
			<td>{{ attributes.structure.spacegroup }}</td>
		</tr>
		<tr>
			<td>a</td>
			<td>{{ attributes.structure.lattice_a }}</td>
		</tr>
		<tr>
			<td>b</td>
			<td>{{ attributes.structure.lattice_b }}</td>
		</tr>
		<tr>
			<td>c</td>
			<td>{{ attributes.structure.lattice_c }}</td>
		</tr>
		<tr>
			<td>&alpha;</td>
			<td>{{ attributes.structure.lattice_alpha }}</td>
		</tr>
		<tr>
			<td>&beta;</td>
			<td>{{ attributes.structure.lattice_beta }}</td>
		</tr>
		<tr>
			<td>&gamma;</td>
			<td>{{ attributes.structure.lattice_gamma }}</td>
		</tr>
	</tbody>
</table>
