{% extends "../../webtzite/templates/base/header_footer.html" %}
{% load staticfiles %}

{% block title %} RedoxThermoCSP {% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href='{% static "js/components/bootstrap/dist/css/bootstrap.css" %}' charset="utf-8">
<link rel="stylesheet" href='{% static "js/components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.css" %}' charset="utf-8">
<link rel="stylesheet" href='{% static "js/components/backgrid/lib/backgrid.css" %}' charset="utf-8">
<link rel="stylesheet" href='{% static "js/components/backgrid-paginator/backgrid-paginator.css" %}' charset="utf-8">
<link rel="stylesheet" href='{% static "js/components/backgrid-filter/backgrid-filter.css" %}' charset="utf-8">
<link rel="stylesheet" href='{% static "js/components/backgrid-grouped-columns/backgrid-grouped-columns.css" %}' charset="utf-8">
<link rel="stylesheet" href='{% static "js/components/json-human/css/json.human.css" %}' charset="utf-8">
{% endblock extra_css %}

{% block content %}
<!--
<ul class="nav nav-pills">
    <li role="presentation"><a href='tolerance_factors/'>tolerance factors</a></li>
</ul>
-->

{% if alert %}

<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  {{ alert|safe }}
</div>

{% else %}

<style>
.backgrid { font-family: "symbola"; }
.backgrid tbody tr:hover { background-color: #f9f9f9; }
.backgrid .sortable { text-align: center; }
.backgrid thead th button { display: inline; }
.jh-root { font-family: "symbola"; }
.jh-type-string { font-style: normal; }
code { display: block; white-space: pre-wrap; }
</style>
<div class="container">
    <br><a href="../">&laquo; RedoxThermoCSP</a>
    <div class="row">
        <div class="col-md-12">
            <h2>{{ title }}</h2>
            {{ provenance|safe }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <code>
                from mpcontribs.users.dlr_vieten.rest.rester import DlrVietenRester
                mpr = DlrVietenRester()
                mpr.get_contributions()
            </code>
        </div>
    </div>
    

    <div class="row">
        <div class="col-md-12">
            <h3>Isographs</h3>
            <ul>
                <li><b>Experimental data:</b> Retrieved via van't Hoff method from equilibrium thermogravimetric 
                    data. ΔH(Δδ) and ΔS(Δδ) determined (temperature dependence not considered), <br>with Δδ = δ - δ<sub>0</sub>; 
                    δ<sub>0</sub>: δ at T = 400 °C, p<sub>O2</sub> = 0.18 bar; δ<sub>0</sub>: determined from entropy fit
                <br>Inaccurate values for δ<sub>0</sub> lead to a shift of the absolute δ values for some materials. This does not affect the accuracy of the relative oxygen release/uptake values.
                <br>Experimental data may be highly inaccurate for extrapolated values (indicated by dashed lines).</li>
                <li><b>Theoretical data:</b> ΔH(δ, T) calculated from DFT values for the reduction enthalpies from perovskite to brownmillerite, ΔS(δ, T) calculated as a sum of configurational and vibrational entropy and the partial molar entropy of oxygen. 
                <br>Vibrational entropy calculated from elastic tensors (from DFT, The Materials Project). If no elastic tensors are availble, the data for SrFeO<sub>3-&delta;</sub> is used as an approximation.</li>
                <li>Click on a Contribution Identifier in the table to open a
                    detail page with graphs for ΔH/ΔS vs δ, and the raw data.</li>
                <li>To update isotherm, isobar, and isoredox functions, set the
                    variables and plot ranges below, and click on a row in the table.
                </li>
                <li>All thermodynamic quantities are given as per mol of O (monatomic oxygen).
                </li>
                <li>Please refer to the <a href="../documentation/">documentation</a> for more detailed information.</li>
            </ul><br>
            <h4><b>Citation</b></h4>
            <ul><li>J. Vieten, B. Bulfin, P. Huck, M. Horton, D. Guban, L. Zhu, K. A. Persson, M. Roeb, C. Sattler (2018). "*** Title will be inserted1 ***" <u>Journal goes here</u> <b>99</b>(99): 99999-99999., <a href="http://dx.doi.org/">DOI: ***</a></li>
            <li>J. Vieten, B. Bulfin, P. Huck, M. Horton, D. Guban, L. Zhu, K. A. Persson, M. Roeb, C. Sattler (2018). "*** Title will be inserted2 ***" <u>Journal goes here</u> <b>99</b>(99): 99999-99999., <a href="http://dx.doi.org/">DOI: ***</a></li></ul><br>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-3">
            <h4>Currently selected: </h4>
        </div>
        <div class="col-md-4">
            <div id="selected_mat"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h5>Experimental data available: </h4>
        </div>
        <div class="col-md-4">
            <div id="selected_exp_mat"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h5>Elastic tensors available: </h4>
        </div>
        <div class="col-md-6">
            <div id="selected_elast"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h5>Theoretical data updated: </h4>
        </div>
        <div class="col-md-6">
            <div id="selected_updt"></div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <center>
            <h4><b>Isotherm</b></h4>
            </center>
        </div>
        <div class="col-md-4">
            <center>
            <h4><b>Isobar</b></h4>
            </center>
        </div>
        <div class="col-md-4">
            <center>
            <h4><b>Isoredox</b></h4>
            </center>
        </div>
    </div>
    <div class="row" style="margin-top: 25px;">
        <div class="col-md-1">
            <b>Temperature:</b>
        </div>
        <div class="col-md-3">
            <input id="temp_slider" type="text"
            data-slider-min="500" data-slider-max="1800" data-slider-step="10"
            data-slider-value="1000"/><b> K</b><br>
        </div>
        <div class="col-md-1">
            <b>Pressure:</b>
        </div>
        <div class="col-md-3">
            <input id="pressure_slider" type="text"
            data-slider-min="-7" data-slider-max="4" data-slider-step="0.05"
            data-slider-value="0"/><b> 10ⁿ bar</b><br>
        </div>
        <div class="col-md-1">
            <b>Redox δ:</b>
        </div>
        <div class="col-md-3">
            <input id="redox_slider" type="text"
            data-slider-min="0" data-slider-max="0.5" data-slider-step="0.01"
            data-slider-value="0.3"/><br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <b>Range:</b>
        </div>
        <div class="col-md-3">
            <input id="pressure_range" type="text" class="span2" value=""
            data-slider-min="-7" data-slider-max="3" data-slider-step="0.05"
            data-slider-value="[-5,1]"/><b> 10ⁿ bar</b>
        </div>
        <div class="col-md-1">
            <b>Range:</b>
        </div>
        <div class="col-md-3">
            <input id="temp_range" type="text" class="span2" value=""
            data-slider-min="500" data-slider-max="1800" data-slider-step="10"
            data-slider-value="[700,1400]"/><b> K</b>
        </div>
        <div class="col-md-1">
            <b>Range:</b>
        </div>
        <div class="col-md-3">
            <input id="redox_temp_range" type="text" class="span2" value=""
            data-slider-min="500" data-slider-max="1800" data-slider-step="10"
            data-slider-value="[700,1400]"/><b> K</b>
        </div>
    </div>
    <br>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-4">
            <div id=isotherm></div>
        </div>
        <div class="col-md-4">
            <div id=isobar></div>
        </div>
        <div class="col-md-4">
            <div id=isoredox></div>
        </div>
    </div>
    <hr>
    
    
    <div class="row">
        <div class="col-md-4">
            <center>
            <h4><b>Enthalpy (dH)</b></h4>
            </center>
        </div>
        <div class="col-md-4">
            <center>
            <h4><b>Entropy (dS)</b></h4>
            </center>
        </div>
        <div class="col-md-4">
            <center>
            <h4><b>Ellingham</b></h4>
            </center>
        </div>
    </div>
    <div class="row" style="margin-top: 25px;">
        <div class="col-md-1">
            <b>Temperature (theo):</b>
        </div>
        <div class="col-md-3">
            <br><input id="dH_temp_slider" type="text"
            data-slider-min="100" data-slider-max="2000" data-slider-step="10"
            data-slider-value="500"/><b> K</b><br>
        </div>
        <div class="col-md-1">
            <b>Temperature (theo):</b>
        </div>
        <div class="col-md-3">
            <br><input id="dS_temp_slider" type="text"
            data-slider-min="100" data-slider-max="2000" data-slider-step="10"
            data-slider-value="500"/><b> K</b><br>
        </div>
        <div class="col-md-1">
            <b>Redox δ:</b>
        </div>
        <div class="col-md-3">
            <input id="elling_redox_slider" type="text"
            data-slider-min="0" data-slider-max="0.5" data-slider-step="0.01"
            data-slider-value="0.3"/><br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-3">
         
        </div>
        <div class="col-md-1">
           
        </div>
        <div class="col-md-3">
           
        </div>
        <div class="col-md-1">
            <b>Range:</b>
        </div>
        <div class="col-md-3">
            <input id="elling_temp_range" type="text" class="span2" value=""
            data-slider-min="200" data-slider-max="2000" data-slider-step="100"
            data-slider-value="[400,1500]"/><b> K</b><br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-3">
         
        </div>
        <div class="col-md-1">
           
        </div>
        <div class="col-md-3">
           
        </div>
        <div class="col-md-1">
            <b>Isobar line:</b>
        </div>
        <div class="col-md-3">
            <br><input id="elling_pressure_slider" type="text"
            data-slider-min="-20" data-slider-max="10" data-slider-step="0.05"
            data-slider-value="0"/><b> 10ⁿ bar</b><br>
        </div>
    </div>
    <br>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-4">
            <div id=enthalpy_dH></div>
        </div>
        <div class="col-md-4">
            <div id=entropy_dS></div>
        </div>
        <div class="col-md-4">
            <div id=ellingham></div>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-12">
            {{ table|safe }}
        </div>
    </div>

</div>

<script>
requirejs(['main'], function() {
    require(["plotly", "backbone", "bootstrap-slider"], function(Plotly, Backbone) {
        $(document).ready(function(){

            // configure sliders for isoplots
            $('#temp_slider').slider({tooltip: "always"}); $('#pressure_range').slider({tooltip_position:'bottom'});
            $('#pressure_slider').slider({tooltip: "always"}); $('#temp_range').slider({tooltip_position:'bottom'});
            $('#redox_slider').slider({tooltip: "always"}); $('#redox_temp_range').slider({tooltip_position:'bottom'});
            $('#dH_temp_slider').slider({tooltip: "always"});$('#dS_temp_slider').slider({tooltip: "always"});
            $('#elling_redox_slider').slider({tooltip: "always"}); $('#elling_temp_range').slider({tooltip_position:'bottom'});
            $('#elling_pressure_slider').slider({tooltip_position:'bottom', tooltip: "always"}); 
            
            // update all isoplots if new material is selected, define global cid (cidnow)
            Backbone.on('cellclicked', function(er){var row = $(er.currentTarget).parent();
                var url = row.find("td:nth-child(2) > a").attr('href');
                var cid = url.split('/').pop();
                window.cidnow = cid;
                updatekeys = "isobar, isotherm, isoredox, ellingham, enthalpy_dH, entropy_dS"
                e(cid,updatekeys);});
            
            // update the respective isoplot if the respective value is changed
            $('#temp_slider').slider().on('slideStop', function(ev){updatekeys = "isotherm";e(cidnow,updatekeys);}); 
            $('#pressure_range').slider().on('slideStop', function(ev){updatekeys = "isotherm";e(cidnow,updatekeys);});
            $('#pressure_slider').slider().on('slideStop', function(ev){updatekeys = "isobar";e(cidnow,updatekeys);}); 
            $('#temp_range').slider().on('slideStop', function(ev){updatekeys = "isobar";e(cidnow,updatekeys);}); 
            $('#redox_slider').slider().on('slideStop', function(ev){updatekeys = "isoredox";e(cidnow,updatekeys);}); 
            $('#redox_temp_range').slider().on('slideStop', function(ev){updatekeys = "isoredox";e(cidnow,updatekeys);}); 
            $('#dH_temp_slider').slider().on('slideStop', function(ev){updatekeys = "enthalpy_dH";e(cidnow,updatekeys);}); 
            $('#dS_temp_slider').slider().on('slideStop', function(ev){updatekeys = "entropy_dS";e(cidnow,updatekeys);}); 
            $('#elling_redox_slider').slider().on('slideStop', function(ev){updatekeys = "ellingham";e(cidnow,updatekeys);}); 
            $('#elling_temp_range').slider().on('slideStop', function(ev){updatekeys = "ellingham";e(cidnow,updatekeys);}); 
            $('#elling_pressure_slider').slider().on('slideStop', function(ev){updatekeys = "ellingham";e(cidnow,updatekeys);}); 

            function e(cid, updatekeys) { 

            // reformats the update keys so the python script can read them
            var update_to_views = updatekeys + ''
            update_to_views = update_to_views.replace(/\s/g, '')
            update_to_views = update_to_views.split(",")
            
                // read slider/field values
                var payload = JSON.stringify({
                    'isotherm': {
                        'iso': $('#temp_slider').attr('value'),
                        'rng': $('#pressure_range').attr('value')
                    }, 'isobar': {
                        'iso': $('#pressure_slider').attr('value'),
                        'rng': $('#temp_range').attr('value')
                    }, 'isoredox': {
                        'iso': $('#redox_slider').attr('value'),
                        'rng': $('#redox_temp_range').attr('value')
                    }, 'enthalpy_dH': {'iso': $('#dH_temp_slider').attr('value')}, 
                    'entropy_dS': {'iso': $('#dS_temp_slider').attr('value')}, 
                    'ellingham': {
                        'del': $('#elling_redox_slider').attr('value'),
                        'rng': $('#elling_temp_range').attr('value'),
                        'iso': $('#elling_pressure_slider').attr('value')},
                    'energy_analysis': {
                        'data_source':0,
                        'process_type': 0,
                        't_ox': 0,
                        't_red': 0,
                        'p_ox': 0,
                        'p_red': 0,
                        'h_rec': 0,
                        'mech_env': 0,
                        'pump_ener': 0,
                        'w_feed': 0,
                        'steam_h_rec': 0,
                        'param_disp': 0,
                        'cutoff': 0
                        },
                    'updatekeys': { update_to_views }
                });
                // displays the currently selected material and data properties
                function showdata(r, key){ 
                        var selected = r[key].slice(-1) + ''
                        selected = selected.split(",");
                        var i;
                        var selected_form = "";
                        for (i = 0; i < selected.length; i++) { 
                        if (isNaN(selected[i])){selected_form += selected[i];} else
                        {selected_form += "<sub>" + selected[i] + "</sub>";};
                        };
                        selected_form = "<h4>" + selected_form.split("Ox")[0] + "O<sub>3-&delta;</sub>" + "</h4>";
                        selected_mat.innerHTML = selected_form;
                        
                        var selected_exp = r[key].slice(-1) + ''
                        
                        if (selected_exp.includes("n.a.")){
                        selected_exp_form = "<h5>no</h5>";
                        } else {
                        selected_exp = selected_exp.split("Ox").slice(-1) + ''
                        selected_exp = selected_exp.split(",");
                        var j;
                        var selected_exp_form = "";
                        for (j = 1; j < selected_exp.length; j++) { 
                        if (isNaN(selected_exp[j])){selected_exp_form += selected_exp[j];} else
                        {selected_exp_form += "<sub>" + selected_exp[j] + "</sub>";};
                        };
                        selected_exp_form = "<h5>yes: " + selected_exp_form.split("O<sub>3</sub>")[0] + "O<sub>3-&delta;</sub>" + "</h5>";
                        };
                        selected_exp_mat.innerHTML = selected_exp_form;
                        
                        var selected_elastic = r[key].slice(-1) + ''
                        selected_elastic = selected_elastic.split(",").slice(-2);
                        if (selected_elastic.includes("true")){selected_elastic = "<h5>yes</h5>";} else
                        {selected_elastic = "<h5>no, using data for SrFeO<sub>3-&delta;</sub> as an approximation</h5>";};
                        selected_elast.innerHTML = selected_elastic;
                        
                        var selected_updt_form = r[key].slice(-1) + ''
                        selected_updt_form = selected_updt_form.split(",").slice(-1);
                        selected_updt.innerHTML = "<h5>" + selected_updt_form + "</h5>";
                        };
                        
                // update plots depending on the keys
                function update_plots(div, r, key){
                            if (key === "isotherm") {
                                var title = "T=" + $('#temp_slider').attr('value') + " K";
                                var xaxis_title = "p<sub>O2</sub> (bar)";
                                var yaxis_title = "δ";
                            }
                            if (key === "isobar") {
                                var title = "p<sub>O2</sub>=10<sup>" + $('#pressure_slider').attr('value') + "</sup> bar"; 
                                var xaxis_title = "T (K)";
                                var yaxis_title = "δ";
                            }
                            if (key === "isoredox") {
                                var title = "δ=" + $('#redox_slider').attr('value'); 
                                var xaxis_title = "T (K)";
                                var yaxis_title = "p<sub>O2</sub> (bar)";
                            }
                            if (key === "enthalpy_dH") {
                                var title = "theo: T=" + $('#dH_temp_slider').attr('value') + " K, exp: T undefined";
                                var xaxis_title = "δ";
                                var yaxis_title = "ΔH<sub>O</sub> (kJ/mol)";
                            }
                            if (key === "entropy_dS") {
                                var title = "theo: T=" + $('#dS_temp_slider').attr('value') + " K, exp: T undefined";
                                var xaxis_title = "δ";
                                var yaxis_title = "ΔS<sub>O</sub> (J/molK)";
                            }
                            if (key === "ellingham") {
                                var title = "δ=" + $('#elling_redox_slider').attr('value'); 
                                var xaxis_title = "T (K)";
                                var yaxis_title = "ΔG<sub>O</sub> (kJ/mol)";
                            }
                            if (key === "energy_analysis") {
                                var title = r[key][0]['title']; 
                                var yaxis_title = r[key][0]['yaxis_title'];
                                var yaxis_titlefont = {
                                                  size: 22,
                                                      };
                                var xaxis_tickfont = {
                                                  size: 12,
                                                      };
                            }
                            var axis = {
                                exponentformat: "E", tickfont: { size: 15 }, showline: "True",
                                ticks: "inside", tickwidth: 1, tickcolor: '#000000',
                                linewidth: 1, zeroline: "False",
                                titlefont: { family: 'Arial', size: 20, color: '#000000' }
                            };
                            var xaxis = JSON.parse(JSON.stringify(axis)); // deepcopy
                            xaxis['title'] = xaxis_title;
                            if (key === "isotherm") { xaxis['type'] = 'log'; }
                            var yaxis = JSON.parse(JSON.stringify(axis)); // deepcopy
                            yaxis['title'] = yaxis_title;
                            yaxis['titlefont'] = yaxis_titlefont;
                            xaxis['tickfont'] = xaxis_tickfont;
                            if (key === "isoredox") { yaxis['type'] = 'log'; }
                            if (key === "enthalpy_dH") { yaxis['range'] = r[key].slice(-2)[0] ; }
                            if (key === "entropy_dS") { yaxis['range'] = r[key].slice(-2)[0]; }
                            if (key != "energy_analysis"){
                            Plotly.newPlot(div, r[key].slice(0, -1), {
                                title: title, showlegend: false, xaxis: xaxis, yaxis: yaxis,
                                margin: {l: 80, r: 20, b: 60, t: 35}
                            });}
                            if (key === "energy_analysis"){
                            Plotly.newPlot(div, r[key] , {
                                title: title, showlegend: false, xaxis: xaxis, yaxis: yaxis, 
                                margin: {l: 80, r: 120, b: 130, t: 35}, height: 650, width: 1200, autosize: false, barmode: 'stack'
                            });
                            }
                            };
                        
                $.ajax({
                    type: 'POST',
                    url: '../rest/' + cid,
                    data: payload,
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function(data, textStatus, jqXHR) {
                        // data['response'] = {'isotherm': {'x':, [...], 'y': [...]}, 'isobar': ...}
                        var r = data['response'];
                        Object.keys(r).forEach(function(key,index) {
                            // key: the name of the object key
                            // index: the ordinal position of the key within the object 
                            if (key != "energy_analysis") { showdata(r, key); };
                            var div = document.getElementById(key);
                            if (updatekeys.includes(key)){ // only update those plots defined in updatekeys
                            window.filleddivs += key;
                            update_plots(div,r,key);
                            };
       
                        });
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        console.log(errorThrown);
                    }
                });
            }; 
            $(".backgrid > tbody > tr:first > td:nth-child(6)").click()
        });
    });
});
</script>

{% endif %}
{% endblock %}
