{% extends "../../webtzite/templates/base/header_footer.html" %}
{% load staticfiles %}

{% block title %} RedoxThermoCSP {% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href='{% static "js/components/bootstrap/dist/css/bootstrap.css" %}' charset="utf-8">
<link rel="stylesheet" href='{% static "js/components/backgrid/lib/backgrid.css" %}' charset="utf-8">
<link rel="stylesheet" href='{% static "js/components/backgrid-paginator/backgrid-paginator.css" %}' charset="utf-8">
<link rel="stylesheet" href='{% static "js/components/backgrid-filter/backgrid-filter.css" %}' charset="utf-8">
<link rel="stylesheet" href='{% static "js/components/backgrid-grouped-columns/backgrid-grouped-columns.css" %}' charset="utf-8">
<link rel="stylesheet" href='{% static "js/components/json-human/css/json.human.css" %}' charset="utf-8">
{% endblock extra_css %}

{% block content %}
<!--
<ul class="nav nav-pills">
    <li role="presentation"><a href='tolerance_factors/'>tolerance factors</a></li>
</ul>
-->

{% if alert %}

<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  {{ alert }}
</div>

{% else %}

<style>
.backgrid { font-family: "symbola"; }
.backgrid tbody tr:hover { background-color: #f9f9f9; }
.backgrid .sortable { text-align: center; }
.backgrid thead th button { display: inline; }
.jh-root { font-family: "symbola"; }
.jh-type-string { font-style: normal; }
code { display: block; white-space: pre-wrap; }
</style>

<div class="container">
    <a href="{% url 'mpcontribs_portal_index' %}">&laquo; Portal</a>
    <div class="row">
        <div class="col-md-12">
            <h2>{{ title }}</h2>
            {{ provenance|safe }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <code>
                from mpcontribs.users.dlr_vieten.rest.rester import DlrVietenRester
                mpr = DlrVietenRester()
                mpr.get_contributions()
            </code>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>List of Contributions</h3>
            {{ table|safe }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id=isotherm></div>
        </div>
    </div>

</div>

<script>
requirejs(['main'], function() {
    require(["plotly", "backbone"], function(Plotly, Backbone) {
        $(document).ready(function(){
            Backbone.on('cellclicked', function(e) {
                var row = $(e.currentTarget).parent();
                var url = row.find("td:nth-child(2) > a").attr('href');
                var cid = url.split('/').pop();
                $.ajax({
                    type: 'GET',
                    url: 'rest/' + cid,
                    success: function(data, textStatus, jqXHR) {
                        // data['response'] = {'x':, [...], 'y': [...]}
                        Plotly.newPlot('isotherm', [data['response']],
                                {title: 'Isotherm for ' + cid, showLegend: false});
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        console.log(errorThrown);
                    }
                });
            });
        });
    });
});
</script>

{% endif %}
{% endblock %}
