{% extends "../../webtzite/templates/base/header_footer.html" %}
{% load staticfiles %}

{% block title %} RedoxThermoCSP {% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href='{% static "js/components/bootstrap/dist/css/bootstrap.css" %}' charset="utf-8">
<link rel="stylesheet" href='{% static "js/components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.css" %}' charset="utf-8">
<link rel="stylesheet" href='{% static "js/components/backgrid/lib/backgrid.css" %}' charset="utf-8">
<link rel="stylesheet" href='{% static "js/components/backgrid-paginator/backgrid-paginator.css" %}' charset="utf-8">
<link rel="stylesheet" href='{% static "js/components/backgrid-filter/backgrid-filter.css" %}' charset="utf-8">
<link rel="stylesheet" href='{% static "js/components/backgrid-grouped-columns/backgrid-grouped-columns.css" %}' charset="utf-8">
<link rel="stylesheet" href='{% static "js/components/json-human/css/json.human.css" %}' charset="utf-8">
{% endblock extra_css %}

{% block content %}
<!--
<ul class="nav nav-pills">
    <li role="presentation"><a href='tolerance_factors/'>tolerance factors</a></li>
</ul>
-->

{% if alert %}

<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  {{ alert }}
</div>

{% else %}

<style>
.backgrid { font-family: "symbola"; }
.backgrid tbody tr:hover { background-color: #f9f9f9; }
.backgrid .sortable { text-align: center; }
.backgrid thead th button { display: inline; }
.jh-root { font-family: "symbola"; }
.jh-type-string { font-style: normal; }
code { display: block; white-space: pre-wrap; }
</style>

<div class="container">
    <a href="{% url 'mpcontribs_portal_index' %}">&laquo; Portal</a>
    <div class="row">
        <div class="col-md-12">
            <h2>{{ title }}</h2>
            {{ provenance|safe }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <code>
                from mpcontribs.users.dlr_vieten.rest.rester import DlrVietenRester
                mpr = DlrVietenRester()
                mpr.get_contributions()
            </code>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Data</h3>
            <ul>
                <li>Click on a Contribution Identifier in the table to open a
                    detail page with graphs for ΔH/ΔS vs δ, and the raw data.</li>
                <li>To update isotherm, isobar, and isoredox functions, set the
                    variables and plot ranges below, and click on a row in the table.
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h4>Isotherm</h4>
            <b>Temperature: </b><input id="temp_slider" type="text"
            data-slider-min="500" data-slider-max="1800" data-slider-step="10"
            data-slider-value="1000"/><b> K</b><br>
            <b>Plot Range: </b>
            <input id="pressure_range" type="text" class="span2" value=""
            data-slider-min="-7" data-slider-max="3" data-slider-step="0.05"
            data-slider-value="[-5,-1]"/><b> 10ⁿ bar</b>
        </div>
        <div class="col-md-4">
            <h4>Isobar</h4>
            <b>Pressure: </b><input id="pressure_slider" type="text"
            data-slider-min="-7" data-slider-max="3" data-slider-step="0.05"
            data-slider-value="1"/><b> 10ⁿ bar</b><br>
            <b>Plot Range: </b>
            <input id="temp_range" type="text" class="span2" value=""
            data-slider-min="500" data-slider-max="1800" data-slider-step="10"
            data-slider-value="[600,1200]"/><b> K</b>
        </div>
        <div class="col-md-4">
            <h4>Isoredox</h4>
            <b>Redox δ: </b><input id="redox_slider" type="text"
            data-slider-min="0" data-slider-max="0.5" data-slider-step="0.01"
            data-slider-value="0.3"/><br>
            <b>Plot Range: </b>
            <input id="redox_temp_range" type="text" class="span2" value=""
            data-slider-min="500" data-slider-max="1800" data-slider-step="10"
            data-slider-value="[600,1200]"/><b> K</b>
        </div>
        <!--
        <div class="col-md-3">
            <h4>Ellingham</h4>
            <b>Pressure: </b><input id="elling_pressure_slider" type="text"
            data-slider-min="-7" data-slider-max="3" data-slider-step="1"
            data-slider-value="1"/><b> 10ⁿ bar</b><br>
            <b>Plot Range: </b>
            <input id="elling_temp_range" type="text" class="span2" value=""
            data-slider-min="300" data-slider-max="1300" data-slider-step="100"
            data-slider-value="[400,1200]"/><b> K</b>
        </div>
        -->
    </div>

    <div class="row" style="margin-top: 10px;">
        <div class="col-md-4">
            <div id=isotherm></div>
        </div>
        <div class="col-md-4">
            <div id=isobar></div>
        </div>
        <div class="col-md-4">
            <div id=isoredox></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{ table|safe }}
        </div>
    </div>

</div>

<script>
requirejs(['main'], function() {
    require(["plotly", "backbone", "bootstrap-slider"], function(Plotly, Backbone) {
        $(document).ready(function(){
            $('#temp_slider').slider({}); $('#pressure_range').slider({});
            $('#pressure_slider').slider({}); $('#temp_range').slider({});
            $('#redox_slider').slider({}); $('#redox_temp_range').slider({});
            //$('#elling_pressure_slider').slider({}); $('#elling_temp_range').slider({});
            Backbone.on('cellclicked', function(e) {
                var row = $(e.currentTarget).parent();
                var url = row.find("td:nth-child(2) > a").attr('href');
                var cid = url.split('/').pop();
                var payload = JSON.stringify({
                    'isotherm': {
                        'iso': $('#temp_slider').attr('value'),
                        'rng': $('#pressure_range').attr('value')
                    }, 'isobar': {
                        'iso': $('#pressure_slider').attr('value'),
                        'rng': $('#temp_range').attr('value')
                    }, 'isoredox': {
                        'iso': $('#redox_slider').attr('value'),
                        'rng': $('#redox_temp_range').attr('value')
                    },
                    //'ellingham': {
                    //    'iso': $('#elling_pressure_slider').attr('value'),
                    //    'rng': $('#elling_temp_range').attr('value')
                    //}
                });
                $.ajax({
                    type: 'POST',
                    url: 'rest/' + cid,
                    data: payload,
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function(data, textStatus, jqXHR) {
                        // data['response'] = {'isotherm': {'x':, [...], 'y': [...]}, 'isobar': ...}
                        var r = data['response'];
                        Object.keys(r).forEach(function(key,index) {
                            // key: the name of the object key
                            // index: the ordinal position of the key within the object 
                            var div = document.getElementById(key);
                            Plotly.newPlot(div, [r[key]], {
                                showLegend: false, //title: key,   
                                margin: {l: 30, r: 15, b: 25, t: 25}
                            });
                        });
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        console.log(errorThrown);
                    }
                });
            }); 
            $(".backgrid > tbody > tr:first > td:nth-child(4)").click()

        });
    });
});
</script>

{% endif %}
{% endblock %}
