{% extends "landingpage.html" %}

{% block extra_content %}
<h3>Isographs</h3>

<div class="row">
    <div class="col-md-7">
        <label for="identifiers_list">Click to select material:</label>
        <select id="identifiers_list" style="width: 100%;"></select>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <h4>Currently selected: </h4>
        <h5>Experimental data available: </h4>
        <h5>Elastic tensors available: </h4>
        <h5>Theoretical data updated: </h4>
    </div>
    <div class="col-md-4">
        <div id="spinner_main" name="spinner"></div>
        <input type="hidden" id="cid">
        <div id="selected_mat"></div>
        <div id="selected_exp_mat"></div>
        <div id="selected_elast"></div>
        <div id="selected_updt"></div>
    </div>
    <div class="col-md-5">
        <div class="well" style="padding: 5px 5px 5px 5px; margin-bottom: 2px; margin-left: 5px;">
            <small>Click on a Contribution Identifier in the table to open a detail
                page with graphs for ΔH/ΔS vs δ, and the raw data. To show isotherm,
                isobar, and isoredox functions, use the dropdown menu. Variables
                and plot ranges can be adjusted with the sliders. All thermodynamic
                quantities are given as per mol of O (monatomic oxygen). Please refer
                to the <a href="https://docs.mpcontribs.org/redox_thermo_csp/">documentation</a>
                for more detailed information.</small>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <center>
            <h4><b>Isotherm</b></h4>
        </center>
    </div>
    <div class="col-md-4">
        <center>
            <h4><b>Isobar</b></h4>
        </center>
    </div>
    <div class="col-md-4">
        <center>
            <h4><b>Isoredox</b></h4>
        </center>
    </div>
</div>
<div class="row" style="margin-top: 25px;">
    <div class="col-md-1">
        <b>Temperature:</b>
    </div>
    <div class="col-md-3">
        <input name="iso_slider" id="temp_slider" type="text"
                                data-slider-min="500" data-slider-max="1800" data-slider-step="10"
                                                                             data-slider-value="1000"/><b> K</b><br>
    </div>
    <div class="col-md-1">
        <b>Pressure:</b>
    </div>
    <div class="col-md-3">
        <input name="iso_slider" id="pressure_slider" type="text"
                                    data-slider-min="-7" data-slider-max="4" data-slider-step="0.05"
                                                                             data-slider-value="0"/><b> 10ⁿ bar</b><br>
    </div>
    <div class="col-md-1">
        <b>Redox δ:</b>
    </div>
    <div class="col-md-3">
        <input name="iso_slider" id="redox_slider" type="text"
                                 data-slider-min="0" data-slider-max="0.5" data-slider-step="0.01"
                                                                           data-slider-value="0.3"/><br>
    </div>
</div>
<div class="row">
    <div class="col-md-1">
        <b>Range:</b>
    </div>
    <div class="col-md-3">
        <input name="iso_slider" id="pressure_range" type="text" class="span2" value=""
                                                             data-slider-min="-7" data-slider-max="3" data-slider-step="0.05"
                                                                                                      data-slider-value="[-5,1]"/><b> 10ⁿ bar</b>
    </div>
    <div class="col-md-1">
        <b>Range:</b>
    </div>
    <div class="col-md-3">
        <input name="iso_slider" id="temp_range" type="text" class="span2" value=""
                                                         data-slider-min="500" data-slider-max="1800" data-slider-step="10"
                                                                                                      data-slider-value="[700,1400]"/><b> K</b>
    </div>
    <div class="col-md-1">
        <b>Range:</b>
    </div>
    <div class="col-md-3">
        <input name="iso_slider" id="redox_temp_range" type="text" class="span2" value=""
                                                               data-slider-min="500" data-slider-max="1800" data-slider-step="10"
                                                                                                            data-slider-value="[700,1400]"/><b> K</b>
    </div>
</div>
<br>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-4">
        <div id="spinner_isotherm" name="spinner"></div>
        <div id=isotherm></div>
    </div>
    <div class="col-md-4">
        <div id="spinner_isobar" name="spinner"></div>
        <div id=isobar></div>
    </div>
    <div class="col-md-4">
        <div id="spinner_isoredox" name="spinner"></div>
        <div id=isoredox></div>
    </div>
</div>
<hr>


<div class="row">
    <div class="col-md-4">
        <center>
            <h4><b>Enthalpy (dH)</b></h4>
        </center>
    </div>
    <div class="col-md-4">
        <center>
            <h4><b>Entropy (dS)</b></h4>
        </center>
    </div>
    <div class="col-md-4">
        <center>
            <h4><b>Ellingham</b></h4>
        </center>
    </div>
</div>
<div class="row" style="margin-top: 25px;">
    <div class="col-md-1">
        <b>Temperature (theo):</b>
    </div>
    <div class="col-md-3">
        <br><input name="iso_slider" id="dH_temp_slider" type="text"
                                       data-slider-min="100" data-slider-max="2000" data-slider-step="10"
                                                                                    data-slider-value="500"/><b> K</b><br>
    </div>
    <div class="col-md-1">
        <b>Temperature (theo):</b>
    </div>
    <div class="col-md-3">
        <br><input name="iso_slider" id="dS_temp_slider" type="text"
                                       data-slider-min="100" data-slider-max="2000" data-slider-step="10"
                                                                                    data-slider-value="500"/><b> K</b><br>
    </div>
    <div class="col-md-1">
        <b>Redox δ:</b>
    </div>
    <div class="col-md-3">
        <input name="iso_slider" id="elling_redox_slider" type="text"
                                        data-slider-min="0" data-slider-max="0.5" data-slider-step="0.01"
                                                                                  data-slider-value="0.3"/><br>
    </div>
</div>
<div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-3">

    </div>
    <div class="col-md-1">

    </div>
    <div class="col-md-3">

    </div>
    <div class="col-md-1">
        <b>Range:</b>
    </div>
    <div class="col-md-3">
        <input name="iso_slider" id="elling_temp_range" type="text" class="span2" value=""
                                                                data-slider-min="200" data-slider-max="2000" data-slider-step="100"
                                                                                                             data-slider-value="[400,1500]"/><b> K</b><br>
    </div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-3"></div>
    <div class="col-md-1"></div>
    <div class="col-md-3"></div>
    <div class="col-md-1"><b>Isobar line:</b></div>
    <div class="col-md-3">
        <br><input name="iso_slider" id="elling_pressure_slider"
                   type="text"
                   data-slider-min="-20"
                   data-slider-max="10"
                   data-slider-step="0.05"
                   data-slider-value="0"/><b> 10ⁿ bar</b><br>
    </div>
</div>
<br>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-4">
        <div id="spinner_enthalpy_dH" name="spinner"></div>
        <div id=enthalpy_dH></div>
    </div>
    <div class="col-md-4">
        <div id="spinner_entropy_dS" name="spinner"></div>
        <div id=entropy_dS></div>
    </div>
    <div class="col-md-4">
        <div id="spinner_ellingham" name="spinner"></div>
        <div id=ellingham></div>
    </div>
</div>

<h3>Energy Analysis</h3>

<div class="row">
    <div class="col-md-12" style="padding-top: 0px">
        <div class="well" style="padding: 5px 5px 5px 5px; margin-bottom: 2px; margin-left: 5px;">
            Allows finding the ideal material for different thermochemical
            applications. Please note that this is based on thermodynamics
            of redox reactions. Not all materials shown here are necessarily
            stable or can be synthesized. This tool allows a pre-selection
            of materials. Please refer to the
            <a href="https://docs.mpcontribs.org/redox_thermo_csp/">documentation</a>
            for more detailed information.
        </div>
    </div>
</div>

<div class="row" style="padding-top: 10px;">
    <div class="col-md-5">
        <div class="col-md-4"><b>Data Source:</b></div>
        <div class="col-md-8">
            <label class="radio-inline">
                <input type="radio" id="enal_data_source_exp" name="enal_data_source" value="Experimental">
                Experimental
            </label>
            <label class="radio-inline">
                <input type="radio" id="enal_data_source_theo" checked="checked" name="enal_data_source" value="Theoretical">
                Theoretical
            </label>
        </div>
    </div>
    <div class="col-md-7">
        <form class="form-horizontal">
            <div class="form-group" style="margin-bottom: 0px;">
                <label class="col-md-2 control-label" for="process" style="padding: 2px;"><b>Process Type:</b></label>
                <div class="col-md-9">
                    <select class="form-control" id="process">
                        <option class="opt0" selected>Air Separation / Oxygen pumping / Oxygen storage</option>
                        <option class="opt1">Water Splitting</option>
                        <option class="opt2">CO2 Splitting</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row" style="padding-top: 10px;">
    <div class="col-md-5">
        <h5>Redox Conditions</h5>

        <div class="row">
            <div class="col-md-4">
                <b>T<sub>ox</sub> (°C)</b>
            </div>
            <div class="wrapper col-md-8">
                <div id="cT_ox_enera_air">
                    <input name="energy_slider" id="T_ox_enera_air" type="text" />
                </div>
                <div id="cT_ox_enera_non_air">
                    <input name="energy_slider" id="T_ox_enera_non_air" type="text" />
                </div>
            </div>
        </div>

        <div class="row" style="padding-top: 40px;">
            <div class="col-md-4">
                <div id="ox_type"></div>
            </div>
            <div class="wrapper col-md-8">
                <div id="cp_ox_enera_air">
                    <input name="energy_slider" id="p_ox_enera_air" type="text" />
                </div>
                <div id="cp_ox_enera_non_air">
                    <input name="energy_slider" id="p_ox_enera_non_air" type="text" />
                </div>
            </div>
        </div>

        <div class="row" style="padding-top: 40px;">
            <div class="col-md-4">
                <b>T<sub>red</sub> (°C)</b>
            </div>
            <div class="wrapper col-md-8">
                <div id="cT_red_enera_air">
                    <input name="energy_slider" id="T_red_enera_air" type="text"
                                                />
                </div>
                <div id="cT_red_enera_non_air">
                    <input name="energy_slider" id="T_red_enera_non_air" type="text" />
                </div>
            </div>
        </div>

        <div class="row" style="padding-top: 40px;">
            <div class="col-md-4">
                <b>p(O<sub>2</sub>)<sub>red</sub> (bar)</b>
            </div>
            <div class="wrapper col-md-8">
                <div id="cp_red_enera_air">
                    <input name="energy_slider" id="p_red_enera_air" type="text" />
                </div>
                <div id="cp_red_enera_non_air">
                    <input name="energy_slider" id="p_red_enera_non_air" type="text" />
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-7">
        <h5>Process Conditions</h5>

        <div class="row">
            <div class="col-md-4">
                <b>Heat rec. eff.  (&#x03B7<sub>hrec, solid</sub>)</b>
            </div>
            <div class="col-md-8">
                <input name="energy_slider" id="h_rec_eff" type="text" />
            </div>
        </div>

        <div class="row" style="padding-top: 15px;">
            <form class="col-md-12 form-horizontal">
                <div class="form-group">
                    <div class="col-md-4">
                        <b>Pumping energy (Q<sub>pump</sub>)</b>
                    </div>
                    <div class="col-md-3">
                        <input name="energy_slider" id="pump_ener" type="text" value="0.0" placeholder="0.0" class="form-control">
                    </div>
                    <div class="col-md-5">
                        <div class="checkbox">
                            <b>kJ/kg of redox material or</b>
                            <label>
                                <input id="mech_env" type="checkbox" checked="checked" style="padding-top: 0px;"/>
                                use mech. envelope (10⁻⁶ - 0.7 bar)
                                <a class="pull-right" target="_blank" style="padding-left: 3px;"
                                                                      href="https://www.sciencedirect.com/science/article/pii/S0038092X16305552">
                                    <i class="fa fa-book fa-sm"></i>
                                </a>
                            </label>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="row">
            <div class="col-md-4">
                <b>Water feed temp. (°C)</b><br>
                (only for water splitting)
            </div>
            <div class="col-md-8">
                <input name="energy_slider" id="w_feed_temp" type="text" disabled/>
            </div>
        </div>

        <div class="row" style="padding-top: 30px;">
            <div class="col-md-4">
                <b>Steam h.rec.  (&#x03B7<sub>hrec, steam</sub>)</b><br>
                (only for water splitting)
            </div>
            <div class="col-md-8">
                <input name="energy_slider" id="steam_h_rec_eff" type="text" disabled />
            </div>
        </div>

    </div>

</div>

<div class="row" style="padding-top: 40px;">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-md-2 control-label" for="disp_par" style="padding: 2px;">Display:</label>
            <div class="col-md-4">
                <select class="form-control" id="disp_par">
                    <option>kJ/mol redox material</option>
                    <option>kJ/kg redox material</option>
                    <option>Wh/kg redox material</option>
                    <option selected>kJ/mol of product</option>
                    <option>kJ/L of product</option>
                    <option>Wh/L of product</option>
                    <option>Heat to fuel efficiency in % (only valid for Water Splitting)</option>
                    <option>mol product per mol redox material</option>
                    <option>L product per mol redox material</option>
                    <option>g product per mol redox material</option>
                    <option>Change in non-stoichiometry between T_ox and T_red</option>
                    <option>Mass change between T_ox and T_red</option>
                </select>
            </div>
            <label class="col-md-2 control-label" for="num_mat" style="padding: 2px;">Max # materials:</label>
            <div class="col-md-3">
                <input name="energy_slider" id="num_mat" type="text" />
            </div>
        </div>
    </form>
</div>

<div class="row" style="padding-top: 25px;">
    <div class="col-md-12">
        <div id="spinner_energy_analysis" name="spinner"></div>
        <div id=energy_analysis></div>
    </div>
</div>

<h3>Materials</h3>
{% endblock %}
