{% extends "home/templates/base/header_footer.html" %}
{% comment %}
This template is actually more general than home/templates/app/detail.html
because ID can be included as an additional header. Consider having the
material detail template extend this one.
{% endcomment %}
{% block content %}
<div class="container">
	<div class="detail" id="{% block detail_id %}{% endblock %}">
		<div class="row detail-header">
			<span class="detail-section">
				<h5><small>{% block detail_type %}{% endblock %}</small></h5>
				<h4>{% block formula %}{% endblock %}</h4>
			</span>
			<span class="vertical-line"></span>
			{% block additional_headers %}{% endblock%}
		</div>
		{% block detail_content %}{% endblock %}
	</div>
</div>
{% endblock content %}
