<h3>You are almost done! Please complete the remaining fields</h3>
<p>email: {{email}}</p>
<form action="register" method="post">{% csrf_token %}
  <div>
    <label for="id_first_name">First Name:</label>
    <div>{{ form.first_name }}</div>
    <label for="id_last_name">Last Name:</label>
    <div>{{ form.last_name }}</div>
    <label for="id_institution">Institution:</label>
    <div>{{ form.institution }}</div>
  </div>
  <input type="hidden" name="next" value="{{next|urlencode}}">
  <button type="submit">Complete Registration</button>
</form>
