{% extends "../../webtzite/templates/base/header_footer.html" %}
{% load staticfiles %}

{% block extra_css %}
<link rel="stylesheet" href='{% static "js/components/backgrid/lib/backgrid.css" %}' charset="utf-8">
{% endblock extra_css %}

{% block content %}

{% if alert %}
<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  {{ alert }}
</div>
{% endif %}

<style>
.backgrid .string-cell { text-align: center; }
.backgrid tbody tr:hover { background-color: #f9f9f9; }
</style>

{% for phase, table in tables.items %}
<h3>{{ phase|safe }}</h3>
{{ table|safe }}
{% endfor %}

{% endblock %}
