{% extends "../../mpweb_core/templates/base/header_footer.html" %}
{% block content %}
{% if alert %}
<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  {{ alert }}
</div>
{% endif %}
<style>
.backgrid .string-cell { text-align: center; }
.backgrid tbody tr:hover { background-color: #f9f9f9; }
.backgrid tbody tr.selected { background-color: yellow; }
.backgrid tbody tr { cursor: pointer; }
.backgrid-filter input[type="search"] { width: 88.5%; }
.backgrid-filter.form-search { margin:0px; }
</style>
<div class="container">
  <div class="row">
    <div class="col-md-4"><div id="graphDif"></div></div>
    <div class="col-md-4"><div id="graphD0"></div></div>
    <div class="col-md-4"><div id="graphQ"></div></div>
  </div>
  <script>
    var graphDif = document.getElementById('graphDif');
    var graphD0 = document.getElementById('graphD0');
    var graphQ = document.getElementById('graphQ');
    var dummy_trace = { x: [], y: [], type: 'scatter' }
    var margins = { l: 50, r: 5, b: 70, t: 20 };
    var ranges = {{ ranges|safe }};
    var layoutDif = { xaxis: {title: '1/T'}, yaxis: {title: 'diffusivity'}, margin: margins };
    var layoutD0 = {
      xaxis: {title: 'Z', range: ranges['Z']},
      yaxis: {title: 'D0', range: ranges['D0 [cm^2/s]']},
      margin: margins, showlegend: false
    };
    var layoutQ = {
      xaxis: {title: 'Z', range: ranges['Z']},
      yaxis: {title: 'Q', range: ranges['Q [eV]']},
      margin: margins, showlegend: false
    };
    Plotly.newPlot(graphDif, [dummy_trace], layoutDif);
    Plotly.newPlot(graphD0, [dummy_trace], layoutD0);
    Plotly.newPlot(graphQ, [dummy_trace], layoutQ);
  </script>
  <div class="row" style="margin-bottom: 5px;">
    <div class="col-md-2">
      <button id="reveal_all" type="button" class="btn btn-primary btn-sm">Reveal</button>
      <button id="collapse_all" type="button" class="btn btn-primary btn-sm">Collapse</button>
    </div>
    <div class="col-md-4">
      <div class="input-group input-group-sm">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </span>
        <input type="text" class="form-control" placeholder="search ..." id="searchinput">
        <span class="input-group-addon" id="searchclear">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </span>
      </div>
    </div>
    <div class="col-md-7"></div>
  </div>
  <div class="row">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      {% for contrib in contribs %}
      <div class="col-md-3" name="panel{{contrib.formula}}">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading{{ forloop.counter }}">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion"
                 href="#collapse{{ forloop.counter }}" aria-expanded="true"
                 aria-controls="collapse{{ forloop.counter }}">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                {{ contrib.formula }}
              </a>
              <a role="button" class="btn btn-default btn-xs pull-right" target="_blank"
                 style="position:relative;margin-left:5px;margin-top:-2px;"
                 href="/test_site/mpcontribs/explorer/materials/{{ contrib.mp_id }}/LBNL/{{ contrib.cid }}">
                #{{ contrib.short_cid }}
              </a>
              <a role="button" class="btn btn-default btn-xs pull-right" target="_blank"
                 style="position:relative;margin-top:-2px;"
                 href="https://materialsproject.org/materials/{{ contrib.mp_id }}">
                {{ contrib.mp_id }}
              </a>
            </h4>
          </div>
          <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse" role="tabpanel"
               name="host" aria-labelledby="heading{{ forloop.counter }}">
            <div id="table{{ forloop.counter }}"></div>
            <script>
              var table = {{ contrib.tables.data_supporting|safe }};
              var Row = Backbone.Model.extend({});
              var Rows = Backbone.Collection.extend({ model: Row, mode: "client" });
              var rows = new Rows(table['rows']);
              rows.on("backgrid:selected", function (model, selected) {
                var trace_index = {{ forloop.counter }};
                var traceQ = graphQ.data[trace_index];
                var idx = traceQ['x'].indexOf(model.get('Z'));
                var val = selected ? model.get('Q [eV]') : NaN;
                Plotly.restyle(graphQ, 'y.'+idx, val, [trace_index]);
              })
              var ClickableCell = Backgrid.StringCell.extend({
                events: {"click": "onClick"},
                onClick: function (e) { Backbone.trigger("cellclicked", e); }
              })
              for (var j=0; j<table['columns'].length; j++) {
                table['columns'][j]['cell'] = ClickableCell;
              }
              var grid = new Backgrid.Grid({
                columns: [{
                  name: "", cell: "select-row", headerCell: "select-all"
                }].concat(table['columns']),
                collection: rows
              });
              grid.render().sort("solute", "ascending");
              $('#table{{ forloop.counter }}').append(grid.el);
              var filter = new Backgrid.Extension.ClientSideFilter({
                collection: rows, fields: ['solute'], placeholder: "filter solutes ..."
              });
              $('#table{{ forloop.counter }}').before(filter.render().el);
              var xvals = []; var yvalsD0 = []; var yvalsQ = [];
              for (var j=0; j<table['rows'].length; j++) {
                xvals.push(table['rows'][j]['Z']);
                yvalsD0.push(table['rows'][j]['D0 [cm^2/s]']);
                yvalsQ.push(NaN);
              }
              Plotly.addTraces(graphD0, {
                x: xvals, y: yvalsD0, name: "{{ contrib.formula|safe }}",
                connectgaps: true, mode: 'lines+markers'
              });
              Plotly.addTraces(graphQ, {
                x: xvals, y: yvalsQ, name: "{{ contrib.formula|safe }}",
                connectgaps: true, mode: 'lines+markers'
              });
            </script>
          </div>
          <script>
          $('#collapse{{ forloop.counter }}').on('show.bs.collapse', function(){
              $(this).parent().find(".glyphicon-chevron-right")
                .removeClass("glyphicon-chevron-right").addClass("glyphicon-chevron-down");
          }).on('hide.bs.collapse', function(){
              $(this).parent().find(".glyphicon-chevron-down")
                .removeClass("glyphicon-chevron-down").addClass("glyphicon-chevron-right");
          });
          </script>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<script>
var hosts = $('[name=host]');
var inputs = $('#accordion').find(':input');
var panels = $('div.col-md-3[name^=panel]');
function collapse_hosts(flag) {
    for (var j=0; j<hosts.length; j++) {
      var visible = $(hosts[j]).is(":visible");
      if (flag && visible) { $(hosts[j]).collapse('hide'); }
      else if (!flag && !visible) { $(hosts[j]).collapse('show'); }
    }
};
$('#reveal_all').on('click', function (e) { collapse_hosts(false); })
$('#collapse_all').on('click', function (e) { collapse_hosts(true); })
$("#searchinput").focus(function(){ collapse_hosts(false); })
$("#searchclear").click(function(){
  $("#searchinput").val('');
  inputs.val('').trigger('keydown');
  panels.show();
});
$("#searchinput").on('keyup paste', function(){
  var txt = $(this).val();
  var dash = txt.indexOf('-');
  if (dash === -1) { // no dash found -> search in solutes for all hosts
    panels.show();
    inputs.val(txt).trigger('keydown');
  } else { // dash found -> filter/hide hosts
    var elems = txt.split('-');
    $('div.col-md-3').not('[name=panel'+elems[0]+']').hide();
    inputs.val('').trigger('keydown');
    if (elems[1] != "") { // search specific host-solute combination
      inputs.val(elems[1]).trigger('keydown');
    }
  }
})
document.onselectstart = function() { return false; }
var lastChecked = null;
Backbone.on('cellclicked', function(e) {
  var row = $(e.currentTarget).parent();
  var chbx = row.toggleClass('highlight').find(':checkbox');
  chbx.prop('checked', !chbx.prop('checked')).change();
  if(!lastChecked) { lastChecked = chbx; return; }
  if(e.shiftKey) {
    var $chkboxes = row.parent().find(':checkbox');
    var start = $chkboxes.index(chbx);
    var end = $chkboxes.index(lastChecked);
    var checked = lastChecked.prop('checked');
    $chkboxes.slice(Math.min(start,end)+1, Math.max(start,end))
      .prop('checked', checked).change();
  }
  lastChecked = chbx;
});
</script>
{% endblock %}
