{% extends "../../webtzite/templates/base/header_footer.html" %}
{% load staticfiles %}

{% block title %} RedoxThermoCSP {% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href='{% static "js/components/bootstrap/dist/css/bootstrap.css" %}' charset="utf-8">
<link rel="stylesheet" href='{% static "js/components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.css" %}' charset="utf-8">
<link rel="stylesheet" href='{% static "js/components/backgrid/lib/backgrid.css" %}' charset="utf-8">
<link rel="stylesheet" href='{% static "js/components/backgrid-paginator/backgrid-paginator.css" %}' charset="utf-8">
<link rel="stylesheet" href='{% static "js/components/backgrid-filter/backgrid-filter.css" %}' charset="utf-8">
<link rel="stylesheet" href='{% static "js/components/backgrid-grouped-columns/backgrid-grouped-columns.css" %}' charset="utf-8">
<link rel="stylesheet" href='{% static "js/components/json-human/css/json.human.css" %}' charset="utf-8">
<link rel="stylesheet" href='{% static "js/components/chosen/chosen.css" %}' charset="utf-8" />
{% endblock extra_css %}

{% block content %}
<!--
<ul class="nav nav-pills">
    <li role="presentation"><a href='tolerance_factors/'>tolerance factors</a></li>
</ul>
-->

{% if alert %}

<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  {{ alert }}
</div>

{% else %}

<style>
.backgrid { font-family: "symbola"; }
.backgrid tbody tr:hover { background-color: #f9f9f9; }
.backgrid .sortable { text-align: center; }
.backgrid thead th button { display: inline; }
.jh-root { font-family: "symbola"; }
.jh-type-string { font-style: normal; }
code { display: block; white-space: pre-wrap; }
.mytooltip {
      border-bottom: 1px dotted #000000;
      color: #000000; outline: none;
      cursor: help; text-decoration: none;
      position: relative;
}
.mytooltip span {
      margin-left: -999em;
      position: absolute;
}
.mytooltip:hover span {
  font-family: Calibri, Tahoma, Geneva, sans-serif;
  position: absolute;
  left: 1em;
  top: 2em;
  z-index: 99;
  margin-left: 0;
  width: 100px;
}
.mytooltip:hover img {
  border: 0;
  margin: -10px 0 0 -55px;
  float: left;
  position: absolute;
}
.mytooltip:hover em {
  font-family: Candara, Tahoma, Geneva, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  display: block;
  padding: 0.2em 0 0.6em 0;
}
.classic { padding: 0.8em 1em; }
.custom { padding: 0.5em 0.8em 0.8em 2em; }
* html a:hover { background: transparent; }
.classic { background: #000000; color: #FFFFFF; }
</style>

<div class="container">
   
    <div class="row">
        <div class="col-md-12">
            <a href="../">&laquo; RedoxThermoCSP</a>
            <h3>Energy Analysis</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9" style="padding-top: 0px">
            <div class="well" style="padding: 5px 5px 5px 5px; margin-bottom: 2px; margin-left: 5px;">
                Allows finding the ideal material for different thermochemical
                applications. Please note that this is based on thermodynamics
                of redox reactions. Not all materials shown here are neccessarly
                stable or can be synthesized. This tool allows a pre-selection
                of materials. Please refer to the 
                <a href="../documentation/">documentation</a> for more detailed
                information. Find more materials data in the <a href="../isographs/">Isographs</a> section.
            </div>
        </div>
        <div class="col-md-3">
            <blockquote class="blockquote pull-right" style="font-size: 13px; padding: 0px 10px;">
                <h5 style="margin: 5px;">
                    J. Vieten
                    <a class="mytooltip" href="#">
                        et al.
                        <span class="classic">
                            B. Bulfin<br>P. Huck<br>M. Horton<br>D. Guban<br>
                            L. Zhu<br>K. A. Persson<br>M. Roeb<br>C. Sattler
                        </span>
                    </a>
                </h5>
                <a href="http://dx.doi.org/" target="_blank"
                                             class="btn btn-link" role=button style="padding: 0">
                    <i class="fa fa-book fa-border fa-lg"></i>
                </a>
            </blockquote>
        </div>
    </div>

    <div class="row" style="padding-top: 10px;">
        <div class="col-md-5">
            <div class="col-md-4"><b>Data Source:</b></div>
            <div class="col-md-8">
                <label class="radio-inline">
                    <input type="radio" id="enal_data_source" name="enal_data_source" value="Experimental">
                    Experimental
                </label>
                <label class="radio-inline">
                    <input type="radio" id="enal_data_source" checked="checked" name="enal_data_source" value="Theoretical">
                    Theoretical
                </label>
            </div>
        </div>
        <div class="col-md-7">
            <form class="form-horizontal">
                <div class="form-group" style="margin-bottom: 0px;">
                    <label class="col-md-2 control-label" for="process" style="padding: 2px;"><b>Process Type:</b></label>
                    <div class="col-md-9">
                        <select class="form-control" id="process">
                            <option class="opt0" selected>Air separation / Oxygen pumping / Oxygen storage</option>
                            <option class="opt1">Water Splitting</option>
                            <option class="opt2">CO2 Splitting</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <div class="row" style="padding-top: 10px;">
        <div class="col-md-5">
            <h5>Redox Conditions</h5>

            <div class="row">
                <div class="col-md-4">
                    <b>T<sub>ox</sub> (°C)</b>
                </div>
                <div class="wrapper col-md-8">
                    <div id="cT_ox_enera_air">
                        <input id="T_ox_enera_air" type="text"
                               data-slider-ticks-snap-bounds="200"
                               data-slider-ticks="[350, 400, 450, 500, 600, 700, 800]"
                               data-slider-ticks-labels="['350', '400', '450', '500', '600', '700', '800']"
                               data-slider-value="500"
                               data-slider-tooltip="always" />
                    </div>
                    <div id="cT_ox_enera_non_air">
                        <input id="T_ox_enera_non_air" type="text"
                               data-slider-ticks-snap-bounds="200"
                               data-slider-ticks="[600, 700, 800, 900, 1000, 1050, 1100, 1150]"
                               data-slider-ticks-labels="['600', '700', '800', '900', '1000', '1050', '1100', '1150']"
                               data-slider-value="900"
                               data-slider-tooltip="always" />
                    </div>
                </div>
            </div>

            <div class="row" style="padding-top: 40px;">
                <div class="col-md-4">
                    <div id="ox_type"></div>
                </div>
                <div class="wrapper col-md-8">
                    <div id="cp_ox_enera_air">
                        <input id="p_ox_enera_air" type="text"
                        data-slider-ticks-snap-bounds="1"
                        data-slider-ticks="[1e-20, 1e-15, 1e-12, 1e-10, 1e-8, 1e-6, 1e-5, 1e-4, 1e-3]"
                        data-slider-ticks-labels="['1e-20', '1e-15', '1e-12', '1e-10', '1e-8', '1e-6', '1e-5', '1e-4', '1e-3']"
                        data-slider-value="1e-6"
                        data-slider-scale="logarithmic"
                        data-slider-tooltip="always"
                        data-slider-min="1e-20"
                        data-slider-max="1"
                        data-slider-step="1e-20"
                        /><br><br><br>
                    </div>
                    <div id="cp_ox_enera_non_air">
                        <input id="p_ox_enera_non_air" type="text"
                        data-slider-ticks-snap-bounds="1"
                        data-slider-ticks="[1e-6, 1e-5, 1e-4, 1e-3, 1e-2, 1e-1]"
                        data-slider-ticks-labels="['1e-6', '1e-5', '1e-4', '1e-3', '1e-2', '1e-1']"
                        data-slider-value="1e-3"
                        data-slider-scale="logarithmic"
                        data-slider-tooltip="always"
                        data-slider-min="1e-20"
                        data-slider-max="1"
                        data-slider-step="1e-20"
                        /><br><br><br>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <b>T<sub>red</sub> (°C)</b>
                </div>
                <div class="wrapper col-md-8">
                    <div id="cT_red_enera_air">
                        <input id="T_red_enera_air" type="text"
                        data-slider-ticks-snap-bounds="200"
                        data-slider-ticks="[600, 700, 800, 900, 1000, 1100, 1200, 1400]"
                        data-slider-ticks-labels="['600', '700', '800', '900', '1000', '1100', '1200', '1400']"
                        data-slider-value="900"
                        data-slider-tooltip="always"
                        /><br><br><br>
                    </div>
                    <div id="cT_red_enera_non_air">
                        <input id="T_red_enera_non_air" type="text"
                        data-slider-ticks-snap-bounds="200"
                        data-slider-ticks="[1100, 1200, 1250, 1300, 1350, 1400, 1450, 1500]"
                        data-slider-ticks-labels="['1100', '1200', '1250', '1300', '1350', '1400', '1450', '1500']"
                        data-slider-value="1400"
                        data-slider-tooltip="always"
                        /><br><br><br>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <b>p(O<sub>2</sub>)<sub>red</sub> (bar)</b>
                </div>
                <div class="wrapper col-md-8">
                    <div id="cp_red_enera_air">
                        <input id="p_red_enera_air" type="text"
                        data-slider-ticks-snap-bounds="1"
                        data-slider-ticks="[1e-8, 1e-6, 1e-5, 1e-4, 1e-3, 0.21, 1]"
                        data-slider-ticks-labels="['1e-8', '1e-6', '1e-5', '1e-4', '1e-3', '0.21', '1']"
                        data-slider-value="0.21"
                        data-slider-scale="logarithmic"
                        data-slider-tooltip="always"
                        data-slider-min="1e-20"
                        data-slider-max="1"
                        data-slider-step="1e-20"
                        /><br><br><br>
                    </div>
                    <div id="cp_red_enera_non_air">
                        <input id="p_red_enera_non_air" type="text"
                        data-slider-ticks-snap-bounds="1"
                        data-slider-ticks="[1e-6, 1e-5, 1e-3, 0.21, 1]"
                        data-slider-ticks-labels="['1e-6', '1e-5', '1e-3', '0.21', '1']"
                        data-slider-value="1e-5"
                        data-slider-scale="logarithmic"
                        data-slider-tooltip="always"
                        data-slider-min="1e-20"
                        data-slider-max="1"
                        data-slider-step="1e-20"
                        /><br><br><br>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-7">
            <h5>Process Conditions</h5>

            <div class="row">
                <div class="col-md-4">
                    <b>Heat rec. eff.  (&#x03B7<sub>hrec, solid</sub>)</b>
                </div>
                <div class="col-md-8">
                    <input id="h_rec_eff" type="text"
                    data-slider-min="0" data-slider-max="1.0" data-slider-step="0.01"
                    data-slider-value="0.6" data-slider-tooltip="always"/><br>    
                </div>
            </div>

            <div class="row" style="padding-top: 15px;">
				<form class="col-md-12 form-horizontal">
					<div class="form-group">
						<div class="col-md-4">
							<b>Pumping energy (Q<sub>pump</sub>)</b>
						</div>
						<div class="col-md-3">
							<input id="pump_ener" type="text" value="0.0" placeholder="0.0" class="form-control">
						</div>
						<div class="col-md-5">
							<div class="checkbox">
								<b>kJ/kg of redox material or</b>
								<label>
									<input id="mech_env" type="checkbox" checked="checked" style="padding-top: 0px;"/>
									use mech. envelope (10⁻⁶ - 0.7 bar) 
									<a class="pull-right" target="_blank" style="padding-left: 3px;"
									   href="https://www.sciencedirect.com/science/article/pii/S0038092X16305552">
                                        <i class="fa fa-book fa-sm"></i>
                                        <!--<span class="glyphicon glyphicon-book" aria-hidden="true"></span>-->
									</a>
								</label>
							</div>
						</div>
					</div>
				</form>
            </div>


            <div class="row">
                <div class="col-md-4">
                    <b>Water feed temp. (°C)</b><br>
                    (only for water splitting)
                </div>
                <div class="col-md-8">
                    <input id="w_feed_temp" type="text"
                           data-slider-min="5" data-slider-max="600" data-slider-step="5"
                           data-slider-value="200" data-slider-tooltip="always"
                           data-slider-tooltip-position="bottom" disabled/>
                </div>
            </div>

            <div class="row" style="padding-top: 30px;">
                <div class="col-md-4">
                    <b>Steam h.rec.  (&#x03B7<sub>hrec, steam</sub>)</b><br>
                    (only for water splitting)
                </div>
                <div class="col-md-8">
                    <input id="steam_h_rec_eff" type="text" disabled
                    data-slider-min="0" data-slider-max="1.0" data-slider-step="0.01"
                    data-slider-value="0.8" data-slider-tooltip="always" data-slider-tooltip-position="bottom"/><br>    
                </div>
            </div>

        </div>

    </div>


    <div class="row">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-md-2 control-label" for="disp_par" style="padding: 2px;">Display:</label>
                <div class="col-md-4">
                    <select class="form-control" id="disp_par">
                        <option>kJ/mol redox material</option>
                        <option>kJ/kg redox material</option>
                        <option>Wh/kg redox material</option>
                        <option selected>kJ/mol of product</option>
                        <option>kJ/L of product</option>
                        <option>Wh/L of product</option>
                        <option>Heat to fuel efficiency in % (only valid for Water Splitting)</option>
                        <option>mol product per mol redox material</option>
                        <option>L product per mol redox material</option>
                        <option>g product per mol redox material</option>
                        <option>Change in non-stoichiometry between T_ox and T_red</option>
                        <option>Mass change between T_ox and T_red</option>
                    </select>
                </div>
                <label class="col-md-2 control-label" for="num_mat" style="padding: 2px;">Max # materials:</label>
                <div class="col-md-3">
                    <input id="num_mat" type="text"
                           data-slider-min="1" data-slider-max="250" data-slider-step="1"
                           data-slider-value="25" data-slider-tooltip="always" data-slider-tooltip-position="bottom"/>
                </div>
            </div>
        </form>
    </div>

    <div class="row" style="padding-top: 25px;">
        <div class="col-md-12">
            <div id=energy_analysis></div>
        </div>
    </div>

</div>

<script>
requirejs(['main'], function() {
    require(["plotly", "backbone", "bootstrap-slider", "chosen"], function(Plotly, Backbone) {
        $(document).ready(function() {

            window.filleddivs = [];
      
            $('#disp_par').chosen({disable_search: true});
            $('#process').chosen({disable_search: true, width: "100%"});
            $('#pump_ener').val("0.0"); $('#disp_par').val("kJ/mol of product");
            document.getElementById("ox_type").value = "<b>p(O<sub>2</sub>)<sub>ox</sub> (bar)</b>";
                
            // update the energy analysis
            selectors = ["input[type='radio']", "select", "#pump_ener", "input[type='checkbox']"]
            selectors.forEach(function(selector) {
                $(selector).on('change', function(ev) { e("energy_analysis"); }); 
            });

            slide_selectors = [
                '#T_ox_enera_air', '#T_ox_enera_non_air', '#p_ox_enera_air', '#p_ox_enera_non_air', '#p_red_enera_air',
                '#p_red_enera_non_air', '#T_red_enera_air', '#T_red_enera_non_air', '#h_rec_eff', '#steam_h_rec_eff',
                '#w_feed_temp', '#num_mat'
            ]
            slide_selectors.forEach(function(selector) {
                $(selector).slider().on('slideStop', function(ev) { e("energy_analysis"); });
            });

            var ener_empty = "True";
            if (ener_empty === "True") {
                // if the energy analysis has not been done yet, try to do it
                e("energy_analysis");
                ener_empty = "False";
            };

            // update plots depending on the keys
            function update_plots(div, r, key) {
                if (key === "isotherm") {
                    var title = "T=" + $('#temp_slider').attr('value') + " K";
                    var xaxis_title = "p<sub>O2</sub> (bar)";
                    var yaxis_title = "δ";
                }
                if (key === "isobar") {
                    var title = "p<sub>O2</sub>=10<sup>" + $('#pressure_slider').attr('value') + "</sup> bar"; 
                    var xaxis_title = "T (K)";
                    var yaxis_title = "δ";
                }
                if (key === "isoredox") {
                    var title = "δ=" + $('#redox_slider').attr('value'); 
                    var xaxis_title = "T (K)";
                    var yaxis_title = "p<sub>O2</sub> (bar)";
                }
                if (key === "enthalpy_dH") {
                    var title = "theo: T=" + $('#dH_temp_slider').attr('value') + " K, exp: T undefined";
                    var xaxis_title = "δ";
                    var yaxis_title = "ΔH<sub>O</sub> (kJ/mol)";
                }
                if (key === "entropy_dS") {
                    var title = "theo: T=" + $('#dS_temp_slider').attr('value') + " K, exp: T undefined";
                    var xaxis_title = "δ";
                    var yaxis_title = "ΔS<sub>O</sub> (J/molK)";
                }
                if (key === "ellingham") {
                    var title = "δ=" + $('#elling_redox_slider').attr('value'); 
                    var xaxis_title = "T (K)";
                    var yaxis_title = "ΔG<sub>O</sub> (kJ/mol)";
                }
                if (key === "energy_analysis") {
                    var title = r[key][0]['title']; 
                    var yaxis_title = r[key][0]['yaxis_title'];
                    var yaxis_titlefont = {size: 22};
                    var xaxis_tickfont = {size: 12};
                }
                var axis = {
                    exponentformat: "E", tickfont: { size: 15 }, showline: "True",
                    ticks: "inside", tickwidth: 1, tickcolor: '#000000',
                    linewidth: 1, zeroline: "False",
                    titlefont: { family: 'Arial', size: 20, color: '#000000' }
                };
                var xaxis = JSON.parse(JSON.stringify(axis)); // deepcopy
                xaxis['title'] = xaxis_title;
                if (key === "isotherm") { xaxis['type'] = 'log'; }
                var yaxis = JSON.parse(JSON.stringify(axis)); // deepcopy
                yaxis['title'] = yaxis_title;
                yaxis['titlefont'] = yaxis_titlefont;
                xaxis['tickfont'] = xaxis_tickfont;
                if (key === "isoredox") { yaxis['type'] = 'log'; }
                if (key === "enthalpy_dH") { yaxis['range'] = r[key].slice(-2)[0] ; }
                if (key === "entropy_dS") { yaxis['range'] = r[key].slice(-2)[0]; }
                if (key === "energy_analysis") {
                    Plotly.newPlot(div, r[key] , {
                        title: title, showlegend: false, xaxis: xaxis, yaxis: yaxis, 
                        margin: {l: 80, r: 120, b: 130, t: 35}, height: 650, width: 1200,
                        autosize: false, barmode: 'stack'
                    });
                } else {
                    Plotly.newPlot(div, r[key].slice(0, -1), {
                        title: title, showlegend: false, xaxis: xaxis, yaxis: yaxis,
                        margin: {l: 80, r: 20, b: 60, t: 35}
                    });
                }

            };
                        

            function e(updatekeys) { 

                // enable / disable some sliders and fields in the energy analysis depending on values of other sliders/fields
                if ($("input:checked").val() === "Experimental"){
                    $('#process').val("Air separation / Oxygen pumping / Oxygen storage");
                };
                if ($('#process').val() != "Water Splitting" && !($('#steam_h_rec_eff').prop('disabled'))) {
                    $("#steam_h_rec_eff").slider("disable"); $("#w_feed_temp").slider("disable");
                }
                if ($('#process').val() === "Water Splitting") {
                    $("#steam_h_rec_eff").slider("enable"); $("#w_feed_temp").slider("enable");
                }
                $('#pump_ener').prop("disabled", $("input[type='checkbox']").prop("checked"));
                var ox_type_output = document.getElementById('ox_type');
                if ($('#process').val() === "Water Splitting") {
                    ox_type_output.innerHTML = "<b>p(H<sub>2</sub>)/p(H<sub>2</sub>O)</b>";
                };
                if ($('#process').val() === "CO2 Splitting") {
                    ox_type_output.innerHTML = "<b>p(CO)/p(CO<sub>2</sub>)</b>";
                };
                if ($('#process').val() === "Air separation / Oxygen pumping / Oxygen storage") {
                    ox_type_output.innerHTML = "<b>p(O<sub>2</sub>)<sub>ox</sub> (bar)</b>";
                };
            
                // change ticks of some sliders depending on the selected type of energy analysis
                var T_ox = 0; var p_ox = 0; var T_red = 0; var p_red = 0;
                if ($('#process').val() != "Air separation / Oxygen pumping / Oxygen storage") { 
                    document.getElementById("cT_ox_enera_air").className = "hidden";
                    document.getElementById("cT_ox_enera_non_air").className = "";
                    document.getElementById("cp_ox_enera_air").className = "hidden";
                    document.getElementById("cp_ox_enera_non_air").className = "";
                    document.getElementById("cT_red_enera_air").className = "hidden";
                    document.getElementById("cT_red_enera_non_air").className = "";
                    document.getElementById("cp_red_enera_air").className = "hidden";
                    document.getElementById("cp_red_enera_non_air").className = "";
                    T_ox = $('#T_ox_enera_non_air').attr('value');
                    T_red = $('#T_red_enera_non_air').attr('value');
                    p_ox = $('#p_ox_enera_non_air').attr('value');
                    p_red = $('#p_red_enera_non_air').attr('value');
                } else {
                    document.getElementById("cT_ox_enera_air").className = "";
                    document.getElementById("cT_ox_enera_non_air").className = "hidden";
                    document.getElementById("cp_ox_enera_air").className = "";
                    document.getElementById("cp_ox_enera_non_air").className = "hidden";
                    document.getElementById("cT_red_enera_air").className = "";
                    document.getElementById("cT_red_enera_non_air").className = "hidden";
                    document.getElementById("cp_red_enera_air").className = "";
                    document.getElementById("cp_red_enera_non_air").className = "hidden";
                    T_ox = $('#T_ox_enera_air').attr('value');
                    T_red = $('#T_red_enera_air').attr('value');
                    p_ox = $('#p_ox_enera_air').attr('value');
                    p_red = $('#p_red_enera_air').attr('value');
                }

                // reformats the update keys so the python script can read them
                var update_to_views = updatekeys + ''
                update_to_views = update_to_views.replace(/\s/g, '')
                update_to_views = update_to_views.split(",")
            
                // read slider/field values
                var payload = JSON.stringify({
                    'isotherm': {
                        'iso': $('#temp_slider').attr('value'),
                        'rng': $('#pressure_range').attr('value')
                    }, 'isobar': {
                        'iso': $('#pressure_slider').attr('value'),
                        'rng': $('#temp_range').attr('value')
                    }, 'isoredox': {
                        'iso': $('#redox_slider').attr('value'),
                        'rng': $('#redox_temp_range').attr('value')
                    }, 'enthalpy_dH': {'iso': $('#dH_temp_slider').attr('value')}, 
                    'entropy_dS': {'iso': $('#dS_temp_slider').attr('value')}, 
                    'ellingham': {
                        'del': $('#elling_redox_slider').attr('value'),
                        'rng': $('#elling_temp_range').attr('value'),
                        'iso': $('#elling_pressure_slider').attr('value')},
                    'energy_analysis': {
                        'data_source': $("input:checked").val(),
                        'process_type': $('#process').val(),
                        't_ox': T_ox,
                        't_red': T_red,
                        'p_ox': p_ox,
                        'p_red': p_red,
                        'h_rec': $('#h_rec_eff').attr('value'),
                        'mech_env': $("input[type='checkbox']").prop("checked"),
                        'pump_ener': $('#pump_ener').val(),
                        'w_feed': $('#w_feed_temp').attr('value'),
                        'steam_h_rec': $('#steam_h_rec_eff').attr('value'),
                        'param_disp': $('#disp_par').val(),
                        'cutoff': $('#num_mat').attr('value')
                        },
                    'updatekeys': { update_to_views }
                });
          
                $.ajax({
                    type: 'POST',
                    url: '../rest/5bb822469225576aeda99487',
                    data: payload,
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function(data, textStatus, jqXHR) {
                        // data['response'] = {'isotherm': {'x':, [...], 'y': [...]}, 'isobar': ...}
                        var r = data['response'];
                        Object.keys(r).forEach(function(key, index) {
                            // key: the name of the object key
                            // index: the ordinal position of the key within the object 
                            var div = document.getElementById(key);
                            if (updatekeys.includes(key)) { // only update those plots defined in updatekeys
                                if ( !(window.filleddivs.includes(key)) ) { window.filleddivs += key; }
                                update_plots(div, r, key);
                            };
                            if ( !(window.filleddivs.includes("energy_analysis")) ) { 
                                // if the energy analysis has not been done yet, try to do it
                                e("energy_analysis");
                            };
                        });
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        console.log(errorThrown);
                    }
                });

            }; 

        });
    });
});
</script>

{% endif %}
{% endblock %}
