{% extends "../../webtzite/templates/base/header_footer.html" %}
{% load staticfiles %}

{% block title %} RedoxThermoCSP {% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href='{% static "js/components/bootstrap/dist/css/bootstrap.css" %}' charset="utf-8">
<link rel="stylesheet" href='{% static "js/components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.css" %}' charset="utf-8">
<link rel="stylesheet" href='{% static "js/components/backgrid/lib/backgrid.css" %}' charset="utf-8">
<link rel="stylesheet" href='{% static "js/components/backgrid-paginator/backgrid-paginator.css" %}' charset="utf-8">
<link rel="stylesheet" href='{% static "js/components/backgrid-filter/backgrid-filter.css" %}' charset="utf-8">
<link rel="stylesheet" href='{% static "js/components/backgrid-grouped-columns/backgrid-grouped-columns.css" %}' charset="utf-8">
<link rel="stylesheet" href='{% static "js/components/json-human/css/json.human.css" %}' charset="utf-8">
{% endblock extra_css %}

{% block content %}
<!--
<ul class="nav nav-pills">
    <li role="presentation"><a href='tolerance_factors/'>tolerance factors</a></li>
</ul>
-->

{% if alert %}

<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  {{ alert|safe }}
</div>

{% else %}

<style>
.jumbotron {
    background-image: url("{{ static_url }}/background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    width: 100%;
    padding-top: 50%; /* 1:1 Aspect Ratio */
    position: relative; /* If you want text inside of it */
}
.text { color: white; position: absolute; top: 0; }
.nav-stacked > li > a { color: white; font-size: 150%; text-align: center; }
.nav-stacked > li > a:hover { background-color: black; }
</style>


<div class="container">
  <div class="jumbotron">
    <div class="text">
      <h1 class="page-header">RedoxThermoCSP</h1>
      <p>Redox Materials Thermochemistry Data for Application in Concentrated Solar Power</p>
      <p>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a href="isographs/">Generate Isographs</a></li>
            <li role="presentation"><a href="energy_analysis/">Energy Analysis</a></li>
            <li role="presentation"><a href="documentation/">Documentation</a></li>
        </ul>
      </p>
    </div>
  </div>
</div>   

{% endif %}
{% endblock %}
