MPCONTRIBS_ENVIRONMENT=dev

MPCONTRIBS_MONGO__URI=mongodb+srv://<db_username>:<db_password>@host.hash.mongodb.net/?appName=database-name
MPCONTRIBS_MONGO__DB_NAME=database-name

MPCONTRIBS_REDIS_ADDRESS=redis-address # placeholder; not used yet
MPCONTRIBS_REDIS_URL=redis-url

MPCONTRIBS_MAIL_DEFAULT_SENDER=mail-default-sender # placeholder; not used yet

MPCONTRIBS_VERSION=version
