apispec==5.1.1
asn1crypto==1.5.1
blinker==1.4
boltons==21.0.0
css-html-js-minify==2.5.5
dateparser==1.1.1
ddtrace==1.0.1
dnspython==2.2.1
filetype==1.0.10
flasgger @ git+https://github.com/flasgger/flasgger#egg=flasgger-0.9.5
flask-compress==1.11
flask-cors==3.0.10
flask-marshmallow==0.14.0
flask-mongorest-mpcontribs==1.2.4
#Flask-MonitoringDashboard @ git+https://github.com/flask-dashboard/Flask-MonitoringDashboard@development#egg=flask_monitoringdashboard-3.1.1
Flask-RQ2==18.3
gunicorn[gevent]==20.1.0
jinja2==3.1.1
json2html==1.3.0
more-itertools==8.12.0
nbformat==5.3.0
notebook==6.4.11
pint==0.19.1
psycopg2==2.9.3
pymatgen==2022.3.29
pyopenssl==22.0.0
python-snappy==0.6.1
#rq-dashboard==0.6.1
rq-scheduler==0.11.0
supervisor==4.2.4
setproctitle==1.2.3
uncertainties==3.1.6
websocket_client==1.3.2
zstandard==0.17.0
