apispec>=0.39.0
bson>=0.5.8
dnspython>=1.16.0
#flasgger @ git+https://github.com/tschaume/flasgger@flask_mongorest#egg=flasgger-0.9.3.dev0
Flask>=1.0.2
flask-log>=0.1.0
flask-cors>=3.0.7
flask-marshmallow>=0.9.0
flask-mongoengine>=0.9.5
#flask_mongorest @ git+https://github.com/tschaume/flask-mongorest@register_class#egg=flask_mongorest-0.3.1
marshmallow>=2.16.3
#marshmallow-mongoengine @ git+https://github.com/tschaume/marshmallow-mongoengine@mpcontribs#egg=marshmallow_mongoengine-0.30.0
mongoengine>=0.16.3
mimerender>=0.6.0
pymongo>=3.7.2
requests>=2.21.0
selenium>=3.141.0
beautifulsoup4>=4.7.1
css-html-js-minify>=2.5.5
toronado>=0.0.11
nbformat>=4.4.0
jupyter_client>=5.2.4
ipykernel>=5.1.0
more-itertools>=7.0.0
jupyter_enterprise_gateway>=2.0.0
pandas==0.23.4
pymatgen>=2019.3.27
gunicorn[gevent]==19.9.0
werkzeug>=0.15.3
plotly==3.10.0
PyYAML>=5.1.2
dict-deep>=2.0.2
