alabaster==0.7.12
apispec==0.39.0
Babel==2.6.0
certifi==2018.11.29
chardet==3.0.4
Click==7.0
dnspython==1.16.0
docutils==0.14
flasgger==0.9.3.dev0
Flask==1.0.2
Flask-JSON==0.3.3
flask-log==0.1.0
flask-marshmallow==0.9.0
flask-mongoengine==0.9.5
Flask-WTF==0.14.2
idna==2.8
imagesize==1.1.0
itsdangerous==1.1.0
Jinja2==2.10
jsonschema==2.6.0
MarkupSafe==1.1.0
marshmallow==2.16.3
marshmallow-mongoengine==0.9.1
mistune==0.8.4
mongoengine==0.16.3
packaging==18.0
Pygments==2.3.0
pymongo==3.7.2
pyparsing==2.3.0
pytz==2018.7
PyYAML==3.13
requests==2.21.0
six==1.12.0
snowballstemmer==1.2.1
Sphinx==1.8.2
sphinxcontrib-websupport==1.1.0
urllib3==1.24.1
Werkzeug==0.14.1
WTForms==2.2.1
