{% extends "../../webtzite/templates/base/header_footer.html" %}
{% load staticfiles %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href='{% static "js/components/chosen/chosen.css" charset="utf-8" %}'/>
{% endblock %}
{% block content %}
{% if alert %}
<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  {{ alert }}
</div>
{% endif %}
<input type=hidden id=get_card_url value="{% url 'mpcontribs_rest_index' %}">
<div class="container">
  <div class="row">
    Explore contributed
    <a class="btn btn-primary" href="materials">Materials</a> or
    <a class="btn btn-primary" href="compositions">Compositions</a>?
  </div>
  {% if collection and options %}
  <div class="row" style="margin-top:20px;">
    <form action="{{ collection }}" method=post enctype=multipart/form-data>
      {% csrf_token %}
      Select (one or more) {{ collection }} and/or projects:</br>
      <select id="{{ fields.0 }}_list" data-placeholder="Select {{ collection|slice:":-1" }}(s) ..." style="width:300px;" multiple>
        <option></option>
      </select>
      <select id="{{ fields.1 }}_list" data-placeholder="Select project(s) ..." style="width:300px;" multiple>
        <option></option>
      </select>
      <input type=submit name="submit" class="btn btn-primary" value="Find">
      </br>
      Or enter a (list of) contribution identifiers:</br>
      <select id="{{ fields.2 }}_list" data-placeholder="Enter contribution ID(s) ..." style="width:300px;" multiple>
        <option></option>
      </select>
      {% for field in fields %}
      <input type=hidden name="selection_{{ field }}" id="select_{{ field }}">
      <input type=hidden name="options_{{ field }}" id="opt_{{ field }}">
      {% endfor %}
      <input type=submit name="submit" class="btn btn-primary" value="Show">
    </form>
  </div>
  {% if urls %}
  <div class="row" style="margin-top:20px;">
    {% for url in urls %}
    <a href="{{ url }}" target="_blank">{{ url }}</a></br>
    {% endfor %}
  </div>
  {% elif main_contributions %}
  <div class="row" style="margin-top:20px;">
    {% for identifier, main_contribs in main_contributions.items %}
    <h2>{{ identifier }}</h2>
    {% for main_contrib in main_contribs %}
    <h3>{{ main_contrib.title }}</h3>
    <div class="panel-group" id="accordion-{{ identifier }}-{{ forloop.counter }}">
        {% for cid in main_contrib.cids %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a
                    id="get-card-{{ identifier }}-{{ forloop.parentloop.counter }}-{{ cid }}"
                    name=get-card data-toggle="collapse"
                    data-parent="#accordion-{{ identifier }}-{{ forloop.parentloop.counter }}"
                    href="#collapse-{{ identifier }}-{{ forloop.parentloop.counter }}-{{ cid }}"
                    data-cid="{{ cid }}"
                    data-prov="{{ main_contrib.provenance_keys }}"
                    >{{ cid }}</a>
                </h4>
            </div>
            <div id="collapse-{{ identifier }}-{{ forloop.parentloop.counter }}-{{ cid }}"
                class="panel-collapse collapse">
                <div class="panel-body" id="panel-{{ identifier }}-{{ forloop.parentloop.counter }}-{{ cid }}"></div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
    {% endfor %}
  <script>
  </script>
  {% endif %}
  <script>
    requirejs(['main'], function() {
    var options = {{ options|safe }};
    var selection = {{ selection|safe }};
    require(['chosen'], function() {
    for (field in options) {
      // initialize selection dropdown menus
      var list = document.getElementById(field + '_list');
      for (var i=0, iLen=options[field].length; i<iLen; i++) {
        var entry = document.createElement('option');
        var opt = options[field][i];
        entry.value = opt;
        entry.innerHTML = opt;
        if ($.inArray(opt, selection[field]) > -1) {
          $(entry).prop('selected', true);
        }
        list.appendChild(entry);
      }
      // activate select DOM as chosen DOM
      $('#' + field + '_list').chosen({
        search_contains: true, allow_single_deselect: true
      });
      // save options to avoid requerying database
      var opt_elem = document.getElementById('opt_' + field);
      opt_elem.value = JSON.stringify(options[field]);
      // save selection
      var sel_elem = document.getElementById('select_' + field);
      sel_elem.value = JSON.stringify(selection[field]);
      // attach change trigger event to each multi-select to store selection in hidden input fields
      $('#' + field + '_list').chosen().change(function () {
        var fld = $(this).attr('id').slice(0,-5);
        var sel_elem = document.getElementById('select_'+fld);
        selection[fld] = [];
        for (var i=0, iLen=this.options.length; i<iLen; i++) {
          var opt = this.options[i];
          if (opt.selected) { selection[fld].push(opt.value); }
        }
        sel_elem.value = JSON.stringify(selection[fld]);
      });
    }
    });
    require(['jquery', 'underscore'], function() {
        $(document).ready(function () {
            require(['js-cookie'], function(Cookies) {
                $('[name="get-card"]').click(function(){
                    var cid = $(this).data('cid');
                    var prov = $(this).data('prov');
                    var elid = $(this).attr('id').replace('get-card', 'panel');
                    var saveData = $.ajax({
                        type: 'POST',
                        url: $('#get_card_url').val()+'card/'+cid,
                        data: {'provenance_keys': prov.replace(/'/g, '"')},
                        dataType: "text",
                        success: function(data, textStatus, jqXHR) {
                            var response = JSON.parse(data);
                            $("#"+elid).html(response['response']);
                        },
                        error: function(jqXHR, textStatus, errorThrown) { $("#"+elid).text('ERROR'); }
                    });
                });
            });
        });
    });
    });
  </script>
  {% endif %}
</div>
{% endblock %}
