{% extends "mpcontribs_explorer_detail.html" %}
{% load staticfiles %}
{% block title %} Composition {{ material.pretty_formula }} {% endblock %}
{% block detail_id %}composition{% endblock %}
{% block detail_type %}composition{% endblock %}
{% block formula %}{{ material.pretty_formula }}{% endblock %}
{% block additional_headers %}
  <span class="detail-section pull-right">
    <button class="btn btn-primary" id="contribute-for-material">
      <span class="icon" data-icon="i"></span>
      <span class="text">Contribute</span>
    </button>
  </span>
{% endblock additional_headers %}
{% block detail_content %}
<div>{{ material.contributed_data }}</div>
{% endblock detail_content %}
