{% extends "../../webtzite/templates/base/header_footer.html" %}
{% block content %}
{% if alert %}
<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  {{ alert }}
</div>
{% else %}
<div class="container">
  <div class="detail" id="{% block detail_id %}{% endblock %}">
    <div class="row detail-header">
      <span class="detail-section">
        <h5><small>{% block detail_type %}{% endblock %}</small></h5>
        <h4>{% block formula %}{% endblock %}</h4>
      </span>
      <span class="vertical-line"></span>
      {% block additional_headers %}{% endblock%}
    </div>
    {% block detail_content %}{% endblock %}
  </div>
</div>
{% endif %}
{% endblock content %}
