{% extends "../../mpweb_core/templates/base/header_footer.html" %}
{% block content %}
{% if alert %}
<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  {{ alert }}
</div>
{% endif %}
<div class="container">
  <div class="row">
    Explore contributed
    <a class="btn btn-primary" href="materials">Materials</a> or
    <a class="btn btn-primary" href="compositions">Compositions</a>?
  </div>
  {% if collection and options and not alert %}
  <div class="row" style="margin-top:20px;">
    <form action="{{ collection }}" method=post enctype=multipart/form-data>
      {% csrf_token %}
      Select (one or more) {{ collection }} and/or projects:</br>
      <select id="{{ fields.0 }}_list" data-placeholder="Select {{ collection|slice:":-1" }}(s) ..." style="width:300px;" multiple>
        <option></option>
      </select>
      <select id="{{ fields.1 }}_list" data-placeholder="Select project(s) ..." style="width:300px;" multiple>
        <option></option>
      </select>
      <input type=submit name="submit" class="btn btn-primary" value="Find">
      </br>
      Or enter a (list of) contribution identifiers:</br>
      <select id="{{ fields.2 }}_list" data-placeholder="Enter contribution ID(s) ..." style="width:300px;" multiple>
        <option></option>
      </select>
      {% for field in fields %}
      <input type=hidden name="selection_{{ field }}" id="select_{{ field }}">
      <input type=hidden name="options_{{ field }}" id="opt_{{ field }}">
      {% endfor %}
      <input type=submit name="submit" class="btn btn-primary" value="Show">
    </form>
  </div>
  {% if urls %}
  <div class="row" style="margin-top:20px;">
    Results:</br>
    {% for url in urls %}
    <a href="{{ url }}" target="_blank">{{ url }}</a></br>
    {% endfor %}
  </div>
  {% endif %}
  <script>
    var options = {{ options|safe }};
    var selection = {{ selection|safe }};
    for (field in options) {
      // initialize selection dropdown menus
      var list = document.getElementById(field + '_list');
      for (var i=0, iLen=options[field].length; i<iLen; i++) {
        var entry = document.createElement('option');
        var opt = options[field][i];
        entry.value = opt;
        entry.innerHTML = opt;
        if ($.inArray(opt, selection[field]) > -1) {
          $(entry).prop('selected', true);
        }
        list.appendChild(entry);
      }
      // activate select DOM as chosen DOM
      $('#' + field + '_list').chosen({
        search_contains: true, allow_single_deselect: true
      });
      // save options to avoid requerying database
      var opt_elem = document.getElementById('opt_' + field);
      opt_elem.value = JSON.stringify(options[field]);
      // save selection
      var sel_elem = document.getElementById('select_' + field);
      sel_elem.value = JSON.stringify(selection[field]);
      // attach change trigger event to each multi-select to store selection in hidden input fields
      $('#' + field + '_list').chosen().change(function () {
        var fld = $(this).attr('id').slice(0,-5);
        var sel_elem = document.getElementById('select_'+fld);
        selection[fld] = [];
        for (var i=0, iLen=this.options.length; i<iLen; i++) {
          var opt = this.options[i];
          if (opt.selected) { selection[fld].push(opt.value); }
        }
        sel_elem.value = JSON.stringify(selection[fld]);
      });
    }
  </script>
  {% endif %}
</div>
{% endblock %}
