div[name=user_contribs] .panel {
    width: 100%; margin-bottom: 20px;
    background-color: #fff; border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
div[name=user_contribs] .panel-default { border-color: #ddd; }
div[name=user_contribs] .panel-default>.panel-heading {
    color: #333; background-color: #f5f5f5; border-color: #ddd;
}
div[name=user_contribs] .panel-heading {
    padding: 5px 15px; border-bottom: 1px solid transparent;
    border-top-left-radius: 3px; border-top-right-radius: 3px;
}
div[name=user_contribs] .panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}
div[name=user_contribs] .panel-title > a,
div[name=user_contribs] .panel-title > small,
div[name=user_contribs] .panel-title > .small,
div[name=user_contribs] .panel-title > small > a,
div[name=user_contribs] .panel-title > .small > a { color: inherit; }
div[name=user_contribs] .pull-right { float: right !important; }
div[name=user_contribs] .panel-body { padding: 15px; }

.jh-root, .jh-type-object, .jh-type-array, .jh-key, .jh-value, .jh-root tr {
    box-sizing: border-box;         /* Opera/IE 8+ */
    font-weight: normal;
    font-family: monospace;
}
.jh-key, .jh-value { margin: 0; padding: 0.2em; font-weight: normal; }
.jh-value{ border-left: 1px solid #ddd; }
.jh-type-number { text-align: center; color: #5286BC; }
.jh-type-bool-true { text-align: center; color: #5A811C; }
.jh-type-bool-false { text-align: center; color: #D45317; }
.jh-type-bool-image {
    width: 20px; height: 20px;
    margin-right: 5px; vertical-align: bottom;
}
.jh-type-string { font-weight: normal; color: #6E6E6E; }
.jh-array-key { font-style: italic; font-size: small; text-align: center; }
.jh-object-key, .jh-array-key { color: #444; vertical-align: top; font-weight: normal; }
.jh-type-object > tbody > tr:nth-child(odd), .jh-type-array > tbody > tr:nth-child(odd) {
    background-color: #f5f5f5;
}
.jh-type-object > tbody > tr:nth-child(even), .jh-type-array > tbody > tr:nth-child(even) {
    background-color: #fff;
}
.jh-type-object, .jh-type-array { width: 100%; border-collapse: collapse; }
.jh-root { border: 1px solid #ccc; margin: 0.2em; }
th.jh-key { text-align: left; }
.jh-type-object > tbody > tr, .jh-type-array > tbody > tr {
    border: 1px solid #ddd; border-bottom: none;
}
.jh-type-object > tbody > tr:last-child, .jh-type-array > tbody > tr:last-child {
    border-bottom: 1px solid #ddd;
}
.jh-type-object > tbody > tr:hover, .jh-type-array > tbody > tr:hover {
    border: 1px solid #F99927;
}
.jh-empty { font-style: italic; color: #999; font-size: small; }
.jh-a { text-decoration: none; }
.jh-a:hover { text-decoration: underline; }
.jh-a span.jh-type-string { text-decoration: none; color : #268ddd; font-weight: normal; }
