name: release

on:
  release:
    types: [published]

jobs:
  deploy:
    runs-on: ubuntu-latest
    strategy:
        max-parallel: 6

    steps:
    - uses: actions/checkout@v2.3.4
      with:
        fetch-depth: 0

    - uses: actions/setup-python@v2.2.2
      with:
        python-version: 3.7

    - name: Install dependencies and build
      run: |
        python -m pip install --upgrade pip
        pip install setuptools wheel
        cd mpcontribs-client
        python setup.py sdist --dist-dir ../dist
        python setup.py bdist_wheel --dist-dir ../dist

    - name: Publish package
      uses: pypa/gh-action-pypi-publish@master
      with:
        user: __token__
        password: ${{ secrets.PYPI_TOKEN }}
        packages_dir: ./dist/
