.backgrid { font-family: "symbola"; }
.backgrid tbody tr:hover { background-color: #f9f9f9; }
.backgrid .sortable { text-align: center; }
.backgrid thead th button { display: inline; }
.backgrid .string-cell { text-align: center; }
.backgrid tbody tr:hover { background-color: #f9f9f9; }
.backgrid tbody tr.selected { background-color: yellow; }
.backgrid tbody tr { cursor: pointer; }
.backgrid .sortable { text-align: center; }
.backgrid thead th button { display: inline; }
.backgrid-filter input[type="search"] { width: 100px; }
.backgrid-filter.form-search { margin:0px; }
.jh-type-string { font-weight: normal; }
code { display: block; white-space: pre-wrap; }
.mytooltip {
  border-bottom: 1px dotted #000000;
  color: #000000; outline: none;
  cursor: help; text-decoration: none;
  position: relative;
}
.mytooltip span {
  margin-left: -999em;
  position: absolute;
}
.mytooltip:hover span {
  font-family: Calibri, Tahoma, Geneva, sans-serif;
  position: absolute;
  left: 1em;
  top: 2em;
  z-index: 99;
  margin-left: 0;
  width: 100px;
}
.mytooltip:hover img {
  border: 0;
  margin: -10px 0 0 -55px;
  float: left;
  position: absolute;
}
.mytooltip:hover em {
  font-family: Candara, Tahoma, Geneva, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  display: block;
  padding: 0.2em 0 0.6em 0;
}
.classic { padding: 0.8em 1em; }
.custom { padding: 0.5em 0.8em 0.8em 2em; }
* html a:hover { background: transparent; }
.classic { background: #000000; color: #FFFFFF; }
.panel { border: 2px solid #000000; }
.panel-default { height: 95%; }
.panel-default > .panel-heading { border-color: #000; }
.panel:hover { box-shadow: 0 0 5px 5px rgba(0, 140, 186, 0.5); }
.equal { display: flex; display: -webkit-flex; flex-wrap: wrap; }
.myrow { font-size: 0; }
.myrow > * { float: none; display: inline-block; font-size: 14px; }
.myrow > *:last-child { vertical-align: bottom; }
.myrow p:last-child { margin-bottom: 0; }
